expand ipsec.conf.5 to be clearer regarding non-RSA certificate usage

### What needs to be done

{left,right}cert= option in ipsec.conf man pages states `If you are using leftrsasigkey=%cert this defines the certificate nickname of your certificate in the NSS database. This can be on software or hardware security device.`, making me believe the option is only to be used with RSA-based certificates. However, it is used in ECDSA signatures (e.g., see test ikev2-x509-ecdsa-01), and should also be usable for EDDSA signatures.

@cagney states there are undocumented left/right ecdsakey, eddsakey and pubkey conf options, where "the preferred one should probably be {left,right}pubkey=".

Ultimately, the task here is: document ecdsakey, eddsakey and pubkey conf options, update {left,right}cert= option description and potentially make a test for {left,right}pubkey ?

some background

As well as %cert, et.al. {left,right}{ecdsa,rsa,eddsa}sigkey= accept raw public keys.  The format is defined by the RFCs:
```
        IPSECKEY_ALGORITHM_RSA = 2,             /* RFC 4025 */
        IPSECKEY_ALGORITHM_ECDSA = 3,           /* RFC 8005 (see IANA Considerations) */
        IPSECKEY_ALGORITHM_EDDSA = 4,           /* RFC 9373 */
```
where as {left,right}pubkey= accepts a der encoded public key info
```
        IPSECKEY_ALGORITHM_X_PUBKEY = 5,        /* Subject Public Key Info - guess */
```
("guess" really means determine by examining the encoded ASN.1).

btw it is tested, see testing/pluto/whack-hostkey-07-ikev2-ckaid-pubkey-ecdsa which, imnsho is pretty evil


hmm, the config file in the above test should contain a breadcrumb like:
```
#leftpubkey=<filled-in-later>
```
so it is found by grep