netlink: ipsec command hangs expecting NLMSG_DONE to be sent in a separate message

Linux kernel 6.9.0-rc1 contains a [change](https://lore.kernel.org/netdev/20240315124808.033ff58d@elisabeth/T/) that makes `NLMSG_DONE` to be delivered together with all the records from the dump.  However,  it seems like libreswan expects it in the separate message and hangs forever on `RTM_GETROUTE` dump.

On 6.9.0-rc1 I see:
```
/usr/sbin/ipsec auto --config ipsec.conf --ctlsocket pluto.ctl \
                     --start --asynchronous tun-in-1

recvfrom(7, 
[
  [{nlmsg_len=52, nlmsg_type=RTM_NEWROUTE, nlmsg_flags=NLM_F_MULTI, ...],
  ...
  [{nlmsg_len=52, nlmsg_type=RTM_NEWROUTE, nlmsg_flags=NLM_F_MULTI, ...],
  [{nlmsg_len=20, nlmsg_type=NLMSG_DONE, nlmsg_flags=NLM_F_MULTI, ...]
], 40960, 0, {sa_family=AF_NETLINK, nl_pid=0, nl_groups=00000000}, [12])

recvfrom(7, <-- Stuck here forever
```

On 6.8.0 the output is following:
```
recvfrom(7, 
[
  [{nlmsg_len=52, nlmsg_type=RTM_NEWROUTE, nlmsg_flags=NLM_F_MULTI, ...],
  ...
  [{nlmsg_len=52, nlmsg_type=RTM_NEWROUTE, nlmsg_flags=NLM_F_MULTI, ...]
], 40960, 0, {sa_family=AF_NETLINK, nl_pid=0, nl_groups=00000000}, [12])

recvfrom(7,
  [{nlmsg_len=20, nlmsg_type=NLMSG_DONE, nlmsg_flags=NLM_F_MULTI,}, 0],
  40728, 0, {sa_family=AF_NETLINK, nl_pid=0, nl_groups=00000000}, [12])
close(7)
```

Result is that process (`ipsec/addconn` in my case) hangs and can't finish configuration.

would you have a debug log?  Neither `netlink_xfrm_message_processor()` nor `netlink_rtm_message_processor()` expect more than one message.  I guess they need loops like:
```
	struct nlmsghdr *nlmsg = (struct nlmsghdr *)msgbuf;
	for (; NLMSG_OK(nlmsg, (size_t)len); nlmsg = NLMSG_NEXT(nlmsg, len)) {
```
which is in `process_nlmsgs()`

I'm not sure how to enable debug logging, but I think the issue is that this check is incorrect: https://github.com/libreswan/libreswan/blob/736d1e527e8a717000ff40a70f8ce1d9156055bc/lib/libswan/kernel_netlink_reply.c#L58
`recvfrom()` receives a whole bunch of messages, but the code checks the type of a first one, expecting all of them to be the same or just expects to receive only one netlink message at a time.  Since the first message is `RTM_NEWROUTE`, the `for(;;)` loop goes on a second round and gets stuck.

Ah, that makes more sense then my suggestion.

To enable debugging add `plutodebug=all` to the config setup section vis:
```
config setup
	logfile=/tmp/pluto.log
	logtime=no
	logappend=no
	plutodebug=all
	dumpdir=/tmp
```


Does this still happen in 6.9.0-rc7 ?If so, can you git bisect the kernel?(I have the attention of the Linux IPsec maintainer and this is what he asked)PaulSent using a virtual keyboard on a phoneOn May 4, 2024, at 22:14, cagney ***@***.***> wrote:﻿
Ah, that makes more sense then my suggestion.
To enable debugging add plutodebug=all to the config setup section vis:
config setup
	logfile=/tmp/pluto.log
	logtime=no
	logappend=no
	plutodebug=all
	dumpdir=/tmp


—Reply to this email directly, view it on GitHub, or unsubscribe.You are receiving this because you are subscribed to this thread.Message ID: ***@***.***>

Yea, it's libreswan's bug.

> Ah, that makes more sense then my suggestion.
> 
> To enable debugging add `plutodebug=all` to the config setup section vis:
> 
> ```
> config setup
> 	logfile=/tmp/pluto.log
> 	logtime=no
> 	logappend=no
> 	plutodebug=all
> 	dumpdir=/tmp
> ```

FWIW, in case you still want a debug log:
```
May 29 09:29:40.035365: Initializing NSS using read-write database "sql:/root/ovs/tests/system-kmod-testsuite.dir/172/left/ipsec.d"
May 29 09:29:40.064183: FIPS Mode: NO
May 29 09:29:40.064212: NSS crypto library initialized
May 29 09:29:40.064231: FIPS mode disabled for pluto daemon
May 29 09:29:40.064234: FIPS HMAC integrity support [disabled]
May 29 09:29:40.064324: libcap-ng support [enabled]
May 29 09:29:40.064336: Linux audit support [enabled]
May 29 09:29:40.064356: Linux audit activated
May 29 09:29:40.064360: Starting Pluto (Libreswan Version 4.12 IKEv2 IKEv1 XFRM XFRMI esp-hw-offload FORK PTHREAD_SETSCHEDPRIO GCC_EXCEPTIONS NSS (IPsec profile) (NSS-KDF) DNSSEC SYSTEMD_WATCHDOG LABELED_IPSEC (SELINUX) SECCOMP LIBCAP_NG LINUX_AUDIT AUTH_PAM NETWORKMANAGER CURL(non-NSS) LDAP(non-NSS)) pid:10703
May 29 09:29:40.064362: core dump dir: /run/pluto
May 29 09:29:40.064364: secrets file: /root/ovs/tests/system-kmod-testsuite.dir/172/left/secrets
May 29 09:29:40.064366: leak-detective disabled
May 29 09:29:40.064367: NSS crypto [enabled]
May 29 09:29:40.064369: XAUTH PAM support [enabled]
May 29 09:29:40.064381: initializing libevent in pthreads mode: headers: 2.1.12-stable (2010c00); library: 2.1.12-stable (2010c00)
May 29 09:29:40.064427: NAT-Traversal support  [enabled]
May 29 09:29:40.064532: Encryption algorithms:
May 29 09:29:40.064541:   AES_CCM_16         {256,192,*128} IKEv1:     ESP     IKEv2:     ESP     FIPS              aes_ccm, aes_ccm_c
May 29 09:29:40.064545:   AES_CCM_12         {256,192,*128} IKEv1:     ESP     IKEv2:     ESP     FIPS              aes_ccm_b
May 29 09:29:40.064548:   AES_CCM_8          {256,192,*128} IKEv1:     ESP     IKEv2:     ESP     FIPS              aes_ccm_a
May 29 09:29:40.064551:   3DES_CBC           [*192]         IKEv1: IKE ESP     IKEv2: IKE ESP     FIPS NSS(CBC)     3des
May 29 09:29:40.064555:   CAMELLIA_CTR       {256,192,*128} IKEv1:     ESP     IKEv2:     ESP                      
May 29 09:29:40.064558:   CAMELLIA_CBC       {256,192,*128} IKEv1: IKE ESP     IKEv2: IKE ESP          NSS(CBC)     camellia
May 29 09:29:40.064561:   AES_GCM_16         {256,192,*128} IKEv1:     ESP     IKEv2: IKE ESP     FIPS NSS(GCM)     aes_gcm, aes_gcm_c
May 29 09:29:40.064564:   AES_GCM_12         {256,192,*128} IKEv1:     ESP     IKEv2: IKE ESP     FIPS NSS(GCM)     aes_gcm_b
May 29 09:29:40.064567:   AES_GCM_8          {256,192,*128} IKEv1:     ESP     IKEv2: IKE ESP     FIPS NSS(GCM)     aes_gcm_a
May 29 09:29:40.064570:   AES_CTR            {256,192,*128} IKEv1: IKE ESP     IKEv2: IKE ESP     FIPS NSS(CTR)     aesctr
May 29 09:29:40.064573:   AES_CBC            {256,192,*128} IKEv1: IKE ESP     IKEv2: IKE ESP     FIPS NSS(CBC)     aes
May 29 09:29:40.064576:   NULL_AUTH_AES_GMAC {256,192,*128} IKEv1:     ESP     IKEv2:     ESP     FIPS              aes_gmac
May 29 09:29:40.064579:   NULL               []             IKEv1:     ESP     IKEv2:     ESP                      
May 29 09:29:40.064582:   CHACHA20_POLY1305  [*256]         IKEv1:             IKEv2: IKE ESP          NSS(AEAD)    chacha20poly1305
May 29 09:29:40.064584: Hash algorithms:
May 29 09:29:40.064587:   MD5                               IKEv1: IKE         IKEv2:                  NSS         
May 29 09:29:40.064589:   SHA1                              IKEv1: IKE         IKEv2: IKE         FIPS NSS          sha
May 29 09:29:40.064592:   SHA2_256                          IKEv1: IKE         IKEv2: IKE         FIPS NSS          sha2, sha256
May 29 09:29:40.064594:   SHA2_384                          IKEv1: IKE         IKEv2: IKE         FIPS NSS          sha384
May 29 09:29:40.064596:   SHA2_512                          IKEv1: IKE         IKEv2: IKE         FIPS NSS          sha512
May 29 09:29:40.064599:   IDENTITY                          IKEv1:             IKEv2:             FIPS             
May 29 09:29:40.064601: PRF algorithms:
May 29 09:29:40.064603:   HMAC_MD5                          IKEv1: IKE         IKEv2: IKE              native(HMAC) md5
May 29 09:29:40.064606:   HMAC_SHA1                         IKEv1: IKE         IKEv2: IKE         FIPS NSS          sha, sha1
May 29 09:29:40.064615:   HMAC_SHA2_256                     IKEv1: IKE         IKEv2: IKE         FIPS NSS          sha2, sha256, sha2_256
May 29 09:29:40.064618:   HMAC_SHA2_384                     IKEv1: IKE         IKEv2: IKE         FIPS NSS          sha384, sha2_384
May 29 09:29:40.064620:   HMAC_SHA2_512                     IKEv1: IKE         IKEv2: IKE         FIPS NSS          sha512, sha2_512
May 29 09:29:40.064623:   AES_XCBC                          IKEv1:             IKEv2: IKE              native(XCBC) aes128_xcbc
May 29 09:29:40.064625: Integrity algorithms:
May 29 09:29:40.064627:   HMAC_MD5_96                       IKEv1: IKE ESP AH  IKEv2: IKE ESP AH       native(HMAC) md5, hmac_md5
May 29 09:29:40.064631:   HMAC_SHA1_96                      IKEv1: IKE ESP AH  IKEv2: IKE ESP AH  FIPS NSS          sha, sha1, sha1_96, hmac_sha1
May 29 09:29:40.064634:   HMAC_SHA2_512_256                 IKEv1: IKE ESP AH  IKEv2: IKE ESP AH  FIPS NSS          sha512, sha2_512, sha2_512_256, hmac_sha2_512
May 29 09:29:40.064637:   HMAC_SHA2_384_192                 IKEv1: IKE ESP AH  IKEv2: IKE ESP AH  FIPS NSS          sha384, sha2_384, sha2_384_192, hmac_sha2_384
May 29 09:29:40.064640:   HMAC_SHA2_256_128                 IKEv1: IKE ESP AH  IKEv2: IKE ESP AH  FIPS NSS          sha2, sha256, sha2_256, sha2_256_128, hmac_sha2_256
May 29 09:29:40.064642:   HMAC_SHA2_256_TRUNCBUG            IKEv1:     ESP AH  IKEv2:         AH                   
May 29 09:29:40.064645:   AES_XCBC_96                       IKEv1:     ESP AH  IKEv2: IKE ESP AH       native(XCBC) aes_xcbc, aes128_xcbc, aes128_xcbc_96
May 29 09:29:40.064648:   AES_CMAC_96                       IKEv1:     ESP AH  IKEv2:     ESP AH  FIPS              aes_cmac
May 29 09:29:40.064650:   NONE                              IKEv1:     ESP     IKEv2: IKE ESP     FIPS              null
May 29 09:29:40.064652: DH algorithms:
May 29 09:29:40.064655:   NONE                              IKEv1:             IKEv2: IKE ESP AH  FIPS NSS(MODP)    null, dh0
May 29 09:29:40.064657:   MODP1536                          IKEv1: IKE ESP AH  IKEv2: IKE ESP AH       NSS(MODP)    dh5
May 29 09:29:40.064660:   MODP2048                          IKEv1: IKE ESP AH  IKEv2: IKE ESP AH  FIPS NSS(MODP)    dh14
May 29 09:29:40.064662:   MODP3072                          IKEv1: IKE ESP AH  IKEv2: IKE ESP AH  FIPS NSS(MODP)    dh15
May 29 09:29:40.064664:   MODP4096                          IKEv1: IKE ESP AH  IKEv2: IKE ESP AH  FIPS NSS(MODP)    dh16
May 29 09:29:40.064667:   MODP6144                          IKEv1: IKE ESP AH  IKEv2: IKE ESP AH  FIPS NSS(MODP)    dh17
May 29 09:29:40.064669:   MODP8192                          IKEv1: IKE ESP AH  IKEv2: IKE ESP AH  FIPS NSS(MODP)    dh18
May 29 09:29:40.064672:   DH19                              IKEv1: IKE         IKEv2: IKE ESP AH  FIPS NSS(ECP)     ecp_256, ecp256
May 29 09:29:40.064674:   DH20                              IKEv1: IKE         IKEv2: IKE ESP AH  FIPS NSS(ECP)     ecp_384, ecp384
May 29 09:29:40.064677:   DH21                              IKEv1: IKE         IKEv2: IKE ESP AH  FIPS NSS(ECP)     ecp_521, ecp521
May 29 09:29:40.064679:   DH31                              IKEv1: IKE         IKEv2: IKE ESP AH       NSS(ECP)     curve25519
May 29 09:29:40.064681: IPCOMP algorithms:
May 29 09:29:40.064683:   DEFLATE                           IKEv1:     ESP AH  IKEv2:     ESP AH  FIPS             
May 29 09:29:40.064685:   LZS                               IKEv1:             IKEv2:     ESP AH  FIPS             
May 29 09:29:40.064688:   LZJH                              IKEv1:             IKEv2:     ESP AH  FIPS             
May 29 09:29:40.064690: testing CAMELLIA_CBC:
May 29 09:29:40.064692:   Camellia: 16 bytes with 128-bit key
May 29 09:29:40.064735:   Camellia: 16 bytes with 128-bit key
May 29 09:29:40.064759:   Camellia: 16 bytes with 256-bit key
May 29 09:29:40.064782:   Camellia: 16 bytes with 256-bit key
May 29 09:29:40.064805: testing AES_GCM_16:
May 29 09:29:40.064807:   empty string
May 29 09:29:40.064834:   one block
May 29 09:29:40.064858:   two blocks
May 29 09:29:40.064879:   two blocks with associated data
May 29 09:29:40.064901: testing AES_CTR:
May 29 09:29:40.064903:   Encrypting 16 octets using AES-CTR with 128-bit key
May 29 09:29:40.064925:   Encrypting 32 octets using AES-CTR with 128-bit key
May 29 09:29:40.064950:   Encrypting 36 octets using AES-CTR with 128-bit key
May 29 09:29:40.064973:   Encrypting 16 octets using AES-CTR with 192-bit key
May 29 09:29:40.064994:   Encrypting 32 octets using AES-CTR with 192-bit key
May 29 09:29:40.065017:   Encrypting 36 octets using AES-CTR with 192-bit key
May 29 09:29:40.065039:   Encrypting 16 octets using AES-CTR with 256-bit key
May 29 09:29:40.065060:   Encrypting 32 octets using AES-CTR with 256-bit key
May 29 09:29:40.065083:   Encrypting 36 octets using AES-CTR with 256-bit key
May 29 09:29:40.065106: testing AES_CBC:
May 29 09:29:40.065108:   Encrypting 16 bytes (1 block) using AES-CBC with 128-bit key
May 29 09:29:40.065130:   Encrypting 32 bytes (2 blocks) using AES-CBC with 128-bit key
May 29 09:29:40.065154:   Encrypting 48 bytes (3 blocks) using AES-CBC with 128-bit key
May 29 09:29:40.065178:   Encrypting 64 bytes (4 blocks) using AES-CBC with 128-bit key
May 29 09:29:40.065218: testing AES_XCBC:
May 29 09:29:40.065225:   RFC 3566 Test Case 1: AES-XCBC-MAC-96 with 0-byte input
May 29 09:29:40.065317:   RFC 3566 Test Case 2: AES-XCBC-MAC-96 with 3-byte input
May 29 09:29:40.065414:   RFC 3566 Test Case 3: AES-XCBC-MAC-96 with 16-byte input
May 29 09:29:40.065519:   RFC 3566 Test Case 4: AES-XCBC-MAC-96 with 20-byte input
May 29 09:29:40.065612:   RFC 3566 Test Case 5: AES-XCBC-MAC-96 with 32-byte input
May 29 09:29:40.065703:   RFC 3566 Test Case 6: AES-XCBC-MAC-96 with 34-byte input
May 29 09:29:40.065798:   RFC 3566 Test Case 7: AES-XCBC-MAC-96 with 1000-byte input
May 29 09:29:40.066004:   RFC 4434 Test Case AES-XCBC-PRF-128 with 20-byte input (key length 16)
May 29 09:29:40.066094:   RFC 4434 Test Case AES-XCBC-PRF-128 with 20-byte input (key length 10)
May 29 09:29:40.066191:   RFC 4434 Test Case AES-XCBC-PRF-128 with 20-byte input (key length 18)
May 29 09:29:40.066363: testing HMAC_MD5:
May 29 09:29:40.066368:   RFC 2104: MD5_HMAC test 1
May 29 09:29:40.066495:   RFC 2104: MD5_HMAC test 2
May 29 09:29:40.066604:   RFC 2104: MD5_HMAC test 3
May 29 09:29:40.066714: testing HMAC_SHA1:
May 29 09:29:40.066717:   CAVP: IKEv2 key derivation with HMAC-SHA1
May 29 09:29:40.067016: 40 CPU cores online
May 29 09:29:40.067020: starting up 39 helper threads
May 29 09:29:40.067074: started thread for helper 0
May 29 09:29:40.067104: helper(1) seccomp security disabled for crypto helper 1
May 29 09:29:40.067114: started thread for helper 1
May 29 09:29:40.067148: helper(2) seccomp security disabled for crypto helper 2
May 29 09:29:40.067153: started thread for helper 2
May 29 09:29:40.067184: helper(3) seccomp security disabled for crypto helper 3
May 29 09:29:40.067221: started thread for helper 3
May 29 09:29:40.067263: started thread for helper 4
May 29 09:29:40.067299: started thread for helper 5
May 29 09:29:40.067300: helper(5) seccomp security disabled for crypto helper 5
May 29 09:29:40.067304: helper(4) seccomp security disabled for crypto helper 4
May 29 09:29:40.067332: started thread for helper 6
May 29 09:29:40.067371: helper(7) seccomp security disabled for crypto helper 7
May 29 09:29:40.067391: started thread for helper 7
May 29 09:29:40.067391: helper(6) seccomp security disabled for crypto helper 6
May 29 09:29:40.067431: started thread for helper 8
May 29 09:29:40.067459: helper(9) seccomp security disabled for crypto helper 9
May 29 09:29:40.067481: started thread for helper 9
May 29 09:29:40.067467: helper(8) seccomp security disabled for crypto helper 8
May 29 09:29:40.067523: started thread for helper 10
May 29 09:29:40.067514: helper(10) seccomp security disabled for crypto helper 10
May 29 09:29:40.067557: started thread for helper 11
May 29 09:29:40.067560: helper(11) seccomp security disabled for crypto helper 11
May 29 09:29:40.067590: helper(12) seccomp security disabled for crypto helper 12
May 29 09:29:40.067593: started thread for helper 12
May 29 09:29:40.067628: helper(13) seccomp security disabled for crypto helper 13
May 29 09:29:40.067652: started thread for helper 13
May 29 09:29:40.067683: helper(14) seccomp security disabled for crypto helper 14
May 29 09:29:40.067687: started thread for helper 14
May 29 09:29:40.067726: helper(15) seccomp security disabled for crypto helper 15
May 29 09:29:40.067741: started thread for helper 15
May 29 09:29:40.067774: started thread for helper 16
May 29 09:29:40.067773: helper(16) seccomp security disabled for crypto helper 16
May 29 09:29:40.067819: helper(17) seccomp security disabled for crypto helper 17
May 29 09:29:40.067828: started thread for helper 17
May 29 09:29:40.067858: helper(18) seccomp security disabled for crypto helper 18
May 29 09:29:40.067885: started thread for helper 18
May 29 09:29:40.067913: helper(19) seccomp security disabled for crypto helper 19
May 29 09:29:40.067920: started thread for helper 19
May 29 09:29:40.067947: helper(20) seccomp security disabled for crypto helper 20
May 29 09:29:40.067968: started thread for helper 20
May 29 09:29:40.068000: started thread for helper 21
May 29 09:29:40.068006: helper(21) seccomp security disabled for crypto helper 21
May 29 09:29:40.068027: helper(22) seccomp security disabled for crypto helper 22
May 29 09:29:40.068034: started thread for helper 22
May 29 09:29:40.068070: helper(23) seccomp security disabled for crypto helper 23
May 29 09:29:40.068074: started thread for helper 23
May 29 09:29:40.068104: helper(24) seccomp security disabled for crypto helper 24
May 29 09:29:40.068122: started thread for helper 24
May 29 09:29:40.068160: started thread for helper 25
May 29 09:29:40.068165: helper(25) seccomp security disabled for crypto helper 25
May 29 09:29:40.068192: helper(26) seccomp security disabled for crypto helper 26
May 29 09:29:40.068210: started thread for helper 26
May 29 09:29:40.068230: helper(27) seccomp security disabled for crypto helper 27
May 29 09:29:40.068263: started thread for helper 27
May 29 09:29:40.068295: helper(28) seccomp security disabled for crypto helper 28
May 29 09:29:40.068303: started thread for helper 28
May 29 09:29:40.068339: helper(29) seccomp security disabled for crypto helper 29
May 29 09:29:40.068348: started thread for helper 29
May 29 09:29:40.068373: helper(30) seccomp security disabled for crypto helper 30
May 29 09:29:40.068395: started thread for helper 30
May 29 09:29:40.068426: started thread for helper 31
May 29 09:29:40.068427: helper(31) seccomp security disabled for crypto helper 31
May 29 09:29:40.068456: helper(32) seccomp security disabled for crypto helper 32
May 29 09:29:40.068461: started thread for helper 32
May 29 09:29:40.068491: helper(33) seccomp security disabled for crypto helper 33
May 29 09:29:40.068517: started thread for helper 33
May 29 09:29:40.068544: helper(34) seccomp security disabled for crypto helper 34
May 29 09:29:40.068553: started thread for helper 34
May 29 09:29:40.068582: helper(35) seccomp security disabled for crypto helper 35
May 29 09:29:40.068591: started thread for helper 35
May 29 09:29:40.068619: helper(36) seccomp security disabled for crypto helper 36
May 29 09:29:40.068631: started thread for helper 36
May 29 09:29:40.068654: helper(37) seccomp security disabled for crypto helper 37
May 29 09:29:40.068663: started thread for helper 37
May 29 09:29:40.068681: helper(38) seccomp security disabled for crypto helper 38
May 29 09:29:40.068722: started thread for helper 38
May 29 09:29:40.068727: using Linux xfrm kernel support code on #32 SMP PREEMPT_DYNAMIC Wed May 29 09:05:54 EDT 2024
May 29 09:29:40.068735: helper(39) seccomp security disabled for crypto helper 39
May 29 09:29:40.068962: selinux support is NOT enabled.
May 29 09:29:40.068976: systemd watchdog not enabled - not sending watchdog keepalives
May 29 09:29:40.070187: seccomp security disabled
May 29 09:29:40.074181: listening for IKE messages
May 29 09:29:40.074259: Kernel supports NIC esp-hw-offload
May 29 09:29:40.074358: adding UDP interface p0 10.1.1.1:500
May 29 09:29:40.074570: adding UDP interface p0 10.1.1.1:4500
May 29 09:29:40.076178: loading secrets from "/root/ovs/tests/system-kmod-testsuite.dir/172/left/secrets"
May 29 09:29:40.716739: netlink_expire got message with length 116 < 232 bytes; ignore message
May 29 09:29:40.716763: netlink_expire got message with length 116 < 232 bytes; ignore message
May 29 09:29:40.717740: netlink_expire got message with length 116 < 232 bytes; ignore message
May 29 09:29:40.730342: loading secrets from "/root/ovs/tests/system-kmod-testsuite.dir/172/left/secrets"
May 29 09:30:12.099544: Pluto is shutting down
May 29 09:30:12.101276: forgetting secrets
May 29 09:30:12.101297: shutting down interface p0 10.1.1.1:4500
May 29 09:30:12.101300: shutting down interface p0 10.1.1.1:500
```

There is nothing particularly useful in it, AFAICT.  There are some misinterpreted netlink messages in there, but they seem unrelated.

FYI, a debug log should be full of `|` prefixes.

I believe I fixed this (or at least something very similar) in v5.0
```
May 29 09:29:40.716739: netlink_expire got message with length 116 < 232 bytes; ignore message
```


Hmm.  That's interesting.  I wonder if pluto expects the debug configuration to be in the ipsec.conf from the beginning.
The way OVS tests work is that we start pluto with an empty config and then populate it and reload.  Also, I tried to build v5.0 from sources, but it coredumps on attempt to read an empty ipsec.conf:
```
# coredumpctl debug /usr/libexec/ipsec/pluto
           PID: 80359 (pluto)
           UID: 0 (root)
           GID: 0 (root)
        Signal: 11 (SEGV)
     Timestamp: Wed 2024-05-29 10:14:16 EDT (22s ago)
  Command Line: /usr/libexec/ipsec/pluto --config /root/ovs/tests/system-kmod-testsuite.dir/172/left/ipsec.conf --ipsecdir /root/ovs/tests/system-kmod-testsuite.dir/172/left --nssdir /root/ovs/tests/system-kmod-testsuite.dir/172/left/ipsec.d --logfile /root/ovs/tests/system-kmod-testsuite.dir/172/left/pluto.log --secretsfile /root/ovs/tests/system-kmod-testsuite.dir/172/left/secrets --rundir /root/ovs/tests/system-kmod-testsuite.dir/172/left
    Executable: /usr/libexec/ipsec/pluto
 Control Group: /user.slice/user-0.slice/session-1.scope
          Unit: session-1.scope
         Slice: user-0.slice
       Session: 1
     Owner UID: 0 (root)
       Boot ID: 372de2760f144c5c9ea7e79ecb498c35
    Machine ID: 39a32213c9dfa52abe52b73ff8b4dfc3
      Hostname: rhel9
       Storage: /var/lib/systemd/coredump/core.pluto.0.372de2760f144c5c9ea7e79ecb498c35.80359.1716992056000000.zst (present)
  Size on Disk: 369.3K
       Message: Process 80359 (pluto) of user 0 dumped core.
                
                Stack trace of thread 80359:
                #0  0x000055f55aff2c00 load_setup (pluto + 0x50c00)
                #1  0x00007fe0b023feb0 __libc_start_call_main (libc.so.6 + 0x3feb0)
                #2  0x00007fe0b023ff60 __libc_start_main@@GLIBC_2.34 (libc.so.6 + 0x3ff60)
                #3  0x000055f55aff5f35 _start (pluto + 0x53f35)
                ELF object binary architecture: AMD x86-64

Program terminated with signal SIGSEGV, Segmentation fault.
#0  0x000055f55aff2c00 in load_setup (cfgp=0x55f58c436010, cfgp=0x55f58c436010, cfg=0x55f58c436140) at /usr/src/debug/libreswan-5.0-0.5.0_HEAD.x86_64/lib/libipsecconf/confread.c:206
206                     assert(kw->keyword.keydef->validity & kv_config);

(gdb) bt
#0  0x000055f55aff2c00 in load_setup (cfgp=0x55f58c436010, cfgp=0x55f58c436010, cfg=0x55f58c436140) at /usr/src/debug/libreswan-5.0-0.5.0_HEAD.x86_64/lib/libipsecconf/confread.c:206
#1  confread_load (setuponly=true, logger=0x55f58c435eb0, file=0x55f58c435fc0 "/root/ovs/tests/system-kmod-testsuite.dir/172/left/ipsec.conf") at /usr/src/debug/libreswan-5.0-0.5.0_HEAD.x86_64/lib/libipsecconf/confread.c:1023
#2  read_cfg_file (logger=0x55f58c435eb0, longindex=2, configfile=0x55f58c435fc0 "/root/ovs/tests/system-kmod-testsuite.dir/172/left/ipsec.conf") at /usr/src/debug/libreswan-5.0-0.5.0_HEAD.x86_64/programs/pluto/plutomain.c:340
#3  main (argc=13, argv=<optimized out>) at /usr/src/debug/libreswan-5.0-0.5.0_HEAD.x86_64/programs/pluto/plutomain.c:1187

```

OK, only the whack method worked for me for some reason.  I see a bunch of debug logs prefixed with `|`.  I can post it here if you want, but I don't see anything interesting in them.  Besides, pluto itself is not the process that hangs, it's `addcon` invoked by `ipsec auto`.  Debug configuration doesn't seem to affect those, I can only add `--verbose` for them to increase the logging.  The result is following:

```
# /usr/bin/sh /usr/libexec/ipsec/auto --verbose --config /root/ovs/tests/system-kmod-testsuite.dir/172/left/ipsec.conf --ctlsocket /root/ovs/tests/system-kmod-testsuite.dir/172/left/pluto.ctl --start tun-in-1
opening file: /root/ovs/tests/system-kmod-testsuite.dir/172/left/ipsec.conf
debugging mode enabled
end of file /root/ovs/tests/system-kmod-testsuite.dir/172/left/ipsec.conf
Loading default conn
Loading conn tun-in-1
starter: left is KH_DEFAULTROUTE
Loading conn tun-out-1
starter: left is KH_DEFAULTROUTE
loading named conns: tun-in-1
resolving family=IPv4 src=<defaultroute> gateway=<defaultroute> peer 10.1.1.2
  seeking GATEWAY
    query GETROUTE+REQUEST+ROOT+MATCH
    add RTA_DST 10.1.1.2 (peer->addr)
^C
```
It hangs there forever, so killed with `^C`.

that helps a lot, I'm guessing:
```
ipsec showroute 10.1.1.2
```
hangs

Yep, it does.  Regardless of the provided address.

and that eventually calls `netlink_read_reply()` which you identified as the suspect.

please try mainline

I can confirm that `ipsec showroute` doesn't hang anymore and seems to get the correct route.  However, I can't run the whole test, since `ipsec auto` is not available and the test depends on it considerably...  So, we'll need to re-work a lot of things in order to make OVS work with Libreswan 5.0 before I can test the whole thing.  Might take a while.

There should be an alias for “ipsec auto” inside the ipsec command to make transition easier.

> There should be an alias for “ipsec auto” inside the ipsec command to make transition easier.

Hmm, you're right.  The problem is not that it doesn't exist, it just fails with `--config` option being unknown.  However, when executed without this option `ipsec auto --ctlsocket $(pwd)/pluto.ctl --start --asynchronous tun-in-1` forks and executes `addcon` with the default config: ` "--config", "/etc/ipsec.conf"`, this is not a config file `pluto` is running with, so of course it can't find the configuration and fails with: `conn 'tun-in-1': not found (tried aliases)`.

Can you file a new bug for this?

> Can you file a new bug for this?

Sure: https://github.com/libreswan/libreswan/issues/1726

thanks!