how permissive is POLICY_ALLOW_NO_SAN?

assuming that the certificate chain validates, but match_end_cert_id() fails, what is acceptable to POLICY_ALLOW_NO_SAN?
For instance just DN IDs, or also addresses?



Following on from this, when if ever, should the ID be updated in this case?

as per man page:

`When using certificates, check whether the IKE peer ID is present as a subjectAltName (SAN) on the peer certificate. Accepted values are yes (the default) or no. This check should only be disabled when intentionally using certificates that do not have their peer ID specified as a SAN on the certificate. These certificates violate RFC 4945 Section 3.1 and are normally rejected to prevent a compromised host from assuming the IKE identity of another host. The SAN limits the IDs that the peer is able to assume.`

In these cases, the IKE ID specified MUST match the connection peer ID, but the certificate used does not need to have a SAN matching the IKE peer ID. This allows a certificate with no SAN or a different SAN, to still be used, provided regular PKIX validation to a valid root CA still succeeds. Obviously this option should not be disabled, but sometimes people are stuck with needing to work with badly issued certificates.

If the ID is of type ID_ASN1, eg matching the DN, then this option should do nothing. Either way, the peer IKE ID and the DN of the peer's certificate still has to match.

Currently:

- the peer's certs get basic verification - EE back to some root
- match_end_cert_id(c->that.id, ee) called
- if success then good
- else if ALLOW_NO_SAN then "good"
- else "bad"

so we're interested in the case where match_end_cert_id() fails but ALLOW_NO_SAN.  Currently checks stop there.  I'm not sure I follow the other suggested checks.

On Mon, 3 Jan 2022, cagney wrote:

> Currently:
>
>  *  the peer's certs get basic verification - EE back to some root

So that does PKIX validation. we trust the cert.

>  *  match_end_cert_id(c->that.id, ee) called

That matches configured ID, irrespective of type. So DN or FQDN with SAN
(or ***@***.***)

>  *  if success then good
>  *  else if ALLOW_NO_SAN then "good"
>  *  else "bad"

I think that is correct. Again, one _should_ configure the IKE ID to be
DN or SAN, but for instance if you have right=%any and rightid=%any
because you need to support multiple clients with bad certs, this is
where you let them pass with ALLOW_NO_SAN.

> so we're interested in the case where match_end_cert_id() fails but ALLOW_NO_SAN. Currently checks stop there. I'm not sure I
> follow the other suggested checks.

We should have a test cases for these and description.txt's. See:

ikev1-x509-17-id-any
ikev1-x509-18-id-notany
ikev1-x509-19-id-notany-responder
ikev1-x509-20-id-any-responder
ikev2-x509-05-san-firstemail-match
ikev2-x509-32-id-any
ikev2-x509-33-id-notany
ikev2-x509-34-id-notany-responder
ikev2-x509-35-id-any-responder
nss-cert-chain-04-ikev2


And again for people reading this years later. One SHOULD really avvoid
using require-id-on-certificate=no as it is very insecure as one
compromised certificate could pretend to be other nodes by forging
another host's ID and get accepted. This option is never what you want
unless you are running into a badly coded and configured peer that you
cannot control.



Ok, so the code leading into ALLOW_NO_SAN should be ok.

The other part of this is what happens next.  Some code paths were then updating that.id, sometimes conditional on %fromcert/wildcard.  Currently the code leaves that.id unchanged.

> The other part of this is what happens next. Some code paths were then updating that.id, sometimes conditional on %fromcert/wildcard. Currently the code leaves that.id unchanged.

I suspect this isn't possible.  At least my attempt at testing it failed.  With left=%any leftid=%fromcert then match_end_cert_id() would succeed as it uses the DN from the cert and the ALLOW_NO_SAN code would never trigger.