EXPECTATION FAILED error message

Kernel: 6.5.7
Libreswan: 4.12

The connection works, but I get this error when starting the connection:
```
okt 20 07:42:56 <HOST> pluto[107072]: "04c6c01f-5020-41da-848a-5d9e1383af14" #2: Allowing questionable (microsoft) proposal anyway
okt 20 07:42:56 <HOST> pluto[107072]: EXPECTATION FAILED: src_client_proto == dst_client_proto (raw_policy() +126 /programs/pluto/kernel_ops.c)
okt 20 07:42:56 <HOST> NetworkManager[107085]: 003 "04c6c01f-5020-41da-848a-5d9e1383af14" #2: NAT-Traversal: received 2 NAT-OA. Ignored because peer is not NATed
okt 20 07:42:56 <HOST> NetworkManager[107085]: 003 "04c6c01f-5020-41da-848a-5d9e1383af14" #2: our client subnet returned doesn't match my proposal - us: 192.168.1.100/32 vs them: xx.xxx.xx.xx/32
okt 20 07:42:56 <HOST> NetworkManager[107085]: 003 "04c6c01f-5020-41da-848a-5d9e1383af14" #2: Allowing questionable (microsoft) proposal anyway
okt 20 07:42:56 <HOST> pluto[107072]: EXPECTATION FAILED: selector_protocol(*dst_client) == client_proto (xfrm_raw_policy() +536 /programs/pluto/kernel_xfrm.c)
okt 20 07:42:56 <HOST> pluto[107072]: EXPECTATION FAILED: peer_client->ipproto == transport_proto->ipproto (bare_shunt_ptr() +1395 /programs/pluto/kernel.c)
okt 20 07:42:56 <HOST> pluto[107072]: EXPECTATION FAILED: src_client_proto == dst_client_proto (raw_policy() +126 /programs/pluto/kernel_ops.c)
okt 20 07:42:56 <HOST> pluto[107072]: EXPECTATION FAILED: selector_protocol(*dst_client) == client_proto (xfrm_raw_policy() +536 /programs/pluto/kernel_xfrm.c)
okt 20 07:42:56 <HOST> pluto[107072]: "04c6c01f-5020-41da-848a-5d9e1383af14" #2: IPsec SA established transport mode {ESPinUDP=>0xc6ae2fbd <0x2298ab51 xfrm=AES_CBC_256-HMAC_SHA1_96 NATD=195.228.216.245:4500 DPD=passive}
okt 20 07:42:56 <HOST> NetworkManager[107085]: 004 "04c6c01f-5020-41da-848a-5d9e1383af14" #2: IPsec SA established transport mode {ESPinUDP=>0xc6ae2fbd <0x2298ab51 xfrm=AES_CBC_256-HMAC_SHA1_96 NATD=195.228.216.245:4500 DPD=passive}
okt 20 07:42:56 <HOST> nm-l2tp-service[106772]: Libreswan IPsec connection is up.

```

can you provide logs showing what was negotiated for the child?

I didn't see any other problems...
 The full connection log is available here:

<details>

```
okt 21 21:05:45 <HOST> nm-l2tp-service[328834]: Check port 1701
okt 21 21:05:45 <HOST> nm-l2tp-service[328834]: Can't bind to port 1701
okt 21 21:05:45 <HOST> NetworkManager[328843]: Redirecting to: systemctl restart ipsec.service
okt 21 21:05:45 <HOST> systemd[1]: Stopping ipsec.service...
okt 21 21:05:45 <HOST> pluto[107072]: shutting down
okt 21 21:05:45 <HOST> pluto[107072]: Pluto is shutting down
okt 21 21:05:45 <HOST> whack[328846]: 002 shutting down
okt 21 21:05:45 <HOST> pluto[107072]: forgetting secrets
okt 21 21:05:45 <HOST> pluto[107072]: shutting down interface enp3s0f1 [2a01:5d0:817e:ed00:76e6:e2ff:fe26:4b82]:4500
okt 21 21:05:45 <HOST> pluto[107072]: shutting down interface enp3s0f1 [2a01:5d0:817e:ed00:76e6:e2ff:fe26:4b82]:500
okt 21 21:05:45 <HOST> pluto[107072]: shutting down interface lo [::1]:4500
okt 21 21:05:45 <HOST> pluto[107072]: shutting down interface lo [::1]:500
okt 21 21:05:45 <HOST> pluto[107072]: shutting down interface lo 127.0.0.1:4500
okt 21 21:05:45 <HOST> pluto[107072]: shutting down interface lo 127.0.0.1:500
okt 21 21:05:45 <HOST> pluto[107072]: shutting down interface enp3s0f1 192.168.1.100:4500
okt 21 21:05:45 <HOST> pluto[107072]: shutting down interface enp3s0f1 192.168.1.100:500
okt 21 21:05:45 <HOST> pluto[107072]: leak detective found no leaks
okt 21 21:05:45 <HOST> systemd[1]: ipsec.service: Deactivated successfully.
okt 21 21:05:45 <HOST> systemd[1]: Stopped ipsec.service.
okt 21 21:05:45 <HOST> systemd[1]: ipsec.service: Consumed 3.649s CPU time.
okt 21 21:05:45 <HOST> systemd[1]: Starting ipsec.service...
okt 21 21:05:46 <HOST> ipsec[329124]: nflog ipsec capture disabled
okt 21 21:05:46 <HOST> pluto[329135]: Initializing NSS using read-write database "sql:/var/lib/ipsec/nss"
okt 21 21:05:46 <HOST> pluto[329135]: FIPS Mode: NO
okt 21 21:05:46 <HOST> pluto[329135]: NSS crypto library initialized
okt 21 21:05:46 <HOST> pluto[329135]: FIPS mode disabled for pluto daemon
okt 21 21:05:46 <HOST> pluto[329135]: FIPS HMAC integrity support [disabled]
okt 21 21:05:46 <HOST> pluto[329135]: libcap-ng support [enabled]
okt 21 21:05:46 <HOST> pluto[329135]: Linux audit support [enabled]
okt 21 21:05:46 <HOST> pluto[329135]: Linux audit activated
okt 21 21:05:46 <HOST> pluto[329135]: Starting Pluto (Libreswan Version 4.12 IKEv2 IKEv1 XFRM XFRMI esp-hw-offload FORK PTHREAD_SETSCHEDPRIO NSS (IPsec profile) (NSS-KDF) DNSSEC SYSTEMD_WATCHDOG LABELED_IPSEC (SELINUX) SECCOMP LIBCAP_NG LINUX_AUDIT AUTH_PAM NETWORKMANAGER CURL(non-NSS) LDAP(non-NSS)) pid:329135
okt 21 21:05:46 <HOST> pluto[329135]: core dump dir: /run/pluto
okt 21 21:05:46 <HOST> pluto[329135]: secrets file: /etc/ipsec.secrets
okt 21 21:05:46 <HOST> pluto[329135]: leak-detective enabled
okt 21 21:05:46 <HOST> pluto[329135]: NSS crypto [enabled]
okt 21 21:05:46 <HOST> pluto[329135]: XAUTH PAM support [enabled]
okt 21 21:05:46 <HOST> pluto[329135]: initializing libevent in pthreads mode: headers: 2.1.12-stable (2010c00); library: 2.1.12-stable (2010c00)
okt 21 21:05:46 <HOST> pluto[329135]: NAT-Traversal support  [enabled]
okt 21 21:05:46 <HOST> pluto[329135]: Encryption algorithms:
okt 21 21:05:46 <HOST> pluto[329135]:   AES_CCM_16         {256,192,*128} IKEv1:     ESP     IKEv2:     ESP     FIPS              aes_ccm, aes_ccm_c
okt 21 21:05:46 <HOST> pluto[329135]:   AES_CCM_12         {256,192,*128} IKEv1:     ESP     IKEv2:     ESP     FIPS              aes_ccm_b
okt 21 21:05:46 <HOST> pluto[329135]:   AES_CCM_8          {256,192,*128} IKEv1:     ESP     IKEv2:     ESP     FIPS              aes_ccm_a
okt 21 21:05:46 <HOST> pluto[329135]:   3DES_CBC           [*192]         IKEv1: IKE ESP     IKEv2: IKE ESP     FIPS NSS(CBC)     3des
okt 21 21:05:46 <HOST> pluto[329135]:   CAMELLIA_CTR       {256,192,*128} IKEv1:     ESP     IKEv2:     ESP
okt 21 21:05:46 <HOST> pluto[329135]:   CAMELLIA_CBC       {256,192,*128} IKEv1: IKE ESP     IKEv2: IKE ESP          NSS(CBC)     camellia
okt 21 21:05:46 <HOST> pluto[329135]:   AES_GCM_16         {256,192,*128} IKEv1:     ESP     IKEv2: IKE ESP     FIPS NSS(GCM)     aes_gcm, aes_gcm_c
okt 21 21:05:46 <HOST> pluto[329135]:   AES_GCM_12         {256,192,*128} IKEv1:     ESP     IKEv2: IKE ESP     FIPS NSS(GCM)     aes_gcm_b
okt 21 21:05:46 <HOST> pluto[329135]:   AES_GCM_8          {256,192,*128} IKEv1:     ESP     IKEv2: IKE ESP     FIPS NSS(GCM)     aes_gcm_a
okt 21 21:05:46 <HOST> pluto[329135]:   AES_CTR            {256,192,*128} IKEv1: IKE ESP     IKEv2: IKE ESP     FIPS NSS(CTR)     aesctr
okt 21 21:05:46 <HOST> pluto[329135]:   AES_CBC            {256,192,*128} IKEv1: IKE ESP     IKEv2: IKE ESP     FIPS NSS(CBC)     aes
okt 21 21:05:46 <HOST> pluto[329135]:   NULL_AUTH_AES_GMAC {256,192,*128} IKEv1:     ESP     IKEv2:     ESP     FIPS              aes_gmac
okt 21 21:05:46 <HOST> pluto[329135]:   NULL               []             IKEv1:     ESP     IKEv2:     ESP
okt 21 21:05:46 <HOST> pluto[329135]:   CHACHA20_POLY1305  [*256]         IKEv1:             IKEv2: IKE ESP          NSS(AEAD)    chacha20poly1305
okt 21 21:05:46 <HOST> pluto[329135]: Hash algorithms:
okt 21 21:05:46 <HOST> systemd[1]: Started ipsec.service.
okt 21 21:05:46 <HOST> pluto[329135]:   MD5                               IKEv1: IKE         IKEv2:                  NSS
okt 21 21:05:46 <HOST> pluto[329135]:   SHA1                              IKEv1: IKE         IKEv2: IKE         FIPS NSS          sha
okt 21 21:05:46 <HOST> pluto[329135]:   SHA2_256                          IKEv1: IKE         IKEv2: IKE         FIPS NSS          sha2, sha256
okt 21 21:05:46 <HOST> pluto[329135]:   SHA2_384                          IKEv1: IKE         IKEv2: IKE         FIPS NSS          sha384
okt 21 21:05:46 <HOST> pluto[329135]:   SHA2_512                          IKEv1: IKE         IKEv2: IKE         FIPS NSS          sha512
okt 21 21:05:46 <HOST> pluto[329135]:   IDENTITY                          IKEv1:             IKEv2:             FIPS
okt 21 21:05:46 <HOST> pluto[329135]: PRF algorithms:
okt 21 21:05:46 <HOST> pluto[329135]:   HMAC_MD5                          IKEv1: IKE         IKEv2: IKE              native(HMAC) md5
okt 21 21:05:46 <HOST> pluto[329135]:   HMAC_SHA1                         IKEv1: IKE         IKEv2: IKE         FIPS NSS          sha, sha1
okt 21 21:05:46 <HOST> pluto[329135]:   HMAC_SHA2_256                     IKEv1: IKE         IKEv2: IKE         FIPS NSS          sha2, sha256, sha2_256
okt 21 21:05:46 <HOST> pluto[329135]:   HMAC_SHA2_384                     IKEv1: IKE         IKEv2: IKE         FIPS NSS          sha384, sha2_384
okt 21 21:05:46 <HOST> pluto[329135]:   HMAC_SHA2_512                     IKEv1: IKE         IKEv2: IKE         FIPS NSS          sha512, sha2_512
okt 21 21:05:46 <HOST> pluto[329135]:   AES_XCBC                          IKEv1:             IKEv2: IKE              native(XCBC) aes128_xcbc
okt 21 21:05:46 <HOST> pluto[329135]: Integrity algorithms:
okt 21 21:05:46 <HOST> pluto[329135]:   HMAC_MD5_96                       IKEv1: IKE ESP AH  IKEv2: IKE ESP AH       native(HMAC) md5, hmac_md5
okt 21 21:05:46 <HOST> pluto[329135]:   HMAC_SHA1_96                      IKEv1: IKE ESP AH  IKEv2: IKE ESP AH  FIPS NSS          sha, sha1, sha1_96, hmac_sha1
okt 21 21:05:46 <HOST> pluto[329135]:   HMAC_SHA2_512_256                 IKEv1: IKE ESP AH  IKEv2: IKE ESP AH  FIPS NSS          sha512, sha2_512, sha2_512_256, hmac_sha2_512
okt 21 21:05:46 <HOST> pluto[329135]:   HMAC_SHA2_384_192                 IKEv1: IKE ESP AH  IKEv2: IKE ESP AH  FIPS NSS          sha384, sha2_384, sha2_384_192, hmac_sha2_384
okt 21 21:05:46 <HOST> pluto[329135]:   HMAC_SHA2_256_128                 IKEv1: IKE ESP AH  IKEv2: IKE ESP AH  FIPS NSS          sha2, sha256, sha2_256, sha2_256_128, hmac_sha2_256
okt 21 21:05:46 <HOST> pluto[329135]:   HMAC_SHA2_256_TRUNCBUG            IKEv1:     ESP AH  IKEv2:         AH
okt 21 21:05:46 <HOST> pluto[329135]:   AES_XCBC_96                       IKEv1:     ESP AH  IKEv2: IKE ESP AH       native(XCBC) aes_xcbc, aes128_xcbc, aes128_xcbc_96
okt 21 21:05:46 <HOST> pluto[329135]:   AES_CMAC_96                       IKEv1:     ESP AH  IKEv2:     ESP AH  FIPS              aes_cmac
okt 21 21:05:46 <HOST> pluto[329135]:   NONE                              IKEv1:     ESP     IKEv2: IKE ESP     FIPS              null
okt 21 21:05:46 <HOST> pluto[329135]: DH algorithms:
okt 21 21:05:46 <HOST> pluto[329135]:   NONE                              IKEv1:             IKEv2: IKE ESP AH  FIPS NSS(MODP)    null, dh0
okt 21 21:05:46 <HOST> pluto[329135]:   MODP1536                          IKEv1: IKE ESP AH  IKEv2: IKE ESP AH       NSS(MODP)    dh5
okt 21 21:05:46 <HOST> pluto[329135]:   MODP2048                          IKEv1: IKE ESP AH  IKEv2: IKE ESP AH  FIPS NSS(MODP)    dh14
okt 21 21:05:46 <HOST> pluto[329135]:   MODP3072                          IKEv1: IKE ESP AH  IKEv2: IKE ESP AH  FIPS NSS(MODP)    dh15
okt 21 21:05:46 <HOST> pluto[329135]:   MODP4096                          IKEv1: IKE ESP AH  IKEv2: IKE ESP AH  FIPS NSS(MODP)    dh16
okt 21 21:05:46 <HOST> pluto[329135]:   MODP6144                          IKEv1: IKE ESP AH  IKEv2: IKE ESP AH  FIPS NSS(MODP)    dh17
okt 21 21:05:46 <HOST> pluto[329135]:   MODP8192                          IKEv1: IKE ESP AH  IKEv2: IKE ESP AH  FIPS NSS(MODP)    dh18
okt 21 21:05:46 <HOST> pluto[329135]:   DH19                              IKEv1: IKE         IKEv2: IKE ESP AH  FIPS NSS(ECP)     ecp_256, ecp256
okt 21 21:05:46 <HOST> pluto[329135]:   DH20                              IKEv1: IKE         IKEv2: IKE ESP AH  FIPS NSS(ECP)     ecp_384, ecp384
okt 21 21:05:46 <HOST> pluto[329135]:   DH21                              IKEv1: IKE         IKEv2: IKE ESP AH  FIPS NSS(ECP)     ecp_521, ecp521
okt 21 21:05:46 <HOST> pluto[329135]:   DH31                              IKEv1: IKE         IKEv2: IKE ESP AH       NSS(ECP)     curve25519
okt 21 21:05:46 <HOST> pluto[329135]: IPCOMP algorithms:
okt 21 21:05:46 <HOST> pluto[329135]:   DEFLATE                           IKEv1:     ESP AH  IKEv2:     ESP AH  FIPS
okt 21 21:05:46 <HOST> pluto[329135]:   LZS                               IKEv1:             IKEv2:     ESP AH  FIPS
okt 21 21:05:46 <HOST> pluto[329135]:   LZJH                              IKEv1:             IKEv2:     ESP AH  FIPS
okt 21 21:05:46 <HOST> pluto[329135]: testing CAMELLIA_CBC:
okt 21 21:05:46 <HOST> pluto[329135]:   Camellia: 16 bytes with 128-bit key
okt 21 21:05:46 <HOST> pluto[329135]:   Camellia: 16 bytes with 128-bit key
okt 21 21:05:46 <HOST> pluto[329135]:   Camellia: 16 bytes with 256-bit key
okt 21 21:05:46 <HOST> pluto[329135]:   Camellia: 16 bytes with 256-bit key
okt 21 21:05:46 <HOST> pluto[329135]: testing AES_GCM_16:
okt 21 21:05:46 <HOST> pluto[329135]:   empty string
okt 21 21:05:46 <HOST> pluto[329135]:   one block
okt 21 21:05:46 <HOST> pluto[329135]:   two blocks
okt 21 21:05:46 <HOST> pluto[329135]:   two blocks with associated data
okt 21 21:05:46 <HOST> pluto[329135]: testing AES_CTR:
okt 21 21:05:46 <HOST> pluto[329135]:   Encrypting 16 octets using AES-CTR with 128-bit key
okt 21 21:05:46 <HOST> pluto[329135]:   Encrypting 32 octets using AES-CTR with 128-bit key
okt 21 21:05:46 <HOST> pluto[329135]:   Encrypting 36 octets using AES-CTR with 128-bit key
okt 21 21:05:46 <HOST> pluto[329135]:   Encrypting 16 octets using AES-CTR with 192-bit key
okt 21 21:05:46 <HOST> pluto[329135]:   Encrypting 32 octets using AES-CTR with 192-bit key
okt 21 21:05:46 <HOST> pluto[329135]:   Encrypting 36 octets using AES-CTR with 192-bit key
okt 21 21:05:46 <HOST> pluto[329135]:   Encrypting 16 octets using AES-CTR with 256-bit key
okt 21 21:05:46 <HOST> pluto[329135]:   Encrypting 32 octets using AES-CTR with 256-bit key
okt 21 21:05:46 <HOST> pluto[329135]:   Encrypting 36 octets using AES-CTR with 256-bit key
okt 21 21:05:46 <HOST> pluto[329135]: testing AES_CBC:
okt 21 21:05:46 <HOST> pluto[329135]:   Encrypting 16 bytes (1 block) using AES-CBC with 128-bit key
okt 21 21:05:46 <HOST> pluto[329135]:   Encrypting 32 bytes (2 blocks) using AES-CBC with 128-bit key
okt 21 21:05:46 <HOST> pluto[329135]:   Encrypting 48 bytes (3 blocks) using AES-CBC with 128-bit key
okt 21 21:05:46 <HOST> pluto[329135]:   Encrypting 64 bytes (4 blocks) using AES-CBC with 128-bit key
okt 21 21:05:46 <HOST> pluto[329135]: testing AES_XCBC:
okt 21 21:05:46 <HOST> pluto[329135]:   RFC 3566 Test Case 1: AES-XCBC-MAC-96 with 0-byte input
okt 21 21:05:46 <HOST> pluto[329135]:   RFC 3566 Test Case 2: AES-XCBC-MAC-96 with 3-byte input
okt 21 21:05:46 <HOST> pluto[329135]:   RFC 3566 Test Case 3: AES-XCBC-MAC-96 with 16-byte input
okt 21 21:05:46 <HOST> pluto[329135]:   RFC 3566 Test Case 4: AES-XCBC-MAC-96 with 20-byte input
okt 21 21:05:46 <HOST> pluto[329135]:   RFC 3566 Test Case 5: AES-XCBC-MAC-96 with 32-byte input
okt 21 21:05:46 <HOST> pluto[329135]:   RFC 3566 Test Case 6: AES-XCBC-MAC-96 with 34-byte input
okt 21 21:05:46 <HOST> pluto[329135]:   RFC 3566 Test Case 7: AES-XCBC-MAC-96 with 1000-byte input
okt 21 21:05:46 <HOST> pluto[329135]:   RFC 4434 Test Case AES-XCBC-PRF-128 with 20-byte input (key length 16)
okt 21 21:05:46 <HOST> pluto[329135]:   RFC 4434 Test Case AES-XCBC-PRF-128 with 20-byte input (key length 10)
okt 21 21:05:46 <HOST> pluto[329135]:   RFC 4434 Test Case AES-XCBC-PRF-128 with 20-byte input (key length 18)
okt 21 21:05:46 <HOST> pluto[329135]: testing HMAC_MD5:
okt 21 21:05:46 <HOST> pluto[329135]:   RFC 2104: MD5_HMAC test 1
okt 21 21:05:46 <HOST> pluto[329135]:   RFC 2104: MD5_HMAC test 2
okt 21 21:05:46 <HOST> pluto[329135]:   RFC 2104: MD5_HMAC test 3
okt 21 21:05:46 <HOST> pluto[329135]: testing HMAC_SHA1:
okt 21 21:05:46 <HOST> pluto[329135]:   CAVP: IKEv2 key derivation with HMAC-SHA1
okt 21 21:05:46 <HOST> pluto[329135]: 4 CPU cores online
okt 21 21:05:46 <HOST> pluto[329135]: starting up 3 helper threads
okt 21 21:05:46 <HOST> pluto[329135]: started thread for helper 0
okt 21 21:05:46 <HOST> pluto[329135]: helper(1) seccomp security disabled for crypto helper 1
okt 21 21:05:46 <HOST> pluto[329135]: started thread for helper 1
okt 21 21:05:46 <HOST> pluto[329135]: helper(2) seccomp security disabled for crypto helper 2
okt 21 21:05:46 <HOST> pluto[329135]: started thread for helper 2
okt 21 21:05:46 <HOST> pluto[329135]: helper(3) seccomp security disabled for crypto helper 3
okt 21 21:05:46 <HOST> pluto[329135]: using Linux xfrm kernel support code on #1 SMP PREEMPT_DYNAMIC Fri Oct 13 10:13:19 CEST 2023
okt 21 21:05:46 <HOST> pluto[329135]: selinux support is NOT enabled.
okt 21 21:05:46 <HOST> pluto[329135]: systemd watchdog for ipsec service configured with timeout of 200000000 usecs
okt 21 21:05:46 <HOST> pluto[329135]: watchdog: sending probes every 100 secs
okt 21 21:05:46 <HOST> pluto[329135]: seccomp security disabled
okt 21 21:05:46 <HOST> pluto[329135]: listening for IKE messages
okt 21 21:05:46 <HOST> pluto[329135]: Kernel supports NIC esp-hw-offload
okt 21 21:05:46 <HOST> pluto[329135]: adding UDP interface wlp2s0 10.42.0.1:500
okt 21 21:05:46 <HOST> pluto[329135]: adding UDP interface wlp2s0 10.42.0.1:4500
okt 21 21:05:46 <HOST> pluto[329135]: adding UDP interface enp3s0f1 192.168.1.100:500
okt 21 21:05:46 <HOST> pluto[329135]: adding UDP interface enp3s0f1 192.168.1.100:4500
okt 21 21:05:46 <HOST> pluto[329135]: adding UDP interface lo 127.0.0.1:500
okt 21 21:05:46 <HOST> pluto[329135]: adding UDP interface lo 127.0.0.1:4500
okt 21 21:05:46 <HOST> pluto[329135]: adding UDP interface lo [::1]:500
okt 21 21:05:46 <HOST> pluto[329135]: adding UDP interface lo [::1]:4500
okt 21 21:05:46 <HOST> pluto[329135]: adding UDP interface enp3s0f1 [2a01:5d0:817e:ed00:76e6:e2ff:fe26:4b82]:500
okt 21 21:05:46 <HOST> pluto[329135]: adding UDP interface enp3s0f1 [2a01:5d0:817e:ed00:76e6:e2ff:fe26:4b82]:4500
okt 21 21:05:46 <HOST> pluto[329135]: loading secrets from "/etc/ipsec.secrets"
okt 21 21:05:46 <HOST> pluto[329135]: loading secrets from "/etc/ipsec.d/ipsec.nm-l2tp.secrets"
okt 21 21:05:46 <HOST> pluto[329135]: loading secrets from "/etc/ipsec.d/nm-l2tp-ipsec-acc345e1-9ebd-439f-b5d1-1f5dbd16fe3a.secrets"
okt 21 21:05:46 <HOST> pluto[329135]: WARNING: using a weak secret (PSK)
okt 21 21:05:46 <HOST> pluto[329135]: listening for IKE messages
okt 21 21:05:46 <HOST> pluto[329135]: forgetting secrets
okt 21 21:05:46 <HOST> pluto[329135]: loading secrets from "/etc/ipsec.secrets"
okt 21 21:05:46 <HOST> NetworkManager[329142]: 002 listening for IKE messages
okt 21 21:05:46 <HOST> NetworkManager[329142]: 002 forgetting secrets
okt 21 21:05:46 <HOST> NetworkManager[329142]: 002 loading secrets from "/etc/ipsec.secrets"
okt 21 21:05:46 <HOST> NetworkManager[329142]: 002 loading secrets from "/etc/ipsec.d/ipsec.nm-l2tp.secrets"
okt 21 21:05:46 <HOST> NetworkManager[329142]: 002 loading secrets from "/etc/ipsec.d/nm-l2tp-ipsec-acc345e1-9ebd-439f-b5d1-1f5dbd16fe3a.secrets"
okt 21 21:05:46 <HOST> NetworkManager[329142]: 003 WARNING: using a weak secret (PSK)
okt 21 21:05:46 <HOST> pluto[329135]: loading secrets from "/etc/ipsec.d/ipsec.nm-l2tp.secrets"
okt 21 21:05:46 <HOST> pluto[329135]: loading secrets from "/etc/ipsec.d/nm-l2tp-ipsec-acc345e1-9ebd-439f-b5d1-1f5dbd16fe3a.secrets"
okt 21 21:05:46 <HOST> pluto[329135]: WARNING: using a weak secret (PSK)
okt 21 21:05:46 <HOST> NetworkManager[329146]: debugging mode enabled
okt 21 21:05:46 <HOST> NetworkManager[329146]: end of file /run/nm-l2tp-04c6c01f-5020-41da-848a-5d9e1013bb14/ipsec.conf
okt 21 21:05:46 <HOST> NetworkManager[329146]: Loading conn 04c6c01f-5020-41da-848a-5d9e1013bb14
okt 21 21:05:46 <HOST> NetworkManager[329146]: starter: left is KH_DEFAULTROUTE
okt 21 21:05:46 <HOST> NetworkManager[329146]: conn: "04c6c01f-5020-41da-848a-5d9e1013bb14" modecfgdns=<unset>
okt 21 21:05:46 <HOST> NetworkManager[329146]: conn: "04c6c01f-5020-41da-848a-5d9e1013bb14" modecfgdomains=<unset>
okt 21 21:05:46 <HOST> NetworkManager[329146]: conn: "04c6c01f-5020-41da-848a-5d9e1013bb14" modecfgbanner=<unset>
okt 21 21:05:46 <HOST> NetworkManager[329146]: conn: "04c6c01f-5020-41da-848a-5d9e1013bb14" mark=<unset>
okt 21 21:05:46 <HOST> NetworkManager[329146]: conn: "04c6c01f-5020-41da-848a-5d9e1013bb14" mark-in=<unset>
okt 21 21:05:46 <HOST> NetworkManager[329146]: conn: "04c6c01f-5020-41da-848a-5d9e1013bb14" mark-out=<unset>
okt 21 21:05:46 <HOST> NetworkManager[329146]: conn: "04c6c01f-5020-41da-848a-5d9e1013bb14" vti_iface=<unset>
okt 21 21:05:46 <HOST> NetworkManager[329146]: conn: "04c6c01f-5020-41da-848a-5d9e1013bb14" redirect-to=<unset>
okt 21 21:05:46 <HOST> NetworkManager[329146]: conn: "04c6c01f-5020-41da-848a-5d9e1013bb14" accept-redirect-to=<unset>
okt 21 21:05:46 <HOST> NetworkManager[329146]: conn: "04c6c01f-5020-41da-848a-5d9e1013bb14" esp=aes256-sha1,aes128-sha1,3des-sha1
okt 21 21:05:46 <HOST> NetworkManager[329146]: conn: "04c6c01f-5020-41da-848a-5d9e1013bb14" ike=aes256-sha2_256-modp2048,aes256-sha2_256-modp1536,aes256-sha1-modp2048,aes256-sha1-modp1536,aes256-sha1-ecp_384,aes128-sha1-ecp_256,3des-sha1-modp2048
okt 21 21:05:46 <HOST> NetworkManager[329146]: opening file: /run/nm-l2tp-04c6c01f-5020-41da-848a-5d9e1013bb14/ipsec.conf
okt 21 21:05:46 <HOST> NetworkManager[329146]: loading named conns: 04c6c01f-5020-41da-848a-5d9e1013bb14
okt 21 21:05:46 <HOST> NetworkManager[329146]: resolving family=IPv4 src=<defaultroute> gateway=<defaultroute> peer <REMOTE_IP>
okt 21 21:05:46 <HOST> NetworkManager[329146]:   seeking GATEWAY
okt 21 21:05:46 <HOST> NetworkManager[329146]:     query GETROUTE+REQUEST+ROOT+MATCH
okt 21 21:05:46 <HOST> NetworkManager[329146]:     add RTA_DST <REMOTE_IP> (peer->addr)
okt 21 21:05:46 <HOST> NetworkManager[329146]:     query returned 636 bytes
okt 21 21:05:46 <HOST> NetworkManager[329146]:   processing response
okt 21 21:05:46 <HOST> NetworkManager[329146]:     parsing route entry (RTA payloads)
okt 21 21:05:46 <HOST> NetworkManager[329146]:       RTA_TABLE=254
okt 21 21:05:46 <HOST> NetworkManager[329146]:       RTA_PRIORITY=100
okt 21 21:05:46 <HOST> NetworkManager[329146]:       RTA_GATEWAY=192.168.1.1
okt 21 21:05:46 <HOST> NetworkManager[329146]:       using src=<unset-address> prefsrc=<unset-address> gateway=192.168.1.1 dst=<unset-address> dev='enp3s0f1' priority=100 pref=-1 table=254
okt 21 21:05:46 <HOST> NetworkManager[329146]:     found gateway(host_nexthop): 192.168.1.1
okt 21 21:05:46 <HOST> NetworkManager[329146]:   please-call-again: src=<defaultroute> gateway=192.168.1.1
okt 21 21:05:46 <HOST> NetworkManager[329146]: resolving family=IPv4 src=<defaultroute> gateway=192.168.1.1 peer <REMOTE_IP>
okt 21 21:05:46 <HOST> NetworkManager[329146]:   seeking PREFSRC
okt 21 21:05:46 <HOST> NetworkManager[329146]:     query GETROUTE+REQUEST
okt 21 21:05:46 <HOST> NetworkManager[329146]:     add RTA_DST 192.168.1.1 (host->nexthop)
okt 21 21:05:46 <HOST> NetworkManager[329146]:     query returned 104 bytes
okt 21 21:05:46 <HOST> NetworkManager[329146]:   processing response
okt 21 21:05:46 <HOST> NetworkManager[329146]:     parsing route entry (RTA payloads)
okt 21 21:05:46 <HOST> NetworkManager[329146]:       RTA_TABLE=254
okt 21 21:05:46 <HOST> NetworkManager[329146]:       RTA_DST=192.168.1.1
okt 21 21:05:46 <HOST> NetworkManager[329146]:       RTA_PREFSRC=192.168.1.100
okt 21 21:05:46 <HOST> NetworkManager[329146]:       using src=<unset-address> prefsrc=192.168.1.100 gateway=<unset-address> dst=192.168.1.1 dev='enp3s0f1' priority=-1 pref=-1 table=254 +cacheinfo +uid
okt 21 21:05:46 <HOST> NetworkManager[329146]:     found prefsrc(host_addr): 192.168.1.100
okt 21 21:05:46 <HOST> NetworkManager[329146]:   success: src=192.168.1.100 gateway=192.168.1.1
okt 21 21:05:46 <HOST> NetworkManager[329146]: resolving family=IPv4 src=<REMOTE_IP> gateway=<not-set> peer 192.168.1.100
okt 21 21:05:46 <HOST> NetworkManager[329146]:   seeking NOTHING
okt 21 21:05:46 <HOST> pluto[329135]: "04c6c01f-5020-41da-848a-5d9e1013bb14": added IKEv1 connection
okt 21 21:05:46 <HOST> pluto[329135]: "04c6c01f-5020-41da-848a-5d9e1013bb14" #1: initiating IKEv1 Main Mode connection
okt 21 21:05:46 <HOST> pluto[329135]: "04c6c01f-5020-41da-848a-5d9e1013bb14" #1: sent Main Mode request
okt 21 21:05:46 <HOST> NetworkManager[329148]: 002 "04c6c01f-5020-41da-848a-5d9e1013bb14" #1: initiating IKEv1 Main Mode connection
okt 21 21:05:46 <HOST> NetworkManager[329148]: 102 "04c6c01f-5020-41da-848a-5d9e1013bb14" #1: sent Main Mode request
okt 21 21:05:46 <HOST> pluto[329135]: "04c6c01f-5020-41da-848a-5d9e1013bb14" #1: sent Main Mode I2
okt 21 21:05:46 <HOST> NetworkManager[329148]: 104 "04c6c01f-5020-41da-848a-5d9e1013bb14" #1: sent Main Mode I2
okt 21 21:05:47 <HOST> pluto[329135]: "04c6c01f-5020-41da-848a-5d9e1013bb14" #1: sent Main Mode I3
okt 21 21:05:47 <HOST> NetworkManager[329148]: 106 "04c6c01f-5020-41da-848a-5d9e1013bb14" #1: sent Main Mode I3
okt 21 21:05:47 <HOST> pluto[329135]: "04c6c01f-5020-41da-848a-5d9e1013bb14" #1: Peer ID is ID_IPV4_ADDR: '<REMOTE_IP>'
okt 21 21:05:47 <HOST> pluto[329135]: "04c6c01f-5020-41da-848a-5d9e1013bb14" #1: IKE SA established {auth=PRESHARED_KEY cipher=AES_CBC_256 integ=HMAC_SHA2_256 group=MODP2048}
okt 21 21:05:47 <HOST> NetworkManager[329148]: 002 "04c6c01f-5020-41da-848a-5d9e1013bb14" #1: Peer ID is ID_IPV4_ADDR: '<REMOTE_IP>'
okt 21 21:05:47 <HOST> NetworkManager[329148]: 004 "04c6c01f-5020-41da-848a-5d9e1013bb14" #1: IKE SA established {auth=PRESHARED_KEY cipher=AES_CBC_256 integ=HMAC_SHA2_256 group=MODP2048}
okt 21 21:05:47 <HOST> NetworkManager[329148]: 002 "04c6c01f-5020-41da-848a-5d9e1013bb14" #2: initiating Quick Mode IKEv1+PSK+ENCRYPT+PFS+UP+IKE_FRAG_ALLOW+ESN_NO+ESN_YES {using isakmp#1 msgid:80752a1f proposal=AES_CBC_256-HMAC_SHA1_96, AES_CBC_128-HMAC_SHA1_96, 3DES_CBC-HMAC_SHA1_96 pfsgroup=MODP2048}
okt 21 21:05:47 <HOST> pluto[329135]: "04c6c01f-5020-41da-848a-5d9e1013bb14" #2: initiating Quick Mode IKEv1+PSK+ENCRYPT+PFS+UP+IKE_FRAG_ALLOW+ESN_NO+ESN_YES {using isakmp#1 msgid:80752a1f proposal=AES_CBC_256-HMAC_SHA1_96, AES_CBC_128-HMAC_SHA1_96, 3DES_CBC-HMAC_SHA1_96 pfsgroup=MODP2048}
okt 21 21:05:47 <HOST> pluto[329135]: "04c6c01f-5020-41da-848a-5d9e1013bb14" #2: sent Quick Mode request
okt 21 21:05:47 <HOST> NetworkManager[329148]: 115 "04c6c01f-5020-41da-848a-5d9e1013bb14" #2: sent Quick Mode request
okt 21 21:05:47 <HOST> pluto[329135]: "04c6c01f-5020-41da-848a-5d9e1013bb14" #2: NAT-Traversal: received 2 NAT-OA. Ignored because peer is not NATed
okt 21 21:05:47 <HOST> NetworkManager[329148]: 003 "04c6c01f-5020-41da-848a-5d9e1013bb14" #2: NAT-Traversal: received 2 NAT-OA. Ignored because peer is not NATed
okt 21 21:05:47 <HOST> NetworkManager[329148]: 003 "04c6c01f-5020-41da-848a-5d9e1013bb14" #2: our client subnet returned doesn't match my proposal - us: 192.168.1.100/32 vs them: 77.111.169.156/32
okt 21 21:05:47 <HOST> NetworkManager[329148]: 003 "04c6c01f-5020-41da-848a-5d9e1013bb14" #2: Allowing questionable (microsoft) proposal anyway
okt 21 21:05:47 <HOST> pluto[329135]: "04c6c01f-5020-41da-848a-5d9e1013bb14" #2: our client subnet returned doesn't match my proposal - us: 192.168.1.100/32 vs them: 77.111.169.156/32
okt 21 21:05:47 <HOST> pluto[329135]: "04c6c01f-5020-41da-848a-5d9e1013bb14" #2: Allowing questionable (microsoft) proposal anyway
**okt 21 21:05:47 <HOST> pluto[329135]: EXPECTATION FAILED: src_client_proto == dst_client_proto (raw_policy() +126 /programs/pluto/kernel_ops.c)
okt 21 21:05:47 <HOST> pluto[329135]: EXPECTATION FAILED: selector_protocol(*dst_client) == client_proto (xfrm_raw_policy() +536 /programs/pluto/kernel_xfrm.c)
okt 21 21:05:47 <HOST> pluto[329135]: EXPECTATION FAILED: peer_client->ipproto == transport_proto->ipproto (bare_shunt_ptr() +1395 /programs/pluto/kernel.c)
okt 21 21:05:47 <HOST> pluto[329135]: EXPECTATION FAILED: src_client_proto == dst_client_proto (raw_policy() +126 /programs/pluto/kernel_ops.c)
okt 21 21:05:47 <HOST> pluto[329135]: EXPECTATION FAILED: selector_protocol(*dst_client) == client_proto (xfrm_raw_policy() +536 /programs/pluto/kernel_xfrm.c)**
okt 21 21:05:47 <HOST> pluto[329135]: "04c6c01f-5020-41da-848a-5d9e1013bb14" #2: IPsec SA established transport mode {ESPinUDP=>0xc3bed30d <0x7d30e8fe xfrm=AES_CBC_256-HMAC_SHA1_96 NATD=<REMOTE_IP>:4500 DPD=passive}
okt 21 21:05:47 <HOST> NetworkManager[329148]: 004 "04c6c01f-5020-41da-848a-5d9e1013bb14" #2: IPsec SA established transport mode {ESPinUDP=>0xc3bed30d <0x7d30e8fe xfrm=AES_CBC_256-HMAC_SHA1_96 NATD=<REMOTE_IP>:4500 DPD=passive}
okt 21 21:05:47 <HOST> nm-l2tp-service[328834]: Libreswan IPsec connection is up.
okt 21 21:05:47 <HOST> nm-l2tp-service[328834]: xl2tpd started with pid 329167
okt 21 21:05:47 <HOST> NetworkManager[329167]: xl2tpd[329167]: Not looking for kernel SAref support.
okt 21 21:05:47 <HOST> NetworkManager[329167]: xl2tpd[329167]: This binary does not support kernel L2TP.
okt 21 21:05:47 <HOST> NetworkManager[329167]: xl2tpd[329167]: xl2tpd version xl2tpd-1.3.17 started on <HOST> PID:329167
okt 21 21:05:47 <HOST> NetworkManager[329167]: xl2tpd[329167]: Written by Mark Spencer, Copyright (C) 1998, Adtran, Inc.
okt 21 21:05:47 <HOST> NetworkManager[329167]: xl2tpd[329167]: Forked by Scott Balmos and David Stipp, (C) 2001
okt 21 21:05:47 <HOST> NetworkManager[329167]: xl2tpd[329167]: Inherited by Jeff McAdams, (C) 2002
okt 21 21:05:47 <HOST> NetworkManager[329167]: xl2tpd[329167]: Forked again by Xelerance (www.xelerance.com) (C) 2006-2016
okt 21 21:05:47 <HOST> NetworkManager[329167]: xl2tpd[329167]: Listening on IP address 0.0.0.0, port 33085
okt 21 21:05:47 <HOST> NetworkManager[329167]: xl2tpd[329167]: ourtid = 58889, entropy_buf = e609
okt 21 21:05:47 <HOST> NetworkManager[329167]: xl2tpd[329167]: Connecting to host <REMOTE_IP>, port 1701
okt 21 21:05:47 <HOST> NetworkManager[10077]: <info>  [1697915147.4084] vpn-connection[0x10060a0,04c6c01f-5020-41da-848a-5d9e1013bb14,"MSZZ",0]: VPN plugin: state changed: starting (3)
okt 21 21:05:47 <HOST> NetworkManager[329167]: xl2tpd[329167]: check_control: control, cid = 0, Ns = 0, Nr = 1
okt 21 21:05:47 <HOST> NetworkManager[329167]: xl2tpd[329167]: Connection established to <REMOTE_IP>, 1701.  Local: 58889, Remote: 53432 (ref=0/0).
okt 21 21:05:47 <HOST> NetworkManager[329167]: xl2tpd[329167]: ourcid = 33323, entropy_buf = 822b
okt 21 21:05:47 <HOST> NetworkManager[329167]: xl2tpd[329167]: Calling on tunnel 58889
okt 21 21:05:47 <HOST> NetworkManager[329167]: xl2tpd[329167]: check_control: control, cid = 0, Ns = 1, Nr = 2
okt 21 21:05:47 <HOST> NetworkManager[329167]: xl2tpd[329167]: check_control: control, cid = 0, Ns = 1, Nr = 3
okt 21 21:05:47 <HOST> NetworkManager[329167]: xl2tpd[329167]: Call established with <REMOTE_IP>, Local: 33323, Remote: 47229, Serial: 1 (ref=0/0)
okt 21 21:05:47 <HOST> NetworkManager[329167]: xl2tpd[329167]: start_pppd: I'm running:
okt 21 21:05:47 <HOST> NetworkManager[329167]: xl2tpd[329167]: "/usr/sbin/pppd"
okt 21 21:05:47 <HOST> NetworkManager[329167]: xl2tpd[329167]: "/dev/pts/9"
okt 21 21:05:47 <HOST> NetworkManager[329167]: xl2tpd[329167]: "passive"
okt 21 21:05:47 <HOST> NetworkManager[329167]: xl2tpd[329167]: "nodetach"
okt 21 21:05:47 <HOST> NetworkManager[329167]: xl2tpd[329167]: ":"
okt 21 21:05:47 <HOST> NetworkManager[329167]: xl2tpd[329167]: "file"
okt 21 21:05:47 <HOST> NetworkManager[329167]: xl2tpd[329167]: "/run/nm-l2tp-04c6c01f-5020-41da-848a-5d9e1013bb14/ppp-options"
okt 21 21:05:47 <HOST> NetworkManager[329167]: xl2tpd[329167]: check_control: control, cid = 0, Ns = 2, Nr = 3
okt 21 21:05:47 <HOST> NetworkManager[329167]: xl2tpd[329167]: check_control: control, cid = 47229, Ns = 2, Nr = 4
okt 21 21:05:47 <HOST> pppd[329168]: Plugin /usr/lib64/pppd/2.4.9/nm-l2tp-pppd-plugin.so loaded.
okt 21 21:05:47 <HOST> pppd[329168]: pppd 2.4.9 started by root, uid 0
okt 21 21:05:47 <HOST> pppd[329168]: Using interface ppp0
okt 21 21:05:47 <HOST> pppd[329168]: Connect: ppp0 <--> /dev/pts/9
okt 21 21:05:47 <HOST> NetworkManager[10077]: <info>  [1697915147.4813] manager: (ppp0): new Ppp device (/org/freedesktop/NetworkManager/Devices/29)
okt 21 21:05:47 <HOST> (udev-worker)[329171]: ppp0: Process 'net_create_ifcfg' failed with exit code 1.
okt 21 21:05:50 <HOST> pppd[329168]: CHAP authentication succeeded
okt 21 21:05:50 <HOST> pppd[329168]: CHAP authentication succeeded
okt 21 21:05:50 <HOST> pluto[329135]: netlink_expire got message with length 116 < 232 bytes; ignore message
okt 21 21:05:50 <HOST> pluto[329135]: netlink_expire got message with length 116 < 232 bytes; ignore message
okt 21 21:05:50 <HOST> pluto[329135]: netlink_expire got message with length 116 < 232 bytes; ignore message
okt 21 21:05:50 <HOST> pppd[329168]: local  LL address fe80::097c:ffc2:2daa:c7f2
okt 21 21:05:50 <HOST> pppd[329168]: remote LL address fe80::8189:0c18:9d48:794d
okt 21 21:05:50 <HOST> pluto[329135]: netlink_expire got message with length 116 < 232 bytes; ignore message
okt 21 21:05:50 <HOST> pluto[329135]: netlink_expire got message with length 60 < 232 bytes; ignore message
okt 21 21:05:50 <HOST> pluto[329135]: netlink_expire got message with length 60 < 232 bytes; ignore message
okt 21 21:05:50 <HOST> pluto[329135]: netlink_expire got message with length 60 < 232 bytes; ignore message
okt 21 21:05:50 <HOST> pppd[329168]: local  IP address 192.168.3.6
okt 21 21:05:50 <HOST> pppd[329168]: remote IP address 10.255.255.0
okt 21 21:05:50 <HOST> pppd[329168]: primary   DNS address 192.168.72.99
okt 21 21:05:50 <HOST> pppd[329168]: secondary DNS address 192.168.72.1
okt 21 21:05:50 <HOST> NetworkManager[10077]: <info>  [1697915150.6000] device (ppp0): state change: unmanaged -> unavailable (reason 'connection-assumed', sys-iface-state: 'external')
okt 21 21:05:50 <HOST> NetworkManager[10077]: <info>  [1697915150.6012] device (ppp0): state change: unavailable -> disconnected (reason 'none', sys-iface-state: 'external')
okt 21 21:05:50 <HOST> dnsmasq[10201]: reading /etc/resolv.conf
okt 21 21:05:50 <HOST> dnsmasq[10201]: using nameserver 8.8.8.8#53
okt 21 21:05:50 <HOST> dnsmasq[10201]: using nameserver 8.8.4.4#53
okt 21 21:05:50 <HOST> dnsmasq[10201]: using nameserver 192.168.72.99#53
okt 21 21:05:50 <HOST> dnsmasq[125199]: reading /etc/resolv.conf
okt 21 21:05:50 <HOST> dnsmasq[125199]: using nameserver 8.8.8.8#53
okt 21 21:05:50 <HOST> dnsmasq[125199]: using nameserver 8.8.4.4#53
okt 21 21:05:50 <HOST> dnsmasq[125199]: using nameserver 192.168.72.99#53
okt 21 21:05:50 <HOST> dnsmasq[125199]: cleared cache
okt 21 21:05:50 <HOST> dnsmasq[10201]: reading /etc/resolv.conf
okt 21 21:05:50 <HOST> dnsmasq[10201]: using nameserver 8.8.8.8#53
okt 21 21:05:50 <HOST> dnsmasq[10201]: using nameserver 8.8.4.4#53
okt 21 21:05:50 <HOST> dnsmasq[10201]: using nameserver 192.168.72.99#53
okt 21 21:05:50 <HOST> dnsmasq[10201]: using nameserver 192.168.72.1#53
okt 21 21:05:50 <HOST> dnsmasq[125199]: reading /etc/resolv.conf
okt 21 21:05:50 <HOST> dnsmasq[125199]: using nameserver 8.8.8.8#53
okt 21 21:05:50 <HOST> dnsmasq[125199]: using nameserver 8.8.4.4#53
okt 21 21:05:50 <HOST> dnsmasq[125199]: using nameserver 192.168.72.99#53
okt 21 21:05:50 <HOST> dnsmasq[125199]: using nameserver 192.168.72.1#53
okt 21 21:05:50 <HOST> dnsmasq[125199]: cleared cache
```
</details>



```
#1: IKE SA established {auth=PRESHARED_KEY cipher=AES_CBC_256 integ=HMAC_SHA2_256 group=MODP2048}
#2: initiating Quick Mode IKEv1+PSK+ENCRYPT+PFS+UP+IKE_FRAG_ALLOW+ESN_NO+ESN_YES {using isakmp#1 msgid:80752a1f proposal=AES_CBC_256-HMAC_SHA1_96, AES_CBC_128-HMAC_SHA1_96, 3DES_CBC-HMAC_SHA1_96 pfsgroup=MODP2048}
...
#2: our client subnet returned doesn't match my proposal - us: 192.168.1.100/32 vs them: 77.111.169.156/32
#2: Allowing questionable (microsoft) proposal anyway
EXPECTATION FAILED: src_client_proto == dst_client_proto (raw_policy() +126 /programs/pluto/kernel_ops.c)
```
I suspect things start to go wrong with `us: 192.168.1.100/32 vs them: 77.111.169.156/32` the result may be an all-zero subnet which leads to the selectors for each end seeming to have different protocols

The Quick mode code in 5.x has received a great deal of attention (I've listed the relevant changes).
Can you please try reproducing this using mainline.  If it still occurs, please re-open the bug.


- 5.1
```
  - fix Quick mode installing 0.0.0.0/0 when no MSG_CONFIG exchange [Andrew, Tuomo]
  - fix iOS Quick mode request needing to re-recover lease [Andrew, Tuomo]
```
- 5.2
```
  - fix reconnect with addresspool after restart [Andrew #1790]
```
- 5.3
```
  - fix CISCO's split support (requires cisco-split=yes) [Andrew, Amirreza #2230 Erikas #633]
  - share-lease=yes|no (default yes) to share XAUTH/ModeCfg lease IP on multiple connections [Paul]
```
