unable to open connection with eap authentication

### Please Tell Us About Your Operating System

Gentoo Linux for the Server and Client. I checked out libreswan for Git, and I am running version: Libreswan v5.3-2711-gd11cdc6469-main





### Please Describe Your IPsec Configuration

The client config looks like this: 
```conn a.b.net
        left=y.y.y.y
        leftsubnet=192.168.42.0/24,192.168.1.0/24,192.168.10.0/24
        leftsourceip=192.168.42.1
        leftid=y.y.y.y
        leftrsasigkey=%cert
        rightaddresspool=192.168.42.0/26
        right=%defaultroute
        rightcert=rapsure_rapsure
        rightid=%fromcert
        rightrsasigkey=%cert
        rightmodecfgclient=yes
        keyexchange=ikev2
        rekey=no
        fragmentation=yes
        mobike=yes
        auto=start
        leftmodecfgserver=yes
        leftauth=eaponly
        leftautheap=tls
        rightauth=eaponly
        rightautheap=tls
```

Server side looks like this:
```conn ikev2-tunnel
     left=y.y.y.y
     leftcert=y.y.y.y
     leftid=y.y.y.y
     leftrsasigkey=%cert
     leftsendcert=always
     leftsubnet=192.168.42.0/24,192.168.1.0/24,192.168.10.0/24
     leftsourceip=192.168.42.1
     rightid=%fromcert
     right=%any
     rightaddresspool=192.168.42.2-192.168.42.62
     rightca=%same
     rightrsasigkey=%cert
     ike=aes_gcm_c_256-hmac_sha2_256-ecp_256,aes256-sha2,aes128-sha2,aes256-sha1,aes128-sha1
     phase2alg=aes_gcm-null,aes128-sha1,aes256-sha1,aes128-sha2,aes256-sha2
     dpddelay=30
     retransmit-timeout=300s
     dpdtimeout=120
     auto=add
     keyexchange=ikev2
     rekey=no
     pfs=yes
     ikelifetime=24h
     salifetime=24h
     mobike=yes
     modecfgpull=yes
     rightmodecfgclient=yes
     fragmentation=yes
     leftmodecfgserver=yes
     leftauth=eaponly
     leftautheap=tls
     rightauth=eaponly
     rightautheap=tls
```

### Please Tell Us What Happened?

I am trying to switch to using EAP and the vpn does not start due to using PSK rather than EAP.

The authentication process appears to go like this: 
1. Server get connection info and makes proposals and one of them is EAP.
2. Client requests PSK
3. Server denies PSK
4. Connection closes

According to what the logs state the process should go like this:
1. Server get connection info and makes proposals and one of them is EAP.
2. Client requests ESP
3. Server does ESP handshake and encrypts data
5. Connection Opens

Server startup:
```Jun 09 17:05:41 gabay pluto[391352]: Starting Pluto (Libreswan Version v5.3-2711-gd11cdc6469-main IKEv2 IKEv1 XFRM XFRMI esp-hw-offload FORK PTHREAD_SETSCHEDPRIO NSS (IPsec profile) (NSS-KDF) SYSTEMD_WATCHDOG LIBCAP_NG AUTH_PAM CURL(non-NSS) NFTABLES CAT NFLOG) pid:3913>
Jun 09 17:05:41 gabay pluto[391352]: operating system: Linux 7.0.10 [Linux 7.0.10-gentoo-r1-x86_64 #1 SMP PREEMPT_DYNAMIC Sat May 30 08:29:39 MDT 2026 x86_64]
Jun 09 17:05:41 gabay pluto[391352]: using dns-resolver=file
Jun 09 17:05:41 gabay pluto[391352]: core dump dir: /run/pluto
Jun 09 17:05:41 gabay pluto[391352]: secrets file: /etc/ipsec.secrets
Jun 09 17:05:41 gabay pluto[391352]: Initializing NSS using read-only database "sql:/var/lib/ipsec/nss"
Jun 09 17:05:41 gabay pluto[391352]: FIPS Mode: OFF
Jun 09 17:05:41 gabay pluto[391352]: NSS crypto library initialized
Jun 09 17:05:41 gabay pluto[391352]: FIPS mode disabled for pluto daemon
Jun 09 17:05:41 gabay pluto[391352]: NSS: OCSP [disabled]
Jun 09 17:05:41 gabay pluto[391352]: FIPS HMAC integrity support [not required]
Jun 09 17:05:41 gabay pluto[391352]: libcap-ng support [enabled]
Jun 09 17:05:41 gabay pluto[391352]: Linux audit support [disabled]
Jun 09 17:05:41 gabay pluto[391352]: leak-detective [enabled]
Jun 09 17:05:41 gabay pluto[391352]: NSS crypto [enabled]
Jun 09 17:05:41 gabay pluto[391352]: XAUTH PAM support [enabled]
Jun 09 17:05:41 gabay pluto[391352]: initializing libevent in pthreads mode: headers: 2.1.12-stable (2010c00); library: 2.1.12-stable (2010c00)
Jun 09 17:05:41 gabay pluto[391352]: log rate limiting [enabled]
Jun 09 17:05:41 gabay pluto[391352]: NAT-Traversal: keep-alive period 20s
Jun 09 17:05:41 gabay NetworkManager[2136]: <info>  [1781046341.5071] manager: (ipsec1): new Generic device (/org/freedesktop/NetworkManager/Devices/24)
Jun 09 17:05:41 gabay pluto[391352]: IPsec Interface [managed]
Jun 09 17:05:41 gabay pluto[391352]: refreshed session resume keys, issuing key 1
Jun 09 17:05:41 gabay pluto[391352]: Encryption Algorithm (cipher):
Jun 09 17:05:41 gabay pluto[391352]:   AES_CCM_16         {256,192,*128} IKEv1:     ESP     IKEv2:     ESP     FIPS              aes_ccm, aes_ccm_c
Jun 09 17:05:41 gabay pluto[391352]:   AES_CCM_12         {256,192,*128} IKEv1:     ESP     IKEv2:     ESP     FIPS              aes_ccm_b
Jun 09 17:05:41 gabay pluto[391352]:   AES_CCM_8          {256,192,*128} IKEv1:     ESP     IKEv2:     ESP     FIPS              aes_ccm_a
Jun 09 17:05:41 gabay pluto[391352]:   3DES_CBC           [*192]         IKEv1: IKE ESP     IKEv2: IKE ESP     FIPS NSS(CBC)     3des
Jun 09 17:05:41 gabay pluto[391352]:   CAMELLIA_CTR       {256,192,*128} IKEv1:     ESP     IKEv2:     ESP
Jun 09 17:05:41 gabay pluto[391352]:   CAMELLIA_CBC       {256,192,*128} IKEv1: IKE ESP     IKEv2: IKE ESP          NSS(CBC)     camellia
Jun 09 17:05:41 gabay pluto[391352]:   AES_GCM_16         {256,192,*128} IKEv1:     ESP     IKEv2: IKE ESP     FIPS NSS(AEAD)    aes_gcm, aes_gcm_c
Jun 09 17:05:41 gabay pluto[391352]:   AES_GCM_12         {256,192,*128} IKEv1:     ESP     IKEv2: IKE ESP     FIPS NSS(AEAD)    aes_gcm_b
Jun 09 17:05:41 gabay pluto[391352]:   AES_GCM_8          {256,192,*128} IKEv1:     ESP     IKEv2: IKE ESP     FIPS NSS(AEAD)    aes_gcm_a
Jun 09 17:05:41 gabay pluto[391352]:   AES_CTR            {256,192,*128} IKEv1: IKE ESP     IKEv2: IKE ESP     FIPS NSS(CTR)     aesctr
Jun 09 17:05:41 gabay pluto[391352]:   AES_CBC            {256,192,*128} IKEv1: IKE ESP     IKEv2: IKE ESP     FIPS NSS(CBC)     aes
Jun 09 17:05:41 gabay pluto[391352]:   NULL_AUTH_AES_GMAC {256,192,*128} IKEv1:     ESP     IKEv2:     ESP     FIPS              aes_gmac
Jun 09 17:05:41 gabay pluto[391352]:   NULL               []             IKEv1:     ESP     IKEv2:     ESP          NULL
Jun 09 17:05:41 gabay pluto[391352]:   CHACHA20_POLY1305  [*256]         IKEv1:             IKEv2: IKE ESP          NSS(AEAD)    chacha20poly1305
Jun 09 17:05:41 gabay pluto[391352]: Hashing Algorithm:
Jun 09 17:05:41 gabay pluto[391352]:   MD5                               IKEv1: IKE         IKEv2:                  NSS
Jun 09 17:05:41 gabay pluto[391352]:   SHA1                              IKEv1: IKE         IKEv2: IKE         FIPS NSS          sha
Jun 09 17:05:41 gabay pluto[391352]:   SHA2_256                          IKEv1: IKE         IKEv2: IKE         FIPS NSS          sha2, sha256
Jun 09 17:05:41 gabay pluto[391352]:   SHA2_384                          IKEv1: IKE         IKEv2: IKE         FIPS NSS          sha384
Jun 09 17:05:41 gabay pluto[391352]:   SHA2_512                          IKEv1: IKE         IKEv2: IKE         FIPS NSS          sha512
Jun 09 17:05:41 gabay pluto[391352]:   IDENTITY                          IKEv1:             IKEv2:             FIPS
Jun 09 17:05:41 gabay pluto[391352]: Pseudorandom Function (KDF):
Jun 09 17:05:41 gabay pluto[391352]:   HMAC_MD5                          IKEv1: IKE         IKEv2: IKE              NSS          md5
Jun 09 17:05:41 gabay pluto[391352]:   HMAC_SHA1                         IKEv1: IKE         IKEv2: IKE         FIPS NSS          sha, sha1
Jun 09 17:05:41 gabay pluto[391352]:   HMAC_SHA2_256                     IKEv1: IKE         IKEv2: IKE         FIPS NSS          sha2, sha256, sha2_256
Jun 09 17:05:41 gabay pluto[391352]:   HMAC_SHA2_384                     IKEv1: IKE         IKEv2: IKE         FIPS NSS          sha384, sha2_384
Jun 09 17:05:41 gabay pluto[391352]:   HMAC_SHA2_512                     IKEv1: IKE         IKEv2: IKE         FIPS NSS          sha512, sha2_512
Jun 09 17:05:41 gabay pluto[391352]:   AES_XCBC                          IKEv1:             IKEv2: IKE              native(XCBC) aes128_xcbc
Jun 09 17:05:41 gabay pluto[391352]: Integrity Algorithm:
Jun 09 17:05:41 gabay pluto[391352]:   HMAC_MD5_96                       IKEv1: IKE ESP AH  IKEv2: IKE ESP AH       NSS          md5, hmac_md5
Jun 09 17:05:41 gabay pluto[391352]:   HMAC_SHA1_96                      IKEv1: IKE ESP AH  IKEv2: IKE ESP AH  FIPS NSS          sha, sha1, sha1_96, hmac_sha1
Jun 09 17:05:41 gabay pluto[391352]:   HMAC_SHA2_512_256                 IKEv1: IKE ESP AH  IKEv2: IKE ESP AH  FIPS NSS          sha512, sha2_512, sha2_512_256, hmac_sha2_512
Jun 09 17:05:41 gabay pluto[391352]:   HMAC_SHA2_384_192                 IKEv1: IKE ESP AH  IKEv2: IKE ESP AH  FIPS NSS          sha384, sha2_384, sha2_384_192, hmac_sha2_384
Jun 09 17:05:41 gabay pluto[391352]:   HMAC_SHA2_256_128                 IKEv1: IKE ESP AH  IKEv2: IKE ESP AH  FIPS NSS          sha2, sha256, sha2_256, sha2_256_128, hmac_sha2_256
Jun 09 17:05:41 gabay pluto[391352]:   HMAC_SHA2_256_TRUNCBUG            IKEv1:     ESP AH  IKEv2:         AH
Jun 09 17:05:41 gabay pluto[391352]:   AES_XCBC_96                       IKEv1:     ESP AH  IKEv2: IKE ESP AH       native(XCBC) aes_xcbc, aes128_xcbc, aes128_xcbc_96
Jun 09 17:05:41 gabay pluto[391352]:   AES_CMAC_96                       IKEv1:     ESP AH  IKEv2:     ESP AH  FIPS              aes_cmac
Jun 09 17:05:41 gabay pluto[391352]:   NONE                              IKEv1:     ESP     IKEv2: IKE ESP     FIPS              null
Jun 09 17:05:41 gabay pluto[391352]: Key Exchange Method (DH):
Jun 09 17:05:41 gabay pluto[391352]:   NONE                              IKEv1:             IKEv2: IKE ESP AH  FIPS NSS(MODP)    null, dh0
Jun 09 17:05:41 gabay pluto[391352]:   MODP1536                          IKEv1: IKE ESP AH  IKEv2: IKE ESP AH       NSS(MODP)    dh5
Jun 09 17:05:41 gabay pluto[391352]:   MODP2048                          IKEv1: IKE ESP AH  IKEv2: IKE ESP AH  FIPS NSS(MODP)    dh14
Jun 09 17:05:41 gabay pluto[391352]:   MODP3072                          IKEv1: IKE ESP AH  IKEv2: IKE ESP AH  FIPS NSS(MODP)    dh15
Jun 09 17:05:41 gabay pluto[391352]:   MODP4096                          IKEv1: IKE ESP AH  IKEv2: IKE ESP AH  FIPS NSS(MODP)    dh16
Jun 09 17:05:41 gabay pluto[391352]:   MODP6144                          IKEv1: IKE ESP AH  IKEv2: IKE ESP AH  FIPS NSS(MODP)    dh17
Jun 09 17:05:41 gabay pluto[391352]:   MODP8192                          IKEv1: IKE ESP AH  IKEv2: IKE ESP AH  FIPS NSS(MODP)    dh18
Jun 09 17:05:41 gabay pluto[391352]:   DH19                              IKEv1: IKE ESP AH  IKEv2: IKE ESP AH  FIPS NSS(ECP)     ecp_256, ecp256
Jun 09 17:05:41 gabay pluto[391352]:   DH20                              IKEv1: IKE ESP AH  IKEv2: IKE ESP AH  FIPS NSS(ECP)     ecp_384, ecp384
Jun 09 17:05:41 gabay pluto[391352]:   DH21                              IKEv1: IKE ESP AH  IKEv2: IKE ESP AH  FIPS NSS(ECP)     ecp_521, ecp521
Jun 09 17:05:41 gabay pluto[391352]:   DH31                              IKEv1: IKE ESP AH  IKEv2: IKE ESP AH       NSS(ECP)     curve25519
Jun 09 17:05:41 gabay pluto[391352]:   ML_KEM_768                        IKEv1:             IKEv2: IKE ESP AH       NSS(MLKEM)   mlkem768
Jun 09 17:05:41 gabay pluto[391352]:   ML_KEM_1024                       IKEv1:             IKEv2: IKE ESP AH       NSS(MLKEM)   mlkem1024
Jun 09 17:05:41 gabay pluto[391352]: IP Compression:
Jun 09 17:05:41 gabay pluto[391352]:   DEFLATE                           IKEv1:     ESP AH  IKEv2:     ESP AH  FIPS
Jun 09 17:05:41 gabay pluto[391352]:   LZS                               IKEv1:             IKEv2:     ESP AH  FIPS
Jun 09 17:05:41 gabay pluto[391352]:   LZJH                              IKEv1:             IKEv2:     ESP AH  FIPS
Jun 09 17:05:41 gabay pluto[391352]: Sequence Number:
Jun 09 17:05:41 gabay pluto[391352]:   32_BIT_SEQUENTIAL                 IKEv1:             IKEv2:     ESP AH  FIPS              no
Jun 09 17:05:41 gabay pluto[391352]:   PARTIAL_64_BIT_SEQUENTIAL         IKEv1:             IKEv2:     ESP AH  FIPS              yes
Jun 09 17:05:41 gabay pluto[391352]: testing CAMELLIA_CBC:
Jun 09 17:05:41 gabay pluto[391352]:   Camellia: 16 bytes with 128-bit key
Jun 09 17:05:41 gabay pluto[391352]:   Camellia: 16 bytes with 128-bit key
Jun 09 17:05:41 gabay pluto[391352]:   Camellia: 16 bytes with 256-bit key
Jun 09 17:05:41 gabay pluto[391352]:   Camellia: 16 bytes with 256-bit key
Jun 09 17:05:41 gabay pluto[391352]: testing AES_GCM_16:
Jun 09 17:05:41 gabay pluto[391352]:   empty string
Jun 09 17:05:41 gabay pluto[391352]:   one block
Jun 09 17:05:41 gabay pluto[391352]:   two blocks
Jun 09 17:05:41 gabay pluto[391352]:   two blocks with associated data
Jun 09 17:05:41 gabay pluto[391352]: testing AES_CTR:
Jun 09 17:05:41 gabay pluto[391352]:   Encrypting 16 octets using AES-CTR with 128-bit key
Jun 09 17:05:41 gabay pluto[391352]:   Encrypting 32 octets using AES-CTR with 128-bit key
Jun 09 17:05:41 gabay pluto[391352]:   Encrypting 36 octets using AES-CTR with 128-bit key
Jun 09 17:05:41 gabay pluto[391352]:   Encrypting 16 octets using AES-CTR with 192-bit key
Jun 09 17:05:41 gabay pluto[391352]:   Encrypting 32 octets using AES-CTR with 192-bit key
Jun 09 17:05:41 gabay pluto[391352]:   Encrypting 36 octets using AES-CTR with 192-bit key
Jun 09 17:05:41 gabay pluto[391352]:   Encrypting 16 octets using AES-CTR with 256-bit key
Jun 09 17:05:41 gabay pluto[391352]:   Encrypting 32 octets using AES-CTR with 256-bit key
Jun 09 17:05:41 gabay pluto[391352]:   Encrypting 36 octets using AES-CTR with 256-bit key
Jun 09 17:05:41 gabay pluto[391352]: testing AES_CBC:
Jun 09 17:05:41 gabay pluto[391352]:   Encrypting 16 bytes (1 block) using AES-CBC with 128-bit key
Jun 09 17:05:41 gabay pluto[391352]:   Encrypting 32 bytes (2 blocks) using AES-CBC with 128-bit key
Jun 09 17:05:41 gabay pluto[391352]:   Encrypting 48 bytes (3 blocks) using AES-CBC with 128-bit key
Jun 09 17:05:41 gabay pluto[391352]:   Encrypting 64 bytes (4 blocks) using AES-CBC with 128-bit key
Jun 09 17:05:41 gabay pluto[391352]: testing AES_XCBC:
Jun 09 17:05:41 gabay pluto[391352]:   RFC 3566 Test Case 1: AES-XCBC-MAC-96 with 0-byte input
Jun 09 17:05:41 gabay pluto[391352]:   RFC 3566 Test Case 2: AES-XCBC-MAC-96 with 3-byte input
Jun 09 17:05:41 gabay pluto[391352]:   RFC 3566 Test Case 3: AES-XCBC-MAC-96 with 16-byte input
Jun 09 17:05:41 gabay pluto[391352]:   RFC 3566 Test Case 4: AES-XCBC-MAC-96 with 20-byte input
Jun 09 17:05:41 gabay pluto[391352]:   RFC 3566 Test Case 5: AES-XCBC-MAC-96 with 32-byte input
Jun 09 17:05:41 gabay pluto[391352]:   RFC 3566 Test Case 6: AES-XCBC-MAC-96 with 34-byte input
Jun 09 17:05:41 gabay pluto[391352]:   RFC 3566 Test Case 7: AES-XCBC-MAC-96 with 1000-byte input
Jun 09 17:05:41 gabay pluto[391352]:   RFC 4434 Test Case AES-XCBC-PRF-128 with 20-byte input (key length 16)
Jun 09 17:05:41 gabay pluto[391352]:   RFC 4434 Test Case AES-XCBC-PRF-128 with 20-byte input (key length 10)
Jun 09 17:05:41 gabay pluto[391352]:   RFC 4434 Test Case AES-XCBC-PRF-128 with 20-byte input (key length 18)
Jun 09 17:05:41 gabay pluto[391352]: testing HMAC_MD5:
Jun 09 17:05:41 gabay pluto[391352]:   RFC 2104: MD5_HMAC test 1
Jun 09 17:05:41 gabay pluto[391352]:   RFC 2104: MD5_HMAC test 2
Jun 09 17:05:41 gabay pluto[391352]:   RFC 2104: MD5_HMAC test 3
Jun 09 17:05:41 gabay pluto[391352]: testing HMAC_SHA1:
Jun 09 17:05:41 gabay pluto[391352]:   CAVP: IKEv2 key derivation with HMAC-SHA1
Jun 09 17:05:41 gabay pluto[391352]: 4 CPU cores online
Jun 09 17:05:41 gabay pluto[391352]: starting 3 helpers
Jun 09 17:05:41 gabay pluto[391352]: helper 1: started
Jun 09 17:05:41 gabay pluto[391352]: helper 2: started
Jun 09 17:05:41 gabay pluto[391352]: helper 3: started
Jun 09 17:05:41 gabay pluto[391352]: using Linux xfrm kernel support code on #1 SMP PREEMPT_DYNAMIC Sat May 30 08:29:39 MDT 2026
Jun 09 17:05:41 gabay pluto[391352]: setting expire-lifetime= to 30 from '/proc/sys/net/core/xfrm_acq_expires'
Jun 09 17:05:41 gabay pluto[391352]: helper 1: seccomp security for helper not supported
Jun 09 17:05:41 gabay pluto[391352]: helper 2: seccomp security for helper not supported
Jun 09 17:05:41 gabay pluto[391352]: default IKEv2 ike proposals:
Jun 09 17:05:41 gabay pluto[391352]:   AES_GCM_16_256-HMAC_SHA2_512+HMAC_SHA2_256-DH19+DH20+DH21+DH31+MODP4096+MODP3072+MODP2048+MODP8192
Jun 09 17:05:41 gabay pluto[391352]:   AES_GCM_16_128-HMAC_SHA2_512+HMAC_SHA2_256-DH19+DH20+DH21+DH31+MODP4096+MODP3072+MODP2048+MODP8192
Jun 09 17:05:41 gabay pluto[391352]:   CHACHA20_POLY1305-HMAC_SHA2_512+HMAC_SHA2_256-DH19+DH20+DH21+DH31+MODP4096+MODP3072+MODP2048+MODP8192
Jun 09 17:05:41 gabay pluto[391352]:   AES_CBC_256-HMAC_SHA2_512+HMAC_SHA2_256-DH19+DH20+DH21+DH31+MODP4096+MODP3072+MODP2048+MODP8192
Jun 09 17:05:41 gabay pluto[391352]:   AES_CBC_128-HMAC_SHA2_512+HMAC_SHA2_256-DH19+DH20+DH21+DH31+MODP4096+MODP3072+MODP2048+MODP8192
Jun 09 17:05:41 gabay pluto[391352]: default IKEv1 ike proposals:
Jun 09 17:05:41 gabay pluto[391352]:   AES_CBC-HMAC_SHA2_256-MODP2048
Jun 09 17:05:41 gabay pluto[391352]:   AES_CBC-HMAC_SHA2_512-MODP2048
Jun 09 17:05:41 gabay pluto[391352]:   AES_CBC-HMAC_SHA1-MODP2048
Jun 09 17:05:41 gabay pluto[391352]:   AES_CBC-HMAC_SHA2_256-MODP1536
Jun 09 17:05:41 gabay pluto[391352]:   AES_CBC-HMAC_SHA2_512-MODP1536
Jun 09 17:05:41 gabay pluto[391352]:   AES_CBC-HMAC_SHA1-MODP1536
Jun 09 17:05:41 gabay pluto[391352]:   AES_CBC-HMAC_SHA2_256-DH19
Jun 09 17:05:41 gabay pluto[391352]:   AES_CBC-HMAC_SHA2_512-DH19
Jun 09 17:05:41 gabay pluto[391352]:   AES_CBC-HMAC_SHA1-DH19
Jun 09 17:05:41 gabay pluto[391352]:   AES_CBC-HMAC_SHA2_256-DH31
Jun 09 17:05:41 gabay pluto[391352]:   AES_CBC-HMAC_SHA2_512-DH31
Jun 09 17:05:41 gabay pluto[391352]:   AES_CBC-HMAC_SHA1-DH31
Jun 09 17:05:41 gabay pluto[391352]:   3DES_CBC-HMAC_SHA2_256-MODP2048
Jun 09 17:05:41 gabay pluto[391352]:   3DES_CBC-HMAC_SHA2_512-MODP2048
Jun 09 17:05:41 gabay systemd[1]: Started Internet Key Exchange (IKE) Protocol Daemon for IPsec.
Jun 09 17:05:41 gabay pluto[391352]:   3DES_CBC-HMAC_SHA1-MODP2048
Jun 09 17:05:41 gabay pluto[391352]:   3DES_CBC-HMAC_SHA2_256-MODP1536
Jun 09 17:05:41 gabay pluto[391352]:   3DES_CBC-HMAC_SHA2_512-MODP1536
Jun 09 17:05:41 gabay pluto[391352]:   3DES_CBC-HMAC_SHA1-MODP1536
Jun 09 17:05:41 gabay pluto[391352]:   3DES_CBC-HMAC_SHA2_256-DH19
Jun 09 17:05:41 gabay pluto[391352]:   3DES_CBC-HMAC_SHA2_512-DH19
Jun 09 17:05:41 gabay pluto[391352]:   3DES_CBC-HMAC_SHA1-DH19
Jun 09 17:05:41 gabay pluto[391352]:   3DES_CBC-HMAC_SHA2_256-DH31
Jun 09 17:05:41 gabay pluto[391352]:   3DES_CBC-HMAC_SHA2_512-DH31
Jun 09 17:05:41 gabay pluto[391352]:   3DES_CBC-HMAC_SHA1-DH31
Jun 09 17:05:41 gabay pluto[391352]: default IKEv2 esp proposals:
Jun 09 17:05:41 gabay (udev-worker)[391356]: ipsec1: Process '/usr/bin/killall -SIGHUP irqbalance' failed with exit code 1.
Jun 09 17:05:41 gabay pluto[391352]:   AES_GCM_16_256
Jun 09 17:05:41 gabay pluto[391352]:   AES_GCM_16_128
Jun 09 17:05:41 gabay pluto[391352]:   CHACHA20_POLY1305
Jun 09 17:05:41 gabay pluto[391352]:   AES_CBC_256-HMAC_SHA2_512_256+HMAC_SHA2_256_128
Jun 09 17:05:41 gabay pluto[391352]:   AES_CBC_128-HMAC_SHA2_512_256+HMAC_SHA2_256_128
Jun 09 17:05:41 gabay pluto[391352]: default IKEv1 esp proposals:
Jun 09 17:05:41 gabay pluto[391352]:   AES_CBC-HMAC_SHA1_96
Jun 09 17:05:41 gabay pluto[391352]:   AES_CBC-HMAC_SHA2_512_256
Jun 09 17:05:41 gabay pluto[391352]:   AES_CBC-HMAC_SHA2_256_128
Jun 09 17:05:41 gabay pluto[391352]:   AES_GCM_16_128
Jun 09 17:05:41 gabay pluto[391352]:   AES_GCM_16_256
Jun 09 17:05:41 gabay pluto[391352]:   3DES_CBC-HMAC_SHA1_96
Jun 09 17:05:41 gabay pluto[391352]:   3DES_CBC-HMAC_SHA2_512_256
Jun 09 17:05:41 gabay pluto[391352]:   3DES_CBC-HMAC_SHA2_256_128
Jun 09 17:05:41 gabay pluto[391352]: default IKEv2 ah proposals:
Jun 09 17:05:41 gabay pluto[391352]:   HMAC_SHA2_512_256
Jun 09 17:05:41 gabay pluto[391352]:   HMAC_SHA2_256_128
Jun 09 17:05:41 gabay pluto[391352]: default IKEv1 ah proposals:
Jun 09 17:05:41 gabay pluto[391352]:   HMAC_SHA1_96
Jun 09 17:05:41 gabay pluto[391352]:   HMAC_SHA2_512_256
Jun 09 17:05:41 gabay pluto[391352]:   HMAC_SHA2_256_128
Jun 09 17:05:41 gabay pluto[391352]: CRL fetch support [disabled]
Jun 09 17:05:41 gabay pluto[391352]: systemd watchdog [enabled]; ipsec.service configured with timeout of 200000000 usecs, sending "keep-alive ping" every 100 seconds
Jun 09 17:05:41 gabay pluto[391352]: systemd watchdog: sending action: start, status 0
Jun 09 17:05:41 gabay pluto[391352]: helper 3: seccomp security for helper not supported
Jun 09 17:05:41 gabay pluto[391352]: warning: dnssec= ignored
Jun 09 17:05:41 gabay pluto[391352]: DNSSEC support [not compiled in]
Jun 09 17:05:41 gabay pluto[391352]: IPSECKEY support [not compiled in]
Jun 09 17:05:41 gabay pluto[391352]: kernel: directional SA supported by kernel
Jun 09 17:05:41 gabay pluto[391352]: kernel: IPTFS SA supported by kernel
Jun 09 17:05:41 gabay pluto[391352]: kernel: MIGRATE SA supported by kernel
Jun 09 17:05:41 gabay pluto[391352]: seccomp security not supported
Jun 09 17:05:41 gabay pluto[391352]: addconn: ipsec addconn: warning: /etc/ipsec.d/inlandport.conf:40: obsolete keyword ignored: dpdaction=clear
Jun 09 17:05:41 gabay pluto[391352]: addconn:
Jun 09 17:05:41 gabay pluto[391352]: addconn: ipsec addconn: warning: /etc/ipsec.d/uta-rail.conf:39: obsolete keyword ignored: dpdaction=clear
Jun 09 17:05:41 gabay pluto[391352]: addconn:
Jun 09 17:05:41 gabay pluto[391352]: "ikev2-tunnel": loaded private key matching left certificate '67.42.30.61'
Jun 09 17:05:41 gabay pluto[391352]: "ikev2-tunnel": IKE SA proposals (connection add):
Jun 09 17:05:41 gabay pluto[391352]: "ikev2-tunnel":   1:IKE=AES_GCM_16_256-HMAC_SHA2_256-NONE-ECP_256
Jun 09 17:05:41 gabay pluto[391352]: "ikev2-tunnel":   2:IKE=AES_CBC_256-HMAC_SHA2_256-HMAC_SHA2_256_128-ECP_256+ECP_384+ECP_521+CURVE25519+MODP4096+MODP3072+MODP2048+MODP8192
Jun 09 17:05:41 gabay pluto[391352]: "ikev2-tunnel":   3:IKE=AES_CBC_128-HMAC_SHA2_256-HMAC_SHA2_256_128-ECP_256+ECP_384+ECP_521+CURVE25519+MODP4096+MODP3072+MODP2048+MODP8192
Jun 09 17:05:41 gabay pluto[391352]: "ikev2-tunnel":   4:IKE=AES_CBC_256-HMAC_SHA1-HMAC_SHA1_96-ECP_256+ECP_384+ECP_521+CURVE25519+MODP4096+MODP3072+MODP2048+MODP8192
Jun 09 17:05:41 gabay pluto[391352]: "ikev2-tunnel":   5:IKE=AES_CBC_128-HMAC_SHA1-HMAC_SHA1_96-ECP_256+ECP_384+ECP_521+CURVE25519+MODP4096+MODP3072+MODP2048+MODP8192
Jun 09 17:05:41 gabay pluto[391352]: "ikev2-tunnel": Child SA proposals (connection add):
Jun 09 17:05:41 gabay pluto[391352]: "ikev2-tunnel":   1:ESP=AES_GCM_16_128+AES_GCM_16_256-NONE-NONE-ESN:YES+NO
Jun 09 17:05:41 gabay pluto[391352]: "ikev2-tunnel":   2:ESP=AES_CBC_128-HMAC_SHA1_96-NONE-ESN:YES+NO
Jun 09 17:05:41 gabay pluto[391352]: "ikev2-tunnel":   3:ESP=AES_CBC_256-HMAC_SHA1_96-NONE-ESN:YES+NO
Jun 09 17:05:41 gabay pluto[391352]: "ikev2-tunnel":   4:ESP=AES_CBC_128-HMAC_SHA2_256_128-NONE-ESN:YES+NO
Jun 09 17:05:41 gabay pluto[391352]: "ikev2-tunnel":   5:ESP=AES_CBC_256-HMAC_SHA2_256_128-NONE-ESN:YES+NO
Jun 09 17:05:41 gabay pluto[391352]: warning: "ikev2-tunnel": IKEv2 ignores dpdtimeout==; use dpddelay= and retransmit-timeout=
Jun 09 17:05:41 gabay pluto[391352]: "ikev2-tunnel": connection is using multiple subnets
Jun 09 17:05:41 gabay pluto[391352]: "ikev2-tunnel": added IKEv2 connection
```

```Jun 09 17:22:48 gabay pluto[391352]: "ikev2-tunnel"[55] x.x.x.x #58: sent IKE_SA_INIT response to 67.42.30.57:UDP/500 {cipher=AES_GCM_16_256 integ=n/a prf=HMAC_SHA2_256 group=DH19}, expecting IKE_AUTH, IKE_INTERMEDIATE, or IKE_AUTH (EAP)
Jun 09 17:22:48 gabay pluto[391352]: "ikev2-tunnel"[55] x.x.x.x #58: received first encrypted IKE_AUTH message containing SK payload from 67.42.30.57:UDP/500, completing Key Exchange computation (SKEYSEED) in the background
Jun 09 17:22:48 gabay pluto[391352]: "ikev2-tunnel"[55] x.x.x.x #58: processing IKE_AUTH request from 67.42.30.57:UDP/500 containing SK{IDi,AUTH,N(MOBIKE_SUPPORTED),SA,CP,TSi,TSr}
Jun 09 17:22:48 gabay pluto[391352]: "ikev2-tunnel"[55] x.x.x.x #58: authentication failed: peer attempted PSK authentication but we want EAPONLY
Jun 09 17:22:48 gabay pluto[391352]: "ikev2-tunnel"[55] x.x.x.x #58: responding to IKE_AUTH message (ID 1) from 67.42.30.57:500 with encrypted notification AUTHENTICATION_FAILED
```

On the client I am getting:
```Jun 09 17:40:43 gabay pluto[391352]: "ikev2-tunnel"[89] x.x.x.x #95: processing IKE_SA_INIT request from 67.42.30.57:UDP/500 containing SA,KE,Ni,N(IKEV2_FRAGMENTATION_SUPPORTED),N(SIGNATURE_HASH_ALGORITHMS),N(NAT_DETECTION_SOURCE_IP),N(NAT_DETECTION_DESTINATION_IP)
Jun 09 17:40:43 gabay pluto[391352]: "ikev2-tunnel"[89] x.x.x.x #95: proposal 1:IKE=AES_GCM_16_256-HMAC_SHA2_256-ECP_256 chosen from remote proposals 1:IKE:ENCR=AES_GCM_16_256;PRF=HMAC_SHA2_512;PRF=HMAC_SHA2_256;KE=ECP_256;KE=ECP_384;KE=ECP_521;KE=CURVE25519;KE=MODP>
Jun 09 17:28:38 rapsure pluto[1047329]: "a.y.net" #35: sent IKE_SA_INIT request to y.y.y.y:UDP/500
Jun 09 17:28:38 rapsure pluto[1047329]: "a.y.net" #35: processed IKE_SA_INIT response from 67.42.30.61:UDP/500 {cipher=AES_GCM_16_256 integ=n/a prf=HMAC_SHA2_256 group=DH19}, initiating IKE_AUTH
Jun 09 17:28:38 rapsure pluto[1047329]: "a.y.net" #35: sent IKE_AUTH request to y.y.y.y:UDP/500 with shared-key-mac and DER_ASN1_DN 'CN=rapsure_rapsure, O=Rapsure'; Child SA #36 {ESP <0xb24e854b} [192.168.42.0/26===192.168.42.0/24] [192.168.42.0/26===192.168.1.0/24] [192.168.42.0/26===192.168.10.0/24]
Jun 09 17:28:38 rapsure pluto[1047329]: "a.y.net" #35: IKE SA authentication request rejected by peer: AUTHENTICATION_FAILED
Jun 09 17:28:38 rapsure pluto[1047329]: "a.y.net" #35: encountered fatal error in state IKE_AUTH_I
```

libreswan only has server side support for eaptls