session resume would like to know the `re-authentication time`

but no parameter jumps out as the value:
```
	 * RFC 5723 Section 6.2
	 *
	 * The lifetime of the ticket sent by the gateway SHOULD be the minimum
	 * of the IKE SA lifetime (per the gateway's local policy) and its re-
	 * authentication time.
```
the current code uses IKE or Child lifetime (because there's no better value)