can't start ipsec: missing /proc/net/xfrm_stat

### Please Tell Us About Your System

debian 11.11
custom kernel 5.10.233
libreswan git version 01d40e2e08035b26c42cfabb233f0e49320a30c4 

### IKE Version

- [ ] IKEv1
- [ ] IKEv2

### Protocol

- [ ] ESP
- [ ] AH

### Is IPsec or VTI involved?

- [ ] IPsec Interface
- [ ] VTI

### What happened?

trying to test current git version i got this error:

`
Apr 30 12:06:00 sol1 pluto[3271475]: FATAL ERROR: no XFRM kernel support detected, missing /proc/net/xfrm_stat: No such file or directory (errno 2)
`

In my case i'm using a custom compiled kernel without CONFIG_XFRM_STATISTICS.  I'm already compiling a new kernel enabling it that should fix the issue.



### Your configuration

```shell

```

### Relevant log output

```shell
Apr 30 12:06:00 sol1 pluto[3271475]: Starting Pluto (Libreswan Version 5.2-1 IKEv2 IKEv1 XFRM XFRMI esp-hw-offload FORK PTHREAD_SETSCHEDPRIO NSS (IPsec profile) (NSS-KDF) DNSSEC SYSTEMD_WATCHDOG LABELED_IPSEC (SELINUX) LIBCAP_NG LINUX_AUDIT AUTH_PAM NETWORKMANAGER CURL(non-NSS) LDAP(non-NSS) NFTABLES CAT NFLOG) pid:3271475
Apr 30 12:06:00 sol1 pluto[3271475]: operating system: Linux 5.10.233 [Linux 5.10.233 #20250110 SMP PREEMPT Fri Jan 10 09:57:43 UTC 2025 x86_64]
Apr 30 12:06:00 sol1 pluto[3271475]: core dump dir: /run/pluto
Apr 30 12:06:00 sol1 pluto[3271475]: secrets file: /etc/ipsec.secrets
Apr 30 12:06:00 sol1 pluto[3271475]: Initializing NSS using read-only database "sql:/var/lib/ipsec/nss"
Apr 30 12:06:00 sol1 pluto[3271475]: FIPS Mode: OFF
Apr 30 12:06:00 sol1 pluto[3271475]: NSS crypto library initialized
Apr 30 12:06:00 sol1 pluto[3271475]: FIPS mode disabled for pluto daemon
Apr 30 12:06:00 sol1 pluto[3271475]: NSS: OCSP [disabled]
Apr 30 12:06:00 sol1 pluto[3271475]: FIPS HMAC integrity support [not required]
Apr 30 12:06:00 sol1 pluto[3271475]: libcap-ng support [enabled]
Apr 30 12:06:00 sol1 pluto[3271475]: Linux audit support [enabled]
Apr 30 12:06:00 sol1 pluto[3271475]: Linux audit activated
Apr 30 12:06:00 sol1 pluto[3271475]: leak-detective enabled
Apr 30 12:06:00 sol1 pluto[3271475]: NSS crypto [enabled]
Apr 30 12:06:00 sol1 pluto[3271475]: XAUTH PAM support [enabled]
Apr 30 12:06:00 sol1 pluto[3271475]: initializing libevent in pthreads mode: headers: 2.1.12-stable (2010c00); library: 2.1.12-stable (2010c00)
Apr 30 12:06:00 sol1 pluto[3271475]: NAT-Traversal: keep-alive period 20s
Apr 30 12:06:00 sol1 pluto[3271475]: IPsec Interface [managed]
Apr 30 12:06:00 sol1 pluto[3271475]: refreshed session resume keys, issuing key 1
Apr 30 12:06:00 sol1 pluto[3271475]: Encryption algorithms:
Apr 30 12:06:00 sol1 pluto[3271475]:   AES_CCM_16         {256,192,*128} IKEv1:     ESP     IKEv2:     ESP     FIPS              aes_ccm, aes_ccm_c
Apr 30 12:06:00 sol1 pluto[3271475]:   AES_CCM_12         {256,192,*128} IKEv1:     ESP     IKEv2:     ESP     FIPS              aes_ccm_b
Apr 30 12:06:00 sol1 pluto[3271475]:   AES_CCM_8          {256,192,*128} IKEv1:     ESP     IKEv2:     ESP     FIPS              aes_ccm_a
Apr 30 12:06:00 sol1 pluto[3271475]:   3DES_CBC           [*192]         IKEv1: IKE ESP     IKEv2: IKE ESP     FIPS NSS(CBC)     3des
Apr 30 12:06:00 sol1 pluto[3271475]:   CAMELLIA_CTR       {256,192,*128} IKEv1:     ESP     IKEv2:     ESP
Apr 30 12:06:00 sol1 pluto[3271475]:   CAMELLIA_CBC       {256,192,*128} IKEv1: IKE ESP     IKEv2: IKE ESP          NSS(CBC)     camellia
Apr 30 12:06:00 sol1 pluto[3271475]:   AES_GCM_16         {256,192,*128} IKEv1:     ESP     IKEv2: IKE ESP     FIPS NSS(AEAD)    aes_gcm, aes_gcm_c
Apr 30 12:06:00 sol1 pluto[3271475]:   AES_GCM_12         {256,192,*128} IKEv1:     ESP     IKEv2: IKE ESP     FIPS NSS(AEAD)    aes_gcm_b
Apr 30 12:06:00 sol1 pluto[3271475]:   AES_GCM_8          {256,192,*128} IKEv1:     ESP     IKEv2: IKE ESP     FIPS NSS(AEAD)    aes_gcm_a
Apr 30 12:06:00 sol1 pluto[3271475]:   AES_CTR            {256,192,*128} IKEv1: IKE ESP     IKEv2: IKE ESP     FIPS NSS(CTR)     aesctr
Apr 30 12:06:00 sol1 pluto[3271475]:   AES_CBC            {256,192,*128} IKEv1: IKE ESP     IKEv2: IKE ESP     FIPS NSS(CBC)     aes
Apr 30 12:06:00 sol1 pluto[3271475]:   NULL_AUTH_AES_GMAC {256,192,*128} IKEv1:     ESP     IKEv2:     ESP     FIPS              aes_gmac
Apr 30 12:06:00 sol1 pluto[3271475]:   NULL               []             IKEv1:     ESP     IKEv2:     ESP          NULL
Apr 30 12:06:00 sol1 pluto[3271475]:   CHACHA20_POLY1305  [*256]         IKEv1:             IKEv2: IKE ESP          NSS(AEAD)    chacha20poly1305
Apr 30 12:06:00 sol1 pluto[3271475]: Hash algorithms:
Apr 30 12:06:00 sol1 pluto[3271475]:   MD5                               IKEv1: IKE         IKEv2:                  NSS
Apr 30 12:06:00 sol1 pluto[3271475]:   SHA1                              IKEv1: IKE         IKEv2: IKE         FIPS NSS          sha
Apr 30 12:06:00 sol1 pluto[3271475]:   SHA2_256                          IKEv1: IKE         IKEv2: IKE         FIPS NSS          sha2, sha256
Apr 30 12:06:00 sol1 pluto[3271475]:   SHA2_384                          IKEv1: IKE         IKEv2: IKE         FIPS NSS          sha384
Apr 30 12:06:00 sol1 pluto[3271475]:   SHA2_512                          IKEv1: IKE         IKEv2: IKE         FIPS NSS          sha512
Apr 30 12:06:00 sol1 pluto[3271475]:   IDENTITY                          IKEv1:             IKEv2:             FIPS
Apr 30 12:06:00 sol1 pluto[3271475]: PRF algorithms:
Apr 30 12:06:00 sol1 pluto[3271475]:   HMAC_MD5                          IKEv1: IKE         IKEv2: IKE              NSS          md5
Apr 30 12:06:00 sol1 pluto[3271475]:   HMAC_SHA1                         IKEv1: IKE         IKEv2: IKE         FIPS NSS          sha, sha1
Apr 30 12:06:00 sol1 pluto[3271475]:   HMAC_SHA2_256                     IKEv1: IKE         IKEv2: IKE         FIPS NSS          sha2, sha256, sha2_256
Apr 30 12:06:00 sol1 pluto[3271475]:   HMAC_SHA2_384                     IKEv1: IKE         IKEv2: IKE         FIPS NSS          sha384, sha2_384
Apr 30 12:06:00 sol1 pluto[3271475]:   HMAC_SHA2_512                     IKEv1: IKE         IKEv2: IKE         FIPS NSS          sha512, sha2_512
Apr 30 12:06:00 sol1 pluto[3271475]:   AES_XCBC                          IKEv1:             IKEv2: IKE              native(XCBC) aes128_xcbc
Apr 30 12:06:00 sol1 pluto[3271475]: Integrity algorithms:
Apr 30 12:06:00 sol1 pluto[3271475]:   HMAC_MD5_96                       IKEv1: IKE ESP AH  IKEv2: IKE ESP AH       NSS          md5, hmac_md5
Apr 30 12:06:00 sol1 pluto[3271475]:   HMAC_SHA1_96                      IKEv1: IKE ESP AH  IKEv2: IKE ESP AH  FIPS NSS          sha, sha1, sha1_96, hmac_sha1
Apr 30 12:06:00 sol1 pluto[3271475]:   HMAC_SHA2_512_256                 IKEv1: IKE ESP AH  IKEv2: IKE ESP AH  FIPS NSS          sha512, sha2_512, sha2_512_256, hmac_sha2_512
Apr 30 12:06:00 sol1 pluto[3271475]:   HMAC_SHA2_384_192                 IKEv1: IKE ESP AH  IKEv2: IKE ESP AH  FIPS NSS          sha384, sha2_384, sha2_384_192, hmac_sha2_384
Apr 30 12:06:00 sol1 pluto[3271475]:   HMAC_SHA2_256_128                 IKEv1: IKE ESP AH  IKEv2: IKE ESP AH  FIPS NSS          sha2, sha256, sha2_256, sha2_256_128, hmac_sha2_256
Apr 30 12:06:00 sol1 pluto[3271475]:   HMAC_SHA2_256_TRUNCBUG            IKEv1:     ESP AH  IKEv2:         AH
Apr 30 12:06:00 sol1 pluto[3271475]:   AES_XCBC_96                       IKEv1:     ESP AH  IKEv2: IKE ESP AH       native(XCBC) aes_xcbc, aes128_xcbc, aes128_xcbc_96
Apr 30 12:06:00 sol1 pluto[3271475]:   AES_CMAC_96                       IKEv1:     ESP AH  IKEv2:     ESP AH  FIPS              aes_cmac
Apr 30 12:06:00 sol1 pluto[3271475]:   NONE                              IKEv1:     ESP     IKEv2: IKE ESP     FIPS              null
Apr 30 12:06:00 sol1 pluto[3271475]: DH algorithms:
Apr 30 12:06:00 sol1 pluto[3271475]:   NONE                              IKEv1:             IKEv2: IKE ESP AH  FIPS NSS(MODP)    null, dh0
Apr 30 12:06:00 sol1 pluto[3271475]:   MODP1024                          IKEv1: IKE ESP AH  IKEv2: IKE ESP AH       NSS(MODP)    dh2
Apr 30 12:06:00 sol1 pluto[3271475]:   MODP1536                          IKEv1: IKE ESP AH  IKEv2: IKE ESP AH       NSS(MODP)    dh5
Apr 30 12:06:00 sol1 pluto[3271475]:   MODP2048                          IKEv1: IKE ESP AH  IKEv2: IKE ESP AH  FIPS NSS(MODP)    dh14
Apr 30 12:06:00 sol1 pluto[3271475]:   MODP3072                          IKEv1: IKE ESP AH  IKEv2: IKE ESP AH  FIPS NSS(MODP)    dh15
Apr 30 12:06:00 sol1 pluto[3271475]:   MODP4096                          IKEv1: IKE ESP AH  IKEv2: IKE ESP AH  FIPS NSS(MODP)    dh16
Apr 30 12:06:00 sol1 pluto[3271475]:   MODP6144                          IKEv1: IKE ESP AH  IKEv2: IKE ESP AH  FIPS NSS(MODP)    dh17
Apr 30 12:06:00 sol1 pluto[3271475]:   MODP8192                          IKEv1: IKE ESP AH  IKEv2: IKE ESP AH  FIPS NSS(MODP)    dh18
Apr 30 12:06:00 sol1 pluto[3271475]:   DH19                              IKEv1: IKE         IKEv2: IKE ESP AH  FIPS NSS(ECP)     ecp_256, ecp256
Apr 30 12:06:00 sol1 pluto[3271475]:   DH20                              IKEv1: IKE         IKEv2: IKE ESP AH  FIPS NSS(ECP)     ecp_384, ecp384
Apr 30 12:06:00 sol1 pluto[3271475]:   DH21                              IKEv1: IKE         IKEv2: IKE ESP AH  FIPS NSS(ECP)     ecp_521, ecp521
Apr 30 12:06:00 sol1 pluto[3271475]:   DH31                              IKEv1: IKE         IKEv2: IKE ESP AH       NSS(ECP)     curve25519
Apr 30 12:06:00 sol1 pluto[3271475]: IPCOMP algorithms:
Apr 30 12:06:00 sol1 pluto[3271475]:   DEFLATE                           IKEv1:     ESP AH  IKEv2:     ESP AH  FIPS
Apr 30 12:06:00 sol1 pluto[3271475]:   LZS                               IKEv1:             IKEv2:     ESP AH  FIPS
Apr 30 12:06:00 sol1 pluto[3271475]:   LZJH                              IKEv1:             IKEv2:     ESP AH  FIPS
Apr 30 12:06:00 sol1 pluto[3271475]: testing CAMELLIA_CBC:
Apr 30 12:06:00 sol1 pluto[3271475]:   Camellia: 16 bytes with 128-bit key
Apr 30 12:06:00 sol1 pluto[3271475]:   Camellia: 16 bytes with 128-bit key
Apr 30 12:06:00 sol1 pluto[3271475]:   Camellia: 16 bytes with 256-bit key
Apr 30 12:06:00 sol1 pluto[3271475]:   Camellia: 16 bytes with 256-bit key
Apr 30 12:06:00 sol1 pluto[3271475]: testing AES_GCM_16:
Apr 30 12:06:00 sol1 pluto[3271475]:   empty string
Apr 30 12:06:00 sol1 pluto[3271475]:   one block
Apr 30 12:06:00 sol1 pluto[3271475]:   two blocks
Apr 30 12:06:00 sol1 pluto[3271475]:   two blocks with associated data
Apr 30 12:06:00 sol1 pluto[3271475]: testing AES_CTR:
Apr 30 12:06:00 sol1 pluto[3271475]:   Encrypting 16 octets using AES-CTR with 128-bit key
Apr 30 12:06:00 sol1 pluto[3271475]:   Encrypting 32 octets using AES-CTR with 128-bit key
Apr 30 12:06:00 sol1 pluto[3271475]:   Encrypting 36 octets using AES-CTR with 128-bit key
Apr 30 12:06:00 sol1 pluto[3271475]:   Encrypting 16 octets using AES-CTR with 192-bit key
Apr 30 12:06:00 sol1 pluto[3271475]:   Encrypting 32 octets using AES-CTR with 192-bit key
Apr 30 12:06:00 sol1 pluto[3271475]:   Encrypting 36 octets using AES-CTR with 192-bit key
Apr 30 12:06:00 sol1 pluto[3271475]:   Encrypting 16 octets using AES-CTR with 256-bit key
Apr 30 12:06:00 sol1 pluto[3271475]:   Encrypting 32 octets using AES-CTR with 256-bit key
Apr 30 12:06:00 sol1 pluto[3271475]:   Encrypting 36 octets using AES-CTR with 256-bit key
Apr 30 12:06:00 sol1 pluto[3271475]: testing AES_CBC:
Apr 30 12:06:00 sol1 pluto[3271475]:   Encrypting 16 bytes (1 block) using AES-CBC with 128-bit key
Apr 30 12:06:00 sol1 pluto[3271475]:   Encrypting 32 bytes (2 blocks) using AES-CBC with 128-bit key
Apr 30 12:06:00 sol1 pluto[3271475]:   Encrypting 48 bytes (3 blocks) using AES-CBC with 128-bit key
Apr 30 12:06:00 sol1 pluto[3271475]:   Encrypting 64 bytes (4 blocks) using AES-CBC with 128-bit key
Apr 30 12:06:00 sol1 pluto[3271475]: testing AES_XCBC:
Apr 30 12:06:00 sol1 pluto[3271475]:   RFC 3566 Test Case 1: AES-XCBC-MAC-96 with 0-byte input
Apr 30 12:06:00 sol1 pluto[3271475]:   RFC 3566 Test Case 2: AES-XCBC-MAC-96 with 3-byte input
Apr 30 12:06:00 sol1 pluto[3271475]:   RFC 3566 Test Case 3: AES-XCBC-MAC-96 with 16-byte input
Apr 30 12:06:00 sol1 pluto[3271475]:   RFC 3566 Test Case 4: AES-XCBC-MAC-96 with 20-byte input
Apr 30 12:06:00 sol1 pluto[3271475]:   RFC 3566 Test Case 5: AES-XCBC-MAC-96 with 32-byte input
Apr 30 12:06:00 sol1 pluto[3271475]:   RFC 3566 Test Case 6: AES-XCBC-MAC-96 with 34-byte input
Apr 30 12:06:00 sol1 pluto[3271475]:   RFC 3566 Test Case 7: AES-XCBC-MAC-96 with 1000-byte input
Apr 30 12:06:00 sol1 pluto[3271475]:   RFC 4434 Test Case AES-XCBC-PRF-128 with 20-byte input (key length 16)
Apr 30 12:06:00 sol1 pluto[3271475]:   RFC 4434 Test Case AES-XCBC-PRF-128 with 20-byte input (key length 10)
Apr 30 12:06:00 sol1 pluto[3271475]:   RFC 4434 Test Case AES-XCBC-PRF-128 with 20-byte input (key length 18)
Apr 30 12:06:00 sol1 pluto[3271475]: testing HMAC_MD5:
Apr 30 12:06:00 sol1 pluto[3271475]:   RFC 2104: MD5_HMAC test 1
Apr 30 12:06:00 sol1 pluto[3271475]:   RFC 2104: MD5_HMAC test 2
Apr 30 12:06:00 sol1 pluto[3271475]:   RFC 2104: MD5_HMAC test 3
Apr 30 12:06:00 sol1 pluto[3271475]: testing HMAC_SHA1:
Apr 30 12:06:00 sol1 pluto[3271475]:   CAVP: IKEv2 key derivation with HMAC-SHA1
Apr 30 12:06:00 sol1 pluto[3271475]: 8 CPU cores online
Apr 30 12:06:00 sol1 pluto[3271475]: starting up 7 helper threads
Apr 30 12:06:00 sol1 pluto[3271475]: started thread for helper 0
Apr 30 12:06:00 sol1 pluto[3271475]: started thread for helper 1
Apr 30 12:06:00 sol1 pluto[3271475]: started thread for helper 2
Apr 30 12:06:00 sol1 pluto[3271475]: helper(1): seccomp security for helper not supported
Apr 30 12:06:00 sol1 pluto[3271475]: started thread for helper 3
Apr 30 12:06:00 sol1 pluto[3271475]: helper(4): seccomp security for helper not supported
Apr 30 12:06:00 sol1 pluto[3271475]: helper(2): seccomp security for helper not supported
Apr 30 12:06:00 sol1 pluto[3271475]: helper(3): seccomp security for helper not supported
Apr 30 12:06:00 sol1 pluto[3271475]: started thread for helper 4
Apr 30 12:06:00 sol1 pluto[3271475]: helper(5): seccomp security for helper not supported
Apr 30 12:06:00 sol1 pluto[3271475]: started thread for helper 5
Apr 30 12:06:00 sol1 pluto[3271475]: helper(6): seccomp security for helper not supported
Apr 30 12:06:00 sol1 pluto[3271475]: started thread for helper 6
Apr 30 12:06:00 sol1 pluto[3271475]: using Linux xfrm kernel support code on #20250110 SMP PREEMPT Fri Jan 10 09:57:43 UTC 2025
Apr 30 12:06:00 sol1 pluto[3271475]: helper(7): seccomp security for helper not supported
Apr 30 12:06:00 sol1 pluto[3271475]: FATAL ERROR: no XFRM kernel support detected, missing /proc/net/xfrm_stat: No such file or directory (errno 2)
Apr 30 12:06:00 sol1 pluto[3271475]: WARNING: helper threads still running
Apr 30 12:06:00 sol1 pluto[3271475]: ERROR: netlink write() of XFRM_MSG_FLUSHPOLICY message for flush policy failed: Bad file descriptor (errno 9)
Apr 30 12:06:00 sol1 pluto[3271475]: ERROR: netlink write() of XFRM_MSG_FLUSHSA message for flush state failed: Bad file descriptor (errno 9)
Apr 30 12:06:00 sol1 pluto[3271475]: FATAL: ASSERTION FAILED: event_initialized(ev) (free_signal_handlers() +439 programs/pluto/server.c)
```

How is this a bug? Please explain.

not sure if is a bug or not,  in previous versions  <= 5.2 with the same kernel i could start libreswan but with recent commits is not possible any more.... 

Which version did work for you without xfrm_stat?


the  stable version 5.2: 

here is the output:

```
Apr 30 14:36:16 sol1 pluto[330457]: Starting Pluto (Libreswan Version 5.2-1 IKEv2 IKEv1 XFRM XFRMI esp-hw-offload FORK PTHREAD_SETSCHEDPRIO NSS (IPsec profile) (NSS-KDF) DNSSEC SYSTEMD_WATCHDOG LABELED_IPSEC (SELINUX) LIBCAP_NG LINUX_AUDIT AUTH_PAM NETWORKMANAGER CURL(non-NSS) LDAP(non-NSS) NFTABLES CAT NFLOG) pid:330457
Apr 30 14:36:16 sol1 pluto[330457]: operating system: Linux 5.10.233 [Linux 5.10.233 #20250110 SMP PREEMPT Fri Jan 10 09:57:43 UTC 2025 x86_64]
Apr 30 14:36:16 sol1 pluto[330457]: core dump dir: /run/pluto
Apr 30 14:36:16 sol1 pluto[330457]: secrets file: /etc/ipsec.secrets
Apr 30 14:36:16 sol1 pluto[330457]: Initializing NSS using read-only database "sql:/var/lib/ipsec/nss"
Apr 30 14:36:16 sol1 pluto[330457]: FIPS Mode: OFF
Apr 30 14:36:16 sol1 pluto[330457]: NSS crypto library initialized
Apr 30 14:36:16 sol1 pluto[330457]: FIPS mode disabled for pluto daemon
Apr 30 14:36:16 sol1 pluto[330457]: FIPS HMAC integrity support [not required]
Apr 30 14:36:16 sol1 pluto[330457]: libcap-ng support [enabled]
Apr 30 14:36:16 sol1 pluto[330457]: Linux audit support [enabled]
Apr 30 14:36:16 sol1 pluto[330457]: Linux audit activated
Apr 30 14:36:16 sol1 pluto[330457]: leak-detective enabled
Apr 30 14:36:16 sol1 pluto[330457]: NSS crypto [enabled]
Apr 30 14:36:16 sol1 pluto[330457]: XAUTH PAM support [enabled]
Apr 30 14:36:16 sol1 pluto[330457]: initializing libevent in pthreads mode: headers: 2.1.12-stable (2010c00); library: 2.1.12-stable (2010c00)
Apr 30 14:36:16 sol1 pluto[330457]: NAT-Traversal: keep-alive period 20s
Apr 30 14:36:16 sol1 pluto[330457]: IPsec Interface [managed]
Apr 30 14:36:16 sol1 pluto[330457]: refreshed session resume keys, issuing key 1
Apr 30 14:36:16 sol1 pluto[330457]: Encryption algorithms:
Apr 30 14:36:16 sol1 pluto[330457]:   AES_CCM_16         {256,192,*128} IKEv1:     ESP     IKEv2:     ESP     FIPS              aes_ccm, aes_ccm_c
Apr 30 14:36:16 sol1 pluto[330457]:   AES_CCM_12         {256,192,*128} IKEv1:     ESP     IKEv2:     ESP     FIPS              aes_ccm_b
Apr 30 14:36:16 sol1 pluto[330457]:   AES_CCM_8          {256,192,*128} IKEv1:     ESP     IKEv2:     ESP     FIPS              aes_ccm_a
Apr 30 14:36:16 sol1 pluto[330457]:   3DES_CBC           [*192]         IKEv1: IKE ESP     IKEv2: IKE ESP     FIPS NSS(CBC)     3des
Apr 30 14:36:16 sol1 pluto[330457]:   CAMELLIA_CTR       {256,192,*128} IKEv1:     ESP     IKEv2:     ESP
Apr 30 14:36:16 sol1 pluto[330457]:   CAMELLIA_CBC       {256,192,*128} IKEv1: IKE ESP     IKEv2: IKE ESP          NSS(CBC)     camellia
Apr 30 14:36:16 sol1 pluto[330457]:   AES_GCM_16         {256,192,*128} IKEv1:     ESP     IKEv2: IKE ESP     FIPS NSS(AEAD)    aes_gcm, aes_gcm_c
Apr 30 14:36:16 sol1 pluto[330457]:   AES_GCM_12         {256,192,*128} IKEv1:     ESP     IKEv2: IKE ESP     FIPS NSS(AEAD)    aes_gcm_b
Apr 30 14:36:16 sol1 pluto[330457]:   AES_GCM_8          {256,192,*128} IKEv1:     ESP     IKEv2: IKE ESP     FIPS NSS(AEAD)    aes_gcm_a
Apr 30 14:36:16 sol1 pluto[330457]:   AES_CTR            {256,192,*128} IKEv1: IKE ESP     IKEv2: IKE ESP     FIPS NSS(CTR)     aesctr
Apr 30 14:36:16 sol1 pluto[330457]:   AES_CBC            {256,192,*128} IKEv1: IKE ESP     IKEv2: IKE ESP     FIPS NSS(CBC)     aes
Apr 30 14:36:16 sol1 pluto[330457]:   NULL_AUTH_AES_GMAC {256,192,*128} IKEv1:     ESP     IKEv2:     ESP     FIPS              aes_gmac
Apr 30 14:36:16 sol1 pluto[330457]:   NULL               []             IKEv1:     ESP     IKEv2:     ESP          NULL
Apr 30 14:36:16 sol1 pluto[330457]:   CHACHA20_POLY1305  [*256]         IKEv1:             IKEv2: IKE ESP          NSS(AEAD)    chacha20poly1305
Apr 30 14:36:16 sol1 pluto[330457]: Hash algorithms:
Apr 30 14:36:16 sol1 pluto[330457]:   MD5                               IKEv1: IKE         IKEv2:                  NSS
Apr 30 14:36:16 sol1 pluto[330457]:   SHA1                              IKEv1: IKE         IKEv2: IKE         FIPS NSS          sha
Apr 30 14:36:16 sol1 pluto[330457]:   SHA2_256                          IKEv1: IKE         IKEv2: IKE         FIPS NSS          sha2, sha256
Apr 30 14:36:16 sol1 pluto[330457]:   SHA2_384                          IKEv1: IKE         IKEv2: IKE         FIPS NSS          sha384
Apr 30 14:36:16 sol1 pluto[330457]:   SHA2_512                          IKEv1: IKE         IKEv2: IKE         FIPS NSS          sha512
Apr 30 14:36:16 sol1 pluto[330457]:   IDENTITY                          IKEv1:             IKEv2:             FIPS
Apr 30 14:36:16 sol1 pluto[330457]: PRF algorithms:
Apr 30 14:36:16 sol1 pluto[330457]:   HMAC_MD5                          IKEv1: IKE         IKEv2: IKE              NSS          md5
Apr 30 14:36:16 sol1 pluto[330457]:   HMAC_SHA1                         IKEv1: IKE         IKEv2: IKE         FIPS NSS          sha, sha1
Apr 30 14:36:16 sol1 pluto[330457]:   HMAC_SHA2_256                     IKEv1: IKE         IKEv2: IKE         FIPS NSS          sha2, sha256, sha2_256
Apr 30 14:36:16 sol1 pluto[330457]:   HMAC_SHA2_384                     IKEv1: IKE         IKEv2: IKE         FIPS NSS          sha384, sha2_384
Apr 30 14:36:16 sol1 pluto[330457]:   HMAC_SHA2_512                     IKEv1: IKE         IKEv2: IKE         FIPS NSS          sha512, sha2_512
Apr 30 14:36:16 sol1 pluto[330457]:   AES_XCBC                          IKEv1:             IKEv2: IKE              native(XCBC) aes128_xcbc
Apr 30 14:36:16 sol1 pluto[330457]: Integrity algorithms:
Apr 30 14:36:16 sol1 pluto[330457]:   HMAC_MD5_96                       IKEv1: IKE ESP AH  IKEv2: IKE ESP AH       NSS          md5, hmac_md5
Apr 30 14:36:16 sol1 pluto[330457]:   HMAC_SHA1_96                      IKEv1: IKE ESP AH  IKEv2: IKE ESP AH  FIPS NSS          sha, sha1, sha1_96, hmac_sha1
Apr 30 14:36:16 sol1 pluto[330457]:   HMAC_SHA2_512_256                 IKEv1: IKE ESP AH  IKEv2: IKE ESP AH  FIPS NSS          sha512, sha2_512, sha2_512_256, hmac_sha2_512
Apr 30 14:36:16 sol1 pluto[330457]:   HMAC_SHA2_384_192                 IKEv1: IKE ESP AH  IKEv2: IKE ESP AH  FIPS NSS          sha384, sha2_384, sha2_384_192, hmac_sha2_384
Apr 30 14:36:16 sol1 pluto[330457]:   HMAC_SHA2_256_128                 IKEv1: IKE ESP AH  IKEv2: IKE ESP AH  FIPS NSS          sha2, sha256, sha2_256, sha2_256_128, hmac_sha2_256
Apr 30 14:36:16 sol1 pluto[330457]:   HMAC_SHA2_256_TRUNCBUG            IKEv1:     ESP AH  IKEv2:         AH
Apr 30 14:36:16 sol1 pluto[330457]:   AES_XCBC_96                       IKEv1:     ESP AH  IKEv2: IKE ESP AH       native(XCBC) aes_xcbc, aes128_xcbc, aes128_xcbc_96
Apr 30 14:36:16 sol1 pluto[330457]:   AES_CMAC_96                       IKEv1:     ESP AH  IKEv2:     ESP AH  FIPS              aes_cmac
Apr 30 14:36:16 sol1 pluto[330457]:   NONE                              IKEv1:     ESP     IKEv2: IKE ESP     FIPS              null
Apr 30 14:36:16 sol1 pluto[330457]: DH algorithms:
Apr 30 14:36:16 sol1 pluto[330457]:   NONE                              IKEv1:             IKEv2: IKE ESP AH  FIPS NSS(MODP)    null, dh0
Apr 30 14:36:16 sol1 pluto[330457]:   MODP1024                          IKEv1: IKE ESP AH  IKEv2: IKE ESP AH       NSS(MODP)    dh2
Apr 30 14:36:16 sol1 pluto[330457]:   MODP1536                          IKEv1: IKE ESP AH  IKEv2: IKE ESP AH       NSS(MODP)    dh5
Apr 30 14:36:16 sol1 pluto[330457]:   MODP2048                          IKEv1: IKE ESP AH  IKEv2: IKE ESP AH  FIPS NSS(MODP)    dh14
Apr 30 14:36:16 sol1 pluto[330457]:   MODP3072                          IKEv1: IKE ESP AH  IKEv2: IKE ESP AH  FIPS NSS(MODP)    dh15
Apr 30 14:36:16 sol1 pluto[330457]:   MODP4096                          IKEv1: IKE ESP AH  IKEv2: IKE ESP AH  FIPS NSS(MODP)    dh16
Apr 30 14:36:16 sol1 pluto[330457]:   MODP6144                          IKEv1: IKE ESP AH  IKEv2: IKE ESP AH  FIPS NSS(MODP)    dh17
Apr 30 14:36:16 sol1 pluto[330457]:   MODP8192                          IKEv1: IKE ESP AH  IKEv2: IKE ESP AH  FIPS NSS(MODP)    dh18
Apr 30 14:36:16 sol1 pluto[330457]:   DH19                              IKEv1: IKE         IKEv2: IKE ESP AH  FIPS NSS(ECP)     ecp_256, ecp256
Apr 30 14:36:16 sol1 pluto[330457]:   DH20                              IKEv1: IKE         IKEv2: IKE ESP AH  FIPS NSS(ECP)     ecp_384, ecp384
Apr 30 14:36:16 sol1 pluto[330457]:   DH21                              IKEv1: IKE         IKEv2: IKE ESP AH  FIPS NSS(ECP)     ecp_521, ecp521
Apr 30 14:36:16 sol1 pluto[330457]:   DH31                              IKEv1: IKE         IKEv2: IKE ESP AH       NSS(ECP)     curve25519
Apr 30 14:36:16 sol1 pluto[330457]: IPCOMP algorithms:
Apr 30 14:36:16 sol1 pluto[330457]:   DEFLATE                           IKEv1:     ESP AH  IKEv2:     ESP AH  FIPS
Apr 30 14:36:16 sol1 pluto[330457]:   LZS                               IKEv1:             IKEv2:     ESP AH  FIPS
Apr 30 14:36:16 sol1 pluto[330457]:   LZJH                              IKEv1:             IKEv2:     ESP AH  FIPS
Apr 30 14:36:16 sol1 pluto[330457]: testing CAMELLIA_CBC:
Apr 30 14:36:16 sol1 pluto[330457]:   Camellia: 16 bytes with 128-bit key
Apr 30 14:36:16 sol1 pluto[330457]:   Camellia: 16 bytes with 128-bit key
Apr 30 14:36:16 sol1 pluto[330457]:   Camellia: 16 bytes with 256-bit key
Apr 30 14:36:16 sol1 pluto[330457]:   Camellia: 16 bytes with 256-bit key
Apr 30 14:36:16 sol1 pluto[330457]: testing AES_GCM_16:
Apr 30 14:36:16 sol1 pluto[330457]:   empty string
Apr 30 14:36:16 sol1 pluto[330457]:   one block
Apr 30 14:36:16 sol1 pluto[330457]:   two blocks
Apr 30 14:36:16 sol1 pluto[330457]:   two blocks with associated data
Apr 30 14:36:16 sol1 pluto[330457]: testing AES_CTR:
Apr 30 14:36:16 sol1 pluto[330457]:   Encrypting 16 octets using AES-CTR with 128-bit key
Apr 30 14:36:16 sol1 pluto[330457]:   Encrypting 32 octets using AES-CTR with 128-bit key
Apr 30 14:36:16 sol1 pluto[330457]:   Encrypting 36 octets using AES-CTR with 128-bit key
Apr 30 14:36:16 sol1 pluto[330457]:   Encrypting 16 octets using AES-CTR with 192-bit key
Apr 30 14:36:16 sol1 pluto[330457]:   Encrypting 32 octets using AES-CTR with 192-bit key
Apr 30 14:36:16 sol1 pluto[330457]:   Encrypting 36 octets using AES-CTR with 192-bit key
Apr 30 14:36:16 sol1 pluto[330457]:   Encrypting 16 octets using AES-CTR with 256-bit key
Apr 30 14:36:16 sol1 pluto[330457]:   Encrypting 32 octets using AES-CTR with 256-bit key
Apr 30 14:36:16 sol1 pluto[330457]:   Encrypting 36 octets using AES-CTR with 256-bit key
Apr 30 14:36:16 sol1 pluto[330457]: testing AES_CBC:
Apr 30 14:36:16 sol1 pluto[330457]:   Encrypting 16 bytes (1 block) using AES-CBC with 128-bit key
Apr 30 14:36:16 sol1 pluto[330457]:   Encrypting 32 bytes (2 blocks) using AES-CBC with 128-bit key
Apr 30 14:36:16 sol1 pluto[330457]:   Encrypting 48 bytes (3 blocks) using AES-CBC with 128-bit key
Apr 30 14:36:16 sol1 pluto[330457]:   Encrypting 64 bytes (4 blocks) using AES-CBC with 128-bit key
Apr 30 14:36:16 sol1 pluto[330457]: testing AES_XCBC:
Apr 30 14:36:16 sol1 pluto[330457]:   RFC 3566 Test Case 1: AES-XCBC-MAC-96 with 0-byte input
Apr 30 14:36:16 sol1 pluto[330457]:   RFC 3566 Test Case 2: AES-XCBC-MAC-96 with 3-byte input
Apr 30 14:36:16 sol1 pluto[330457]:   RFC 3566 Test Case 3: AES-XCBC-MAC-96 with 16-byte input
Apr 30 14:36:16 sol1 pluto[330457]:   RFC 3566 Test Case 4: AES-XCBC-MAC-96 with 20-byte input
Apr 30 14:36:16 sol1 pluto[330457]:   RFC 3566 Test Case 5: AES-XCBC-MAC-96 with 32-byte input
Apr 30 14:36:16 sol1 pluto[330457]:   RFC 3566 Test Case 6: AES-XCBC-MAC-96 with 34-byte input
Apr 30 14:36:16 sol1 pluto[330457]:   RFC 3566 Test Case 7: AES-XCBC-MAC-96 with 1000-byte input
Apr 30 14:36:16 sol1 pluto[330457]:   RFC 4434 Test Case AES-XCBC-PRF-128 with 20-byte input (key length 16)
Apr 30 14:36:16 sol1 pluto[330457]:   RFC 4434 Test Case AES-XCBC-PRF-128 with 20-byte input (key length 10)
Apr 30 14:36:16 sol1 pluto[330457]:   RFC 4434 Test Case AES-XCBC-PRF-128 with 20-byte input (key length 18)
Apr 30 14:36:16 sol1 pluto[330457]: testing HMAC_MD5:
Apr 30 14:36:16 sol1 pluto[330457]:   RFC 2104: MD5_HMAC test 1
Apr 30 14:36:16 sol1 pluto[330457]:   RFC 2104: MD5_HMAC test 2
Apr 30 14:36:16 sol1 pluto[330457]:   RFC 2104: MD5_HMAC test 3
Apr 30 14:36:16 sol1 pluto[330457]: testing HMAC_SHA1:
Apr 30 14:36:16 sol1 pluto[330457]:   CAVP: IKEv2 key derivation with HMAC-SHA1
Apr 30 14:36:16 sol1 pluto[330457]: 8 CPU cores online
Apr 30 14:36:16 sol1 pluto[330457]: starting up 7 helper threads
Apr 30 14:36:16 sol1 pluto[330457]: started thread for helper 0
Apr 30 14:36:16 sol1 pluto[330457]: started thread for helper 1
Apr 30 14:36:16 sol1 pluto[330457]: helper(1): seccomp security for helper not supported
Apr 30 14:36:16 sol1 pluto[330457]: started thread for helper 2
Apr 30 14:36:16 sol1 pluto[330457]: helper(2): seccomp security for helper not supported
Apr 30 14:36:16 sol1 pluto[330457]: helper(3): seccomp security for helper not supported
Apr 30 14:36:16 sol1 pluto[330457]: started thread for helper 3
Apr 30 14:36:16 sol1 pluto[330457]: helper(4): seccomp security for helper not supported
Apr 30 14:36:16 sol1 pluto[330457]: started thread for helper 4
Apr 30 14:36:16 sol1 pluto[330457]: helper(5): seccomp security for helper not supported
Apr 30 14:36:16 sol1 pluto[330457]: started thread for helper 5
Apr 30 14:36:16 sol1 pluto[330457]: helper(6): seccomp security for helper not supported
Apr 30 14:36:16 sol1 pluto[330457]: started thread for helper 6
Apr 30 14:36:16 sol1 pluto[330457]: using Linux xfrm kernel support code on #20250110 SMP PREEMPT Fri Jan 10 09:57:43 UTC 2025
Apr 30 14:36:16 sol1 pluto[330457]: helper(7): seccomp security for helper not supported
Apr 30 14:36:16 sol1 pluto[330457]: kernel: /proc/sys/net/ipv6/conf/all/disable_ipv6=1 ignore ipv6 holes
Apr 30 14:36:16 sol1 pluto[330457]: selinux support is NOT enabled.
Apr 30 14:36:16 sol1 systemd[1]: Started Internet Key Exchange (IKE) Protocol Daemon for IPsec.
Apr 30 14:36:16 sol1 pluto[330457]: systemd watchdog for ipsec service configured with timeout of 200000000 usecs
Apr 30 14:36:16 sol1 pluto[330457]: watchdog: sending probes every 100 secs
Apr 30 14:36:16 sol1 pluto[330457]: kernel: directional SA supported by kernel
Apr 30 14:36:16 sol1 pluto[330457]: kernel: IPTFS ipsec SA error: requires option CONFIG_XFRM_IPTFS
Apr 30 14:36:16 sol1 pluto[330457]: kernel: MIGRATE SA supported by kernel
Apr 30 14:36:16 sol1 pluto[330457]: seccomp security not supported
Apr 30 14:36:16 sol1 pluto[330457]: addconn: ipsec addconn: /etc/ipsec
```

in the past i compile libreswan with commit 5dfcbafebdfea3160b61d8df07632f27360f2493 and it was ok. 
I'm doing a bisect to find where it changes. 

probably a snafu in 3400ec4b57b7c9ffa1583c9717a67486a9cab145

I have a pending PR to remove the CONFIG option from the kernel as people keep misunderstanding and disabling it

It looks like whole check is completely unnecessary because pluto doesn't use xfrm_stat.

It used it as a check - I agree we should remove it and instead run a basic add_sa() probe instead.

finished the bisect:

```
53d4eced089caf201009d325e993c1cc8e04504f is the first bad commit
commit 53d4eced089caf201009d325e993c1cc8e04504f
Author: Andrew Cagney <cagney@gnu.org>
Date:   Thu Apr 24 18:44:18 2025 -0400

    libipsecconf: change expire-lifetime= to deltatime_t
    
    only update xfrm value when .is_set
    
    see #2159 xfrm_acq_expires should only be updated when xfrmlifetime is specified

 include/ipsecconf/keywords.h |  2 --
 lib/libipsecconf/confread.c  |  3 ---
 lib/libipsecconf/keywords.c  |  4 ++--
 programs/pluto/kernel_xfrm.c | 53 +++++++++++++++++++++++++++++---------------
 programs/pluto/plutomain.c   | 10 ++++-----
 programs/pluto/state.c       |  9 +-------
 programs/pluto/state.h       |  4 +---
 7 files changed, 43 insertions(+), 42 deletions(-)

```


notice that before it only used xfrm_stat if it couldn't open xfrm_acq_expires... 


this, which is further along in the initialization:
```
	struct sockaddr_nl addr;
	addr.nl_family = AF_NETLINK;
	addr.nl_pid = getpid();
	addr.nl_pad = 0; /* make coverity happy */
	addr.nl_groups = XFRMGRP_ACQUIRE | XFRMGRP_EXPIRE;
	if (bind(netlink_xfrm_fd, (struct sockaddr *)&addr, sizeof(addr)) != 0) {
		fatal_errno(PLUTO_EXIT_FAIL, logger, errno,
			    "Failed to bind bcast socket in init_netlink() - perhaps kernel was not compiled with CONFIG_XFRM");
	}
```
should fail; and the message is more blunt :-)

> I vaguely remember there were kernels with only the one and kernels with only the other

yes  716f4b712724c6698469563e531dea3667507ceb,  3af49cf23429bf228c3769bfa679dea3819cdb8c and #669

Anyway the check is just a hangover from KLIPS with c9b0f80dc1dfaefa11914557111460dd3a520a1f and 0a6e93963ff149a5edccfcaf0cb0437ec4d473ef

