ikev2 with multiple subnet - failing to load connection

> failing to load ikev2 connection on vpn server

success in one leftsubnet, but failed with multiple leftsubnets

> ikev2.conf
```conf
conn ikev2-cp
        authby=rsasig
        ikev2=insist
        # support Apple and Windows at the same time
        ike=aes256-sha2,aes128-sha2,aes256-sha1,aes128-sha1
        esp=aes_gcm256-null,aes_gcm128-null,aes256-sha2_512,aes128-sha2_512
        auto=add
        rekey=no
        # fill in with your VPN server IP
        left=%defaultroute
        leftcert=1.2.3.4
        leftsendcert=always
        leftid=1.2.3.4
        # leftsubnet=10.0.10.0/24
        leftsubnets=10.0.10.0/24,169.254.169.254/32
        rightaddresspool=192.168.43.10-192.168.43.250
        right=%defaultroute
        rightca=%same
        # make cisco clients happy
        cisco-unity=yes
        # address of your internal DNS server
        modecfgdns="169.254.169.254 8.8.4.4"
        leftxauthserver=yes
        rightxauthclient=yes
        leftmodecfgserver=yes
        rightmodecfgclient=yes
        modecfgpull=yes
        dpddelay=9m
        dpdtimeout=30m
        dpdaction=clear
        fragmentation=yes
        # if you want an ipsec0 interface using VTI
        # vti-interface=ipsec0
        # vti-shared=yes
        # vti-routing=yes
        # mark=20/0xffffffff
```

> ipsec.log
```log
systemd[1]: Stopping Internet Key Exchange (IKE) Protocol Daemon for IPsec...
pluto[4493]: shutting down
pluto[4493]: forgetting secrets
whack[4559]: 002 shutting down
pluto[4493]: shutting down interface lo [::1]:500
pluto[4493]: shutting down interface lo 127.0.0.1:4500
pluto[4493]: shutting down interface lo 127.0.0.1:500
pluto[4493]: shutting down interface ens4 10.0.10.10:4500
pluto[4493]: shutting down interface ens4 10.0.10.10:500
pluto[4493]: leak detective found no leaks
systemd[1]: ipsec.service: Succeeded.
systemd[1]: Stopped Internet Key Exchange (IKE) Protocol Daemon for IPsec.
systemd[1]: Starting Internet Key Exchange (IKE) Protocol Daemon for IPsec...
ipsec[4834]: nflog ipsec capture disabled
pluto[4845]: Initializing NSS using read-write database "sql:/etc/ipsec.d"
pluto[4845]: FIPS Mode: NO
pluto[4845]: NSS crypto library initialized
pluto[4845]: FIPS mode disabled for pluto daemon
pluto[4845]: FIPS HMAC integrity support [disabled]
pluto[4845]: libcap-ng support [enabled]
pluto[4845]: Linux audit support [disabled]
pluto[4845]: Starting Pluto (Libreswan Version 4.5 IKEv2 IKEv1 XFRM XFRMI esp-hw-offload FORK PTHREAD_SETSCHEDPRIO NSS (IPsec profile) (native-PRF) SYSTEMD_WATCHDOG LIBCAP_NG AUTH_PAM NETWORKMANAGER CURL(non-NSS)) pid:4845
pluto[4845]: core dump dir: /run/pluto
pluto[4845]: secrets file: /etc/ipsec.secrets
pluto[4845]: leak-detective enabled
pluto[4845]: NSS crypto [enabled]
pluto[4845]: XAUTH PAM support [enabled]
pluto[4845]: initializing libevent in pthreads mode: headers: 2.1.8-stable (2010800); library: 2.1.8-stable (2010800)
pluto[4845]: NAT-Traversal support  [enabled]
pluto[4845]: Encryption algorithms:
pluto[4845]:   AES_CCM_16         {256,192,*128} IKEv1:     ESP     IKEv2:     ESP     FIPS              aes_ccm, aes_ccm_c
pluto[4845]:   AES_CCM_12         {256,192,*128} IKEv1:     ESP     IKEv2:     ESP     FIPS              aes_ccm_b
pluto[4845]:   AES_CCM_8          {256,192,*128} IKEv1:     ESP     IKEv2:     ESP     FIPS              aes_ccm_a
pluto[4845]:   3DES_CBC           [*192]         IKEv1: IKE ESP     IKEv2: IKE ESP     FIPS NSS(CBC)     3des
pluto[4845]:   CAMELLIA_CTR       {256,192,*128} IKEv1:     ESP     IKEv2:     ESP
pluto[4845]:   CAMELLIA_CBC       {256,192,*128} IKEv1: IKE ESP     IKEv2: IKE ESP          NSS(CBC)     camellia
pluto[4845]:   AES_GCM_16         {256,192,*128} IKEv1:     ESP     IKEv2: IKE ESP     FIPS NSS(GCM)     aes_gcm, aes_gcm_c
pluto[4845]:   AES_GCM_12         {256,192,*128} IKEv1:     ESP     IKEv2: IKE ESP     FIPS NSS(GCM)     aes_gcm_b
pluto[4845]:   AES_GCM_8          {256,192,*128} IKEv1:     ESP     IKEv2: IKE ESP     FIPS NSS(GCM)     aes_gcm_a
systemd[1]: Started Internet Key Exchange (IKE) Protocol Daemon for IPsec.
pluto[4845]:   AES_CTR            {256,192,*128} IKEv1: IKE ESP     IKEv2: IKE ESP     FIPS NSS(CTR)     aesctr
pluto[4845]:   AES_CBC            {256,192,*128} IKEv1: IKE ESP     IKEv2: IKE ESP     FIPS NSS(CBC)     aes
pluto[4845]:   NULL_AUTH_AES_GMAC {256,192,*128} IKEv1:     ESP     IKEv2:     ESP     FIPS              aes_gmac
pluto[4845]:   NULL               []             IKEv1:     ESP     IKEv2:     ESP
pluto[4845]:   CHACHA20_POLY1305  [*256]         IKEv1:             IKEv2: IKE ESP          NSS(AEAD)    chacha20poly1305
pluto[4845]: Hash algorithms:
pluto[4845]:   MD5                               IKEv1: IKE         IKEv2:                  NSS
pluto[4845]:   SHA1                              IKEv1: IKE         IKEv2: IKE         FIPS NSS          sha
pluto[4845]:   SHA2_256                          IKEv1: IKE         IKEv2: IKE         FIPS NSS          sha2, sha256
pluto[4845]:   SHA2_384                          IKEv1: IKE         IKEv2: IKE         FIPS NSS          sha384
pluto[4845]:   SHA2_512                          IKEv1: IKE         IKEv2: IKE         FIPS NSS          sha512
pluto[4845]: PRF algorithms:
pluto[4845]:   HMAC_MD5                          IKEv1: IKE         IKEv2: IKE              native(HMAC) md5
pluto[4845]:   HMAC_SHA1                         IKEv1: IKE         IKEv2: IKE         FIPS NSS          sha, sha1
pluto[4845]:   HMAC_SHA2_256                     IKEv1: IKE         IKEv2: IKE         FIPS NSS          sha2, sha256, sha2_256
pluto[4845]:   HMAC_SHA2_384                     IKEv1: IKE         IKEv2: IKE         FIPS NSS          sha384, sha2_384
pluto[4845]:   HMAC_SHA2_512                     IKEv1: IKE         IKEv2: IKE         FIPS NSS          sha512, sha2_512
pluto[4845]:   AES_XCBC                          IKEv1:             IKEv2: IKE              native(XCBC) aes128_xcbc
pluto[4845]: Integrity algorithms:
pluto[4845]:   HMAC_MD5_96                       IKEv1: IKE ESP AH  IKEv2: IKE ESP AH       native(HMAC) md5, hmac_md5
pluto[4845]:   HMAC_SHA1_96                      IKEv1: IKE ESP AH  IKEv2: IKE ESP AH  FIPS NSS          sha, sha1, sha1_96, hmac_sha1
pluto[4845]:   HMAC_SHA2_512_256                 IKEv1: IKE ESP AH  IKEv2: IKE ESP AH  FIPS NSS          sha512, sha2_512, sha2_512_256, hmac_sha2_512
pluto[4845]:   HMAC_SHA2_384_192                 IKEv1: IKE ESP AH  IKEv2: IKE ESP AH  FIPS NSS          sha384, sha2_384, sha2_384_192, hmac_sha2_384
pluto[4845]:   HMAC_SHA2_256_128                 IKEv1: IKE ESP AH  IKEv2: IKE ESP AH  FIPS NSS          sha2, sha256, sha2_256, sha2_256_128, hmac_sha2_256
pluto[4845]:   HMAC_SHA2_256_TRUNCBUG            IKEv1:     ESP AH  IKEv2:         AH
pluto[4845]:   AES_XCBC_96                       IKEv1:     ESP AH  IKEv2: IKE ESP AH       native(XCBC) aes_xcbc, aes128_xcbc, aes128_xcbc_96
pluto[4845]:   AES_CMAC_96                       IKEv1:     ESP AH  IKEv2:     ESP AH  FIPS              aes_cmac
pluto[4845]:   NONE                              IKEv1:     ESP     IKEv2: IKE ESP     FIPS              null
pluto[4845]: DH algorithms:
pluto[4845]:   NONE                              IKEv1:             IKEv2: IKE ESP AH  FIPS NSS(MODP)    null, dh0
pluto[4845]:   MODP1024                          IKEv1: IKE ESP AH  IKEv2: IKE ESP AH       NSS(MODP)    dh2
pluto[4845]:   MODP1536                          IKEv1: IKE ESP AH  IKEv2: IKE ESP AH       NSS(MODP)    dh5
pluto[4845]:   MODP2048                          IKEv1: IKE ESP AH  IKEv2: IKE ESP AH  FIPS NSS(MODP)    dh14
pluto[4845]:   MODP3072                          IKEv1: IKE ESP AH  IKEv2: IKE ESP AH  FIPS NSS(MODP)    dh15
pluto[4845]:   MODP4096                          IKEv1: IKE ESP AH  IKEv2: IKE ESP AH  FIPS NSS(MODP)    dh16
pluto[4845]:   MODP6144                          IKEv1: IKE ESP AH  IKEv2: IKE ESP AH  FIPS NSS(MODP)    dh17
pluto[4845]:   MODP8192                          IKEv1: IKE ESP AH  IKEv2: IKE ESP AH  FIPS NSS(MODP)    dh18
pluto[4845]:   DH19                              IKEv1: IKE         IKEv2: IKE ESP AH  FIPS NSS(ECP)     ecp_256, ecp256
pluto[4845]:   DH20                              IKEv1: IKE         IKEv2: IKE ESP AH  FIPS NSS(ECP)     ecp_384, ecp384
pluto[4845]:   DH21                              IKEv1: IKE         IKEv2: IKE ESP AH  FIPS NSS(ECP)     ecp_521, ecp521
pluto[4845]:   DH31                              IKEv1: IKE         IKEv2: IKE ESP AH       NSS(ECP)     curve25519
pluto[4845]: testing CAMELLIA_CBC:
pluto[4845]:   Camellia: 16 bytes with 128-bit key
pluto[4845]:   Camellia: 16 bytes with 128-bit key
pluto[4845]:   Camellia: 16 bytes with 256-bit key
pluto[4845]:   Camellia: 16 bytes with 256-bit key
pluto[4845]: testing AES_GCM_16:
pluto[4845]:   empty string
pluto[4845]:   one block
pluto[4845]:   two blocks
pluto[4845]:   two blocks with associated data
pluto[4845]: testing AES_CTR:
pluto[4845]:   Encrypting 16 octets using AES-CTR with 128-bit key
pluto[4845]:   Encrypting 32 octets using AES-CTR with 128-bit key
pluto[4845]:   Encrypting 36 octets using AES-CTR with 128-bit key
pluto[4845]:   Encrypting 16 octets using AES-CTR with 192-bit key
pluto[4845]:   Encrypting 32 octets using AES-CTR with 192-bit key
pluto[4845]:   Encrypting 36 octets using AES-CTR with 192-bit key
pluto[4845]:   Encrypting 16 octets using AES-CTR with 256-bit key
pluto[4845]:   Encrypting 32 octets using AES-CTR with 256-bit key
pluto[4845]:   Encrypting 36 octets using AES-CTR with 256-bit key
pluto[4845]: testing AES_CBC:
pluto[4845]:   Encrypting 16 bytes (1 block) using AES-CBC with 128-bit key
pluto[4845]:   Encrypting 32 bytes (2 blocks) using AES-CBC with 128-bit key
pluto[4845]:   Encrypting 48 bytes (3 blocks) using AES-CBC with 128-bit key
pluto[4845]:   Encrypting 64 bytes (4 blocks) using AES-CBC with 128-bit key
pluto[4845]: testing AES_XCBC:
pluto[4845]:   RFC 3566 Test Case 1: AES-XCBC-MAC-96 with 0-byte input
pluto[4845]:   RFC 3566 Test Case 2: AES-XCBC-MAC-96 with 3-byte input
pluto[4845]:   RFC 3566 Test Case 3: AES-XCBC-MAC-96 with 16-byte input
pluto[4845]:   RFC 3566 Test Case 4: AES-XCBC-MAC-96 with 20-byte input
pluto[4845]:   RFC 3566 Test Case 5: AES-XCBC-MAC-96 with 32-byte input
pluto[4845]:   RFC 3566 Test Case 6: AES-XCBC-MAC-96 with 34-byte input
pluto[4845]:   RFC 3566 Test Case 7: AES-XCBC-MAC-96 with 1000-byte input
pluto[4845]:   RFC 4434 Test Case AES-XCBC-PRF-128 with 20-byte input (key length 16)
pluto[4845]:   RFC 4434 Test Case AES-XCBC-PRF-128 with 20-byte input (key length 10)
pluto[4845]:   RFC 4434 Test Case AES-XCBC-PRF-128 with 20-byte input (key length 18)
pluto[4845]: testing HMAC_MD5:
pluto[4845]:   RFC 2104: MD5_HMAC test 1
pluto[4845]:   RFC 2104: MD5_HMAC test 2
pluto[4845]:   RFC 2104: MD5_HMAC test 3
pluto[4845]: 2 CPU cores online
pluto[4845]: starting up 2 helper threads
pluto[4845]: started thread for helper 0
pluto[4845]: started thread for helper 1
pluto[4845]: using Linux xfrm kernel support code on #1 SMP Debian 4.19.208-1 (2021-09-29)
pluto[4845]: systemd watchdog for ipsec service configured with timeout of 200000000 usecs
pluto[4845]: watchdog: sending probes every 100 secs
pluto[4845]: seccomp security not supported
pluto[4845]: seccomp security for helper not supported
pluto[4845]: "l2tp-psk": added IKEv1 connection
pluto[4845]: seccomp security for helper not supported
pluto[4845]: "xauth-psk": added IKEv1 connection
pluto[4845]: "ikev2-cp/1x1": loaded private key matching left certificate '1.2.3.4'
pluto[4845]: "ikev2-cp/1x1": subnet error - failing to load connection
pluto[4845]: listening for IKE messages
pluto[4845]: Kernel supports NIC esp-hw-offload
pluto[4845]: adding UDP interface ens4 10.0.10.10:500
pluto[4845]: adding UDP interface ens4 10.0.10.10:4500
pluto[4845]: adding UDP interface lo 127.0.0.1:500
pluto[4845]: adding UDP interface lo 127.0.0.1:4500
pluto[4845]: adding UDP interface lo [::1]:500
pluto[4845]: forgetting secrets
pluto[4845]: loading secrets from "/etc/ipsec.secrets"
```

Can you try mainline?

The redundant field src->has_client in:
```
        /*
         * .has_client means that .client contains a hardwired value,
         * if it doesn't then it is filled in later (for instance by
         * instantiate() calling default_end() after host_addr is
         * known).
         */
        dst->has_client = src->has_client;
        if (src->has_client) {
                if (subnet_is_unset(&src->client)) {
                        llog(RC_BADID, logger, "subnet error - failing to load connection");
                        return -1;
                }
                dst->client = selector_from_subnet_protoport(src->client,
                                                             src->protoport);
        }
```
was deleted.

Please try mainline (post 4.9) and specify:
```
leftsubnet=10.0.10.0/24,169.254.169.254/32
```
(notice how it is singular) it will use the new TS code.