rename `esp=NULL_AUTH_AES_GMAC` to `esp=ENCR_NULL_AUTH_AES_GMAC`

To quote https://www.rfc-editor.org/rfc/rfc4543#section-3

The AES-GMAC algorithm for ESP is defined as an ESP "combined mode" algorithm (see [Section 3.2.3 of [RFC4303]](https://www.rfc-editor.org/rfc/rfc4303#section-3.2.3)), rather than an ESP integrity algorithm.  It is called ENCR_NULL_AUTH_AES_GMAC to highlight the fact that it performs no encryption and provides no confidentiality.


I am not sure why we should do this. names with ENCR_ prefixes are really internal only and not enduser values