second racoon (iOS) MODECFG response fails with `isakmp_cfg_reply invalid length of isakmp data, expected 4 actual 2`

> sorry for the delay. 
> I compile a new version directly from git,  and test the connection making the change  leftsubnet=192.168.20.0/24.
> I got two different results.
> 
> Success, from the remote client, libreswan, where it was falling, it work:
> 
> ```
> Jan 22 09:43:42 sol1 pluto[1313774]: |   rw_responder_instantiate: remote=6.149.27.119 id=<null-id> kind=TEMPLATE sec_label= (find_v1_main_mode_connection() +398 programs/pluto/ikev1_host_pair.c)
> Jan 22 09:43:42 sol1 pluto[1313774]: |     connection $9: "tunnel8"
> Jan 22 09:43:42 sol1 pluto[1313774]: |       host: 82.100.127.28->0.0.0.0
> Jan 22 09:43:42 sol1 pluto[1313774]: |       id: @xauth.mad -> (none)
> Jan 22 09:43:42 sol1 pluto[1313774]: |       routing+kind: UNROUTED TEMPLATE
> Jan 22 09:43:42 sol1 pluto[1313774]: |       selectors: 192.168.20.0/24 -> 192.168.20.100-192.168.20.254 ->; lease: -> ->
> Jan 22 09:43:42 sol1 pluto[1313774]: |       spds: 192.168.20.0/24===192.168.20.100-192.168.20.254
> Jan 22 09:43:42 sol1 pluto[1313774]: |       policy: IKEv1+PSK+ENCRYPT+TUNNEL+XAUTH+MODECFG_PULL+IKE_FRAG_ALLOW+ESN_NO+ESN_YES
> Jan 22 09:43:42 sol1 pluto[1313774]: |   rw_responder_instantiate: from "tunnel8" (find_v1_main_mode_connection() +398 programs/pluto/ikev1_host_pair.c)
> Jan 22 09:43:42 sol1 pluto[1313774]: |     connection $10 clonedfrom $9: "tunnel8"[1] 6.149.27.119
> Jan 22 09:43:42 sol1 pluto[1313774]: |       host: 82.100.127.28->6.149.27.119
> Jan 22 09:43:42 sol1 pluto[1313774]: |       id: @xauth.mad -> 6.149.27.119
> Jan 22 09:43:42 sol1 pluto[1313774]: |       routing+kind: UNROUTED INSTANCE
> Jan 22 09:43:42 sol1 pluto[1313774]: |       selectors: 192.168.20.0/24 -> 192.168.20.100-192.168.20.254 ->; lease: -> ->
> Jan 22 09:43:42 sol1 pluto[1313774]: |       spds: 192.168.20.0/24===192.168.20.100-192.168.20.254
> Jan 22 09:43:42 sol1 pluto[1313774]: |       policy: IKEv1+PSK+ENCRYPT+TUNNEL+XAUTH+MODECFG_PULL+IKE_FRAG_ALLOW+ESN_NO+ESN_YES
> Jan 22 09:43:42 sol1 pluto[1313774]: "tunnel8"[1] 6.149.27.119 #3: responding to Main Mode from unknown peer 6.149.27.119:500
> Jan 22 09:43:42 sol1 pluto[1313774]: "tunnel8"[1] 6.149.27.119 #3: sent Main Mode R1
> Jan 22 09:43:42 sol1 pluto[1313774]: "tunnel8"[1] 6.149.27.119 #3: sent Main Mode R2
> Jan 22 09:43:42 sol1 pluto[1313774]: "tunnel8"[1] 6.149.27.119 #3: Peer ID is ID_IPV4_ADDR: '192.168.1.60'
> Jan 22 09:43:42 sol1 pluto[1313774]: |   rw_responder_id_instantiate: remote=6.149.27.119 id=192.168.1.60 kind=TEMPLATE sec_label= (refine_host_connection_of_state_on_responder() +772 programs/pluto/peer_id.c)
> Jan 22 09:43:42 sol1 pluto[1313774]: |     connection $9: "tunnel8"
> Jan 22 09:43:42 sol1 pluto[1313774]: |       host: 82.100.127.28->0.0.0.0
> Jan 22 09:43:42 sol1 pluto[1313774]: |       id: @xauth.mad -> (none)
> Jan 22 09:43:42 sol1 pluto[1313774]: |       routing+kind: UNROUTED TEMPLATE
> Jan 22 09:43:42 sol1 pluto[1313774]: |       selectors: 192.168.20.0/24 -> 192.168.20.100-192.168.20.254 ->; lease: -> ->
> Jan 22 09:43:42 sol1 pluto[1313774]: |       spds: 192.168.20.0/24===192.168.20.100-192.168.20.254
> Jan 22 09:43:42 sol1 pluto[1313774]: |       policy: IKEv1+PSK+ENCRYPT+TUNNEL+XAUTH+MODECFG_PULL+IKE_FRAG_ALLOW+ESN_NO+ESN_YES
> Jan 22 09:43:42 sol1 pluto[1313774]: |   rw_responder_id_instantiate: from "tunnel8" (refine_host_connection_of_state_on_responder() +772 programs/pluto/peer_id.c)
> Jan 22 09:43:42 sol1 pluto[1313774]: |     connection $11 clonedfrom $9: "tunnel8"[2] 6.149.27.119
> Jan 22 09:43:42 sol1 pluto[1313774]: |       host: 82.100.127.28->6.149.27.119
> Jan 22 09:43:42 sol1 pluto[1313774]: |       id: @xauth.mad -> 192.168.1.60
> Jan 22 09:43:42 sol1 pluto[1313774]: |       routing+kind: UNROUTED INSTANCE
> Jan 22 09:43:42 sol1 pluto[1313774]: |       selectors: 192.168.20.0/24 -> 192.168.20.100-192.168.20.254 ->; lease: -> ->
> Jan 22 09:43:42 sol1 pluto[1313774]: |       spds: 192.168.20.0/24===192.168.20.100-192.168.20.254
> Jan 22 09:43:42 sol1 pluto[1313774]: |       policy: IKEv1+PSK+ENCRYPT+TUNNEL+XAUTH+MODECFG_PULL+IKE_FRAG_ALLOW+ESN_NO+ESN_YES
> Jan 22 09:43:42 sol1 pluto[1313774]: "tunnel8"[1] 6.149.27.119 #3: switched to "tunnel8"[2] 6.149.27.119
> Jan 22 09:43:42 sol1 pluto[1313774]: "tunnel8"[1] 6.149.27.119: deleting connection instance with peer 6.149.27.119
> Jan 22 09:43:42 sol1 pluto[1313774]: "tunnel8"[2] 6.149.27.119 #3: ISAKMP SA established {auth=PRESHARED_KEY cipher=AES_CBC_256 integ=HMAC_SHA2_256 group=MODP2048}
> Jan 22 09:43:42 sol1 pluto[1313774]: "tunnel8"[2] 6.149.27.119 #3: XAUTH: Sending Username/Password request (MAIN_R3->XAUTH_R0)
> Jan 22 09:43:42 sol1 pluto[1313774]: "tunnel8"[2] 6.149.27.119 #3: XAUTH: password file authentication method requested to authenticate user 'asilvapt@mad'
> Jan 22 09:43:42 sol1 pluto[1313774]: "tunnel8"[2] 6.149.27.119 #3: XAUTH: password file (/etc/ipsec.d/passwd) open.
> Jan 22 09:43:42 sol1 pluto[1313774]: "tunnel8"[2] 6.149.27.119 #3: XAUTH: success user(asilvapt@mad:(null))
> Jan 22 09:43:42 sol1 pluto[1313774]: "tunnel8"[2] 6.149.27.119 #3: XAUTH: User asilvapt@mad: Authentication Successful
> Jan 22 09:43:42 sol1 pluto[1313774]: "tunnel8"[2] 6.149.27.119 #3: ISAKMP SA established {auth=PRESHARED_KEY cipher=AES_CBC_256 integ=HMAC_SHA2_256 group=MODP2048}
> Jan 22 09:43:42 sol1 pluto[1313774]: "tunnel8"[2] 6.149.27.119 #3: pool 192.168.20.2/32: growing address pool from 0 to 1
> Jan 22 09:43:42 sol1 pluto[1313774]: "tunnel8"[2] 6.149.27.119 #3: modecfg_inR0(STF_OK)
> Jan 22 09:43:42 sol1 pluto[1313774]: "tunnel8"[2] 6.149.27.119 #3: sent ModeCfg reply, expecting Ack {auth=PRESHARED_KEY cipher=AES_CBC_256 integ=HMAC_SHA2_256 group=MODP2048}
> Jan 22 09:43:42 sol1 pluto[1313774]: "tunnel8"[2] 6.149.27.119 #3: the peer proposed: 192.168.20.0/24===192.168.20.2/32
> Jan 22 09:43:42 sol1 pluto[1313774]: "tunnel8"[2] 6.149.27.119 #4: responding to Quick Mode proposal {msgid:4d5807b2} using ISAKMP SA #3
> Jan 22 09:43:42 sol1 pluto[1313774]: "tunnel8"[2] 6.149.27.119 #4:     us: 192.168.20.0/24===82.100.127.28[@xauth.mad,MS+XS+S=C]  them: 6.149.27.119[192.168.1.60,+MC+XC+S=C]==={192.168.20.2/32}
> Jan 22 09:43:42 sol1 pluto[1313774]: "tunnel8"[2] 6.149.27.119 #4: sent Quick Mode reply, inbound IPsec SA installed, expecting confirmation tunnel mode {ESPinUDP=>0x54da5e87 <0x16413155 xfrm=AES_CBC_128-HMAC_SHA1_96 NATD=6.149.27.119:4500 DPD=active username=asilvapt@mad}
> Jan 22 09:43:42 sol1 pluto[1313774]: "tunnel8"[2] 6.149.27.119 #4: Warning: XAUTH username changed from '' to 'asilvaptmad'
> Jan 22 09:43:42 sol1 pluto[1313774]: "tunnel8"[2] 6.149.27.119 #4: Warning: XAUTH username changed from '' to 'asilvaptmad'
> Jan 22 09:43:42 sol1 pluto[1313774]: "tunnel8"[2] 6.149.27.119 #4: Warning: XAUTH username changed from '' to 'asilvaptmad'
> Jan 22 09:43:42 sol1 pluto[1313774]: "tunnel8"[2] 6.149.27.119 #4: IPsec SA established tunnel mode {ESPinUDP=>0x54da5e87 <0x16413155 xfrm=AES_CBC_128-HMAC_SHA1_96 NATD=6.149.27.119:4500 DPD=active username=asilvapt@mad}
> ```
> 
> Error, It fail using a different client, this test with  macos cisco vpn configuration.
> ```
> -- cannot conect macos cisco vpn with leftsubnet=192.168.20.0/24 
> Jan 22 09:44:27 sol1 pluto[1313774]: |   rw_responder_instantiate: remote=6.149.27.119 id=<null-id> kind=TEMPLATE sec_label= (find_v1_main_mode_connection() +398 programs/pluto/ikev1_host_pair.c)
> Jan 22 09:44:27 sol1 pluto[1313774]: |     connection $9: "tunnel8"
> Jan 22 09:44:27 sol1 pluto[1313774]: |       host: 82.100.127.28->0.0.0.0
> Jan 22 09:44:27 sol1 pluto[1313774]: |       id: @xauth.mad -> (none)
> Jan 22 09:44:27 sol1 pluto[1313774]: |       routing+kind: UNROUTED TEMPLATE
> Jan 22 09:44:27 sol1 pluto[1313774]: |       selectors: 192.168.20.0/24 -> 192.168.20.100-192.168.20.254 ->; lease: -> ->
> Jan 22 09:44:27 sol1 pluto[1313774]: |       spds: 192.168.20.0/24===192.168.20.100-192.168.20.254
> Jan 22 09:44:27 sol1 pluto[1313774]: |       policy: IKEv1+PSK+ENCRYPT+TUNNEL+XAUTH+MODECFG_PULL+IKE_FRAG_ALLOW+ESN_NO+ESN_YES
> Jan 22 09:44:27 sol1 pluto[1313774]: |   rw_responder_instantiate: from "tunnel8" (find_v1_main_mode_connection() +398 programs/pluto/ikev1_host_pair.c)
> Jan 22 09:44:27 sol1 pluto[1313774]: |     connection $12 clonedfrom $9: "tunnel8"[3] 6.149.27.119
> Jan 22 09:44:27 sol1 pluto[1313774]: |       host: 82.100.127.28->6.149.27.119
> Jan 22 09:44:27 sol1 pluto[1313774]: |       id: @xauth.mad -> 6.149.27.119
> Jan 22 09:44:27 sol1 pluto[1313774]: |       routing+kind: UNROUTED INSTANCE
> Jan 22 09:44:27 sol1 pluto[1313774]: |       selectors: 192.168.20.0/24 -> 192.168.20.100-192.168.20.254 ->; lease: -> ->
> Jan 22 09:44:27 sol1 pluto[1313774]: |       spds: 192.168.20.0/24===192.168.20.100-192.168.20.254
> Jan 22 09:44:27 sol1 pluto[1313774]: |       policy: IKEv1+PSK+ENCRYPT+TUNNEL+XAUTH+MODECFG_PULL+IKE_FRAG_ALLOW+ESN_NO+ESN_YES
> Jan 22 09:44:27 sol1 pluto[1313774]: "tunnel8"[3] 6.149.27.119 #5: responding to Main Mode from unknown peer 6.149.27.119:53936
> Jan 22 09:44:27 sol1 pluto[1313774]: "tunnel8"[3] 6.149.27.119 #5: sent Main Mode R1
> Jan 22 09:44:27 sol1 pluto[1313774]: "tunnel8"[3] 6.149.27.119 #5: sent Main Mode R2
> Jan 22 09:44:27 sol1 pluto[1313774]: "tunnel8"[3] 6.149.27.119 #5: ignoring secured informational payload IPSEC_INITIAL_CONTACT, msgid=00000000, length=28
> Jan 22 09:44:27 sol1 pluto[1313774]: "tunnel8"[3] 6.149.27.119 #5: Peer ID is ID_IPV4_ADDR: '192.168.1.195'
> Jan 22 09:44:27 sol1 pluto[1313774]: |   rw_responder_id_instantiate: remote=6.149.27.119 id=192.168.1.195 kind=TEMPLATE sec_label= (refine_host_connection_of_state_on_responder() +772 programs/pluto/peer_id.c)
> Jan 22 09:44:27 sol1 pluto[1313774]: |     connection $9: "tunnel8"
> Jan 22 09:44:27 sol1 pluto[1313774]: |       host: 82.100.127.28->0.0.0.0
> Jan 22 09:44:27 sol1 pluto[1313774]: |       id: @xauth.mad -> (none)
> Jan 22 09:44:27 sol1 pluto[1313774]: |       routing+kind: UNROUTED TEMPLATE
> Jan 22 09:44:27 sol1 pluto[1313774]: |       selectors: 192.168.20.0/24 -> 192.168.20.100-192.168.20.254 ->; lease: -> ->
> Jan 22 09:44:27 sol1 pluto[1313774]: |       spds: 192.168.20.0/24===192.168.20.100-192.168.20.254
> Jan 22 09:44:27 sol1 pluto[1313774]: |       policy: IKEv1+PSK+ENCRYPT+TUNNEL+XAUTH+MODECFG_PULL+IKE_FRAG_ALLOW+ESN_NO+ESN_YES
> Jan 22 09:44:27 sol1 pluto[1313774]: |   rw_responder_id_instantiate: from "tunnel8" (refine_host_connection_of_state_on_responder() +772 programs/pluto/peer_id.c)
> Jan 22 09:44:27 sol1 pluto[1313774]: |     connection $13 clonedfrom $9: "tunnel8"[4] 6.149.27.119
> Jan 22 09:44:27 sol1 pluto[1313774]: |       host: 82.100.127.28->6.149.27.119
> Jan 22 09:44:27 sol1 pluto[1313774]: |       id: @xauth.mad -> 192.168.1.195
> Jan 22 09:44:27 sol1 pluto[1313774]: |       routing+kind: UNROUTED INSTANCE
> Jan 22 09:44:27 sol1 pluto[1313774]: |       selectors: 192.168.20.0/24 -> 192.168.20.100-192.168.20.254 ->; lease: -> ->
> Jan 22 09:44:27 sol1 pluto[1313774]: |       spds: 192.168.20.0/24===192.168.20.100-192.168.20.254
> Jan 22 09:44:27 sol1 pluto[1313774]: |       policy: IKEv1+PSK+ENCRYPT+TUNNEL+XAUTH+MODECFG_PULL+IKE_FRAG_ALLOW+ESN_NO+ESN_YES
> Jan 22 09:44:27 sol1 pluto[1313774]: "tunnel8"[3] 6.149.27.119 #5: switched to "tunnel8"[4] 6.149.27.119
> Jan 22 09:44:27 sol1 pluto[1313774]: "tunnel8"[3] 6.149.27.119: deleting connection instance with peer 6.149.27.119
> Jan 22 09:44:27 sol1 pluto[1313774]: "tunnel8"[4] 6.149.27.119 #5: ISAKMP SA established {auth=PRESHARED_KEY cipher=AES_CBC_256 integ=HMAC_SHA2_256 group=MODP2048}
> Jan 22 09:44:27 sol1 pluto[1313774]: "tunnel8"[4] 6.149.27.119 #5: XAUTH: Sending Username/Password request (MAIN_R3->XAUTH_R0)
> Jan 22 09:44:27 sol1 pluto[1313774]: "tunnel8"[4] 6.149.27.119 #5: XAUTH: password file authentication method requested to authenticate user 'asilva@mad'
> Jan 22 09:44:27 sol1 pluto[1313774]: "tunnel8"[4] 6.149.27.119 #5: XAUTH: password file (/etc/ipsec.d/passwd) open.
> Jan 22 09:44:27 sol1 pluto[1313774]: "tunnel8"[4] 6.149.27.119 #5: XAUTH: success user(asilva@mad:(null))
> Jan 22 09:44:27 sol1 pluto[1313774]: "tunnel8"[4] 6.149.27.119 #5: XAUTH: User asilva@mad: Authentication Successful
> Jan 22 09:44:27 sol1 pluto[1313774]: "tunnel8"[4] 6.149.27.119 #5: ISAKMP SA established {auth=PRESHARED_KEY cipher=AES_CBC_256 integ=HMAC_SHA2_256 group=MODP2048}
> Jan 22 09:44:27 sol1 pluto[1313774]: "tunnel8"[4] 6.149.27.119 #5: pool 192.168.20.100-192.168.20.254: growing address pool from 0 to 1
> Jan 22 09:44:27 sol1 pluto[1313774]: "tunnel8"[4] 6.149.27.119 #5: modecfg_inR0(STF_OK)
> Jan 22 09:44:27 sol1 pluto[1313774]: "tunnel8"[4] 6.149.27.119 #5: sent ModeCfg reply, expecting Ack {auth=PRESHARED_KEY cipher=AES_CBC_256 integ=HMAC_SHA2_256 group=MODP2048}
> 
> --timeout connecting
> Jan 22 09:44:57 sol1 pluto[1313774]: "tunnel8"[4] 6.149.27.119 #5: received Delete SA payload: self-deleting ISAKMP State #5
> Jan 22 09:44:57 sol1 pluto[1313774]: "tunnel8"[4] 6.149.27.119 #5: deleting ISAKMP SA (MODE_CFG_R1) aged 30.332853s and NOT sending notification
> Jan 22 09:44:57 sol1 pluto[1313774]: "tunnel8"[4] 6.149.27.119: deleting connection instance with peer 6.149.27.119
> 
> ```
> 
> In the connection that fails the user don't have a static ip set in passwd, i try to forcing it, but same result, didn't connect. 
> The client didn't received the network configuration: 
> ```
> 
> default	09:46:17.474731+0000	racoon	IPSec Extended Authentication requested.
> default	09:46:17.487288+0000	racoon	received xauth info command vpn control socket.
> default	09:46:17.487339+0000	racoon	New Phase 2
> default	09:46:17.487350+0000	racoon	state changed to: IKEv1 info
> default	09:46:17.487375+0000	racoon	MODE_CFG packet to send
> default	09:46:17.488172+0000	racoon	sendto mode config attr.
> default	09:46:17.488250+0000	racoon	IPSec Extended Authentication sent.
> default	09:46:17.525784+0000	racoon	MODE_CFG packet
> default	09:46:17.525888+0000	racoon	Configuration exchange type mode config SET
> default	09:46:17.525940+0000	racoon	IPSec Extended Authentication Passed.
> default	09:46:17.525964+0000	racoon	Sending MODE_CFG ACK
> default	09:46:17.525991+0000	racoon	New Phase 2
> default	09:46:17.526016+0000	racoon	state changed to: IKEv1 info
> default	09:46:17.526065+0000	racoon	MODE_CFG packet to send
> default	09:46:17.526647+0000	racoon	sendto mode config attr.
> default	09:46:17.526679+0000	racoon	Sending MODE_CFG REQUEST
> default	09:46:17.526705+0000	racoon	New Phase 2
> default	09:46:17.526773+0000	racoon	state changed to: IKEv1 info
> default	09:46:17.527314+0000	racoon	MODE_CFG packet to send
> default	09:46:17.528106+0000	racoon	Resend Phase 2 packet f33566680e371867:2ced28434ffd6029:000023d8
> default	09:46:17.528148+0000	racoon	IPSec Network Configuration requested.
> default	09:46:17.563252+0000	racoon	MODE_CFG packet
> default	09:46:17.563502+0000	racoon	Configuration exchange type mode config REPLY
> error	09:46:17.563756+0000	racoon	isakmp_cfg_reply invalid length of isakmp data, expected 4 actual 2
> default	09:46:38.727227+0000	racoon	DPD monitoring (for ALGORITHM_BLACKHOLE_DETECT) ....
> default	09:46:38.727391+0000	racoon	rescheduling DPD monitoring (for ALGORITHM_BLACKHOLE_DETECT) i = 0, peer 0.
> default	09:46:47.586817+0000	nesessionmanager	IPSec Controller: racoon_timer expired
> default	09:46:47.587835+0000	racoon	received disconnect command on vpn control socket.
> 
> ```
> 
> thanks. 
> 
>  

 _Originally posted by @wmasilva in [#1857](https://github.com/libreswan/libreswan/issues/1857#issuecomment-2606791175)_

@wmasilva would you have a racoon log from an older libreswan available?

sure, using  Libreswan 5.0-1.

Full racoon log events: 

```
default	21:34:54.570004+0000	nesessionmanager	IPSec Controller: racoon_restart_cisco_ipsec...
default	21:34:54.621618+0000	nesessionmanager	IPSec Controller: sending BIND to racoon control socket
default	21:34:54.621828+0000	nesessionmanager	IPSec Controller: sending CONNECT to racoon control socket
default	21:34:54.636709+0000	kernel	Couldn't build index for com.apple.racoon: Not eligible for acceleration
default	21:34:54.693622+0000	racoon	[0x10119a650] activating connection: mach=true listener=true peer=false name=com.apple.SecureNetworking.IPSec
default	21:34:54.700534+0000	racoon	accepted connection on vpn control socket.
default	21:34:54.700619+0000	racoon	received bind command on vpn control socket.
default	21:34:54.700666+0000	racoon	received connect command on vpn control socket.
default	21:34:54.700963+0000	racoon	accept a request to establish IKE-SA: 82.100.127.28
default	21:34:54.700975+0000	racoon	IPSec connecting to server 82.100.127.28
default	21:34:54.701050+0000	racoon	New Phase 1
default	21:34:54.701062+0000	racoon	state changed to: IKEv1 ident I start
default	21:34:54.701119+0000	racoon	initiate new phase 1 negotiation: 192.168.1.195[500]<=>82.100.127.28[500]
default	21:34:54.701131+0000	racoon	begin Identity Protection mode.
default	21:34:54.701139+0000	racoon	IPSec Phase 1 started (Initiated by me).
default	21:34:54.702133+0000	racoon	Resend Phase 1 packet 1fb94a2463735af6:0000000000000000
default	21:34:54.702157+0000	racoon	state changed to: IKEv1 ident I msg1 sent
default	21:34:54.702172+0000	racoon	>>>>> phase change status = Phase 1 started by us
default	21:34:54.737098+0000	racoon	seen nptype=1(sa)
default	21:34:54.737118+0000	racoon	seen nptype=13(vid)
default	21:34:54.737133+0000	racoon	seen nptype=13(vid)
default	21:34:54.737178+0000	racoon	seen nptype=13(vid)
default	21:34:54.737210+0000	racoon	seen nptype=13(vid)
default	21:34:54.737284+0000	racoon	received Vendor ID: FRAGMENTATION
default	21:34:54.737318+0000	racoon	received Vendor ID: draft-ietf-ipsra-isakmp-xauth-06.txt
default	21:34:54.737386+0000	racoon	received Vendor ID: DPD
default	21:34:54.737410+0000	racoon	received Vendor ID: RFC 3947
default	21:34:54.737468+0000	racoon	Selected NAT-T version: RFC 3947
default	21:34:54.737560+0000	racoon	seen nptype=2(prop)
default	21:34:54.737689+0000	racoon	seen nptype=3(trns)
default	21:34:54.738889+0000	racoon	state changed to: IKEv1 ident I msg2 rcvd
default	21:34:54.738926+0000	racoon	>>>>> phase change status = Phase 1 started by peer
default	21:34:54.751307+0000	racoon	Hashing 82.100.127.28[500] with algo #4
default	21:34:54.751346+0000	racoon	Hashing 192.168.1.195[500] with algo #4
default	21:34:54.751368+0000	racoon	Adding remote and local NAT-D payloads.
default	21:34:54.751709+0000	racoon	Resend Phase 1 packet 1fb94a2463735af6:d6298cdd04ca4025
default	21:34:54.751741+0000	racoon	state changed to: IKEv1 ident I msg3 sent
default	21:34:54.788336+0000	racoon	seen nptype=4(ke)
default	21:34:54.788348+0000	racoon	seen nptype=10(nonce)
default	21:34:54.788357+0000	racoon	seen nptype=20(nat-d)
default	21:34:54.788367+0000	racoon	seen nptype=20(nat-d)
default	21:34:54.788398+0000	racoon	Hashing 192.168.1.195[500] with algo #4
default	21:34:54.788463+0000	racoon	NAT-D payload #0 doesn't match
default	21:34:54.788508+0000	racoon	Hashing 82.100.127.28[500] with algo #4
default	21:34:54.788570+0000	racoon	NAT-D payload #1 verified
default	21:34:54.788589+0000	racoon	NAT detected: ME
default	21:34:54.788798+0000	racoon	state changed to: IKEv1 ident I msg4 rcvd
default	21:34:54.798232+0000	racoon	[0x7ba0fc000] activating connection: mach=true listener=false peer=false name=com.apple.analyticsd
default	21:34:54.798769+0000	racoon	using system preferences
default	21:34:54.798868+0000	racoon	using system preferences
default	21:34:54.799012+0000	racoon	[0x7ba0fc200] activating connection: mach=true listener=false peer=false name=com.apple.cfprefsd.daemon
default	21:34:54.799408+0000	racoon	Received configuration update from daemon (initial)
default	21:34:54.803025+0000	racoon	Recording an MDS plugin: /System/Library/Security/ldapdl.bundle {87191ca6-0fc9-11d4-849a-000502b52122}
default	21:34:54.803651+0000	racoon	Recording an MDS plugin: /System/Library/Frameworks/Security.framework {87191ca0-0fc9-11d4-849a-000502b52122}
default	21:34:54.830193+0000	racoon	keychain blob version does not support integrity
default	21:34:54.838602+0000	racoon	added initial-contact payload.
default	21:34:54.839030+0000	racoon	Resend Phase 1 packet 1fb94a2463735af6:d6298cdd04ca4025
default	21:34:54.839067+0000	racoon	state changed to: IKEv1 ident I msg5 sent
default	21:34:54.875670+0000	racoon	seen nptype=5(id)
default	21:34:54.875700+0000	racoon	seen nptype=8(hash)
default	21:34:54.875806+0000	racoon	state changed to: IKEv1 ident I msg6 rcvd
default	21:34:54.875854+0000	racoon	state changed to: Phase 1 Established
default	21:34:54.875888+0000	racoon	ISAKMP-SA established spi:1fb94a2463735af6:d6298cdd04ca4025
default	21:34:54.875926+0000	racoon	IPSec Phase 1 established (Initiated by me).
default	21:34:54.956880+0000	racoon	IKE packet received from peer... rescheduling send_r_u.
default	21:34:54.957278+0000	racoon	MODE_CFG packet
default	21:34:54.957468+0000	racoon	Configuration exchange type mode config REQUEST
default	21:34:54.957498+0000	racoon	sending vpn_control xauth need info status
default	21:34:54.957602+0000	racoon	IPSec Extended Authentication requested.
default	21:34:54.976855+0000	racoon	received xauth info command vpn control socket.
default	21:34:54.976950+0000	racoon	New Phase 2
default	21:34:54.976973+0000	racoon	state changed to: IKEv1 info
default	21:34:54.977019+0000	racoon	MODE_CFG packet to send
default	21:34:54.978343+0000	racoon	sendto mode config attr.
default	21:34:54.978486+0000	racoon	IPSec Extended Authentication sent.
default	21:34:55.017046+0000	racoon	MODE_CFG packet
default	21:34:55.017340+0000	racoon	Configuration exchange type mode config SET
default	21:34:55.017483+0000	racoon	IPSec Extended Authentication Passed.
default	21:34:55.017554+0000	racoon	Sending MODE_CFG ACK
default	21:34:55.017630+0000	racoon	New Phase 2
default	21:34:55.017699+0000	racoon	state changed to: IKEv1 info
default	21:34:55.017855+0000	racoon	MODE_CFG packet to send
default	21:34:55.018827+0000	racoon	sendto mode config attr.
default	21:34:55.018874+0000	racoon	Sending MODE_CFG REQUEST
default	21:34:55.018930+0000	racoon	New Phase 2
default	21:34:55.018997+0000	racoon	state changed to: IKEv1 info
default	21:34:55.019454+0000	racoon	MODE_CFG packet to send
default	21:34:55.020581+0000	racoon	Resend Phase 2 packet 1fb94a2463735af6:d6298cdd04ca4025:00008b03
default	21:34:55.020629+0000	racoon	IPSec Network Configuration requested.
default	21:34:55.059803+0000	racoon	MODE_CFG packet
default	21:34:55.060261+0000	racoon	Configuration exchange type mode config REPLY
default	21:34:55.060328+0000	racoon	IPSec Network Configuration established.
default	21:34:55.060450+0000	racoon	>>>>> phase change status = Phase 1 established
default	21:34:55.115767+0000	racoon	192.168.20.5[500] used as isakmp port (fd=30)
default	21:34:55.115843+0000	racoon	192.168.20.5[4500] used as isakmp port (fd=31)
default	21:34:55.118398+0000	nesessionmanager	IPSec Controller: sending START_PH2 to racoon control socket
default	21:34:55.118671+0000	racoon	received start_ph2 command on vpn control socket.
error	21:34:55.118716+0000	nesessionmanager	racoon_trigger_phase2 sent ping, wrote 8
error	21:34:55.118742+0000	nesessionmanager	racoon_trigger_phase2 sent ping, wrote 8
error	21:34:55.118786+0000	nesessionmanager	racoon_trigger_phase2 sent ping, wrote 8
error	21:34:55.118808+0000	nesessionmanager	racoon_trigger_phase2 sent ping, wrote 8
error	21:34:55.118849+0000	nesessionmanager	racoon_trigger_phase2 sent ping, wrote 8
error	21:34:55.118879+0000	nesessionmanager	racoon_trigger_phase2 sent ping, wrote 8
error	21:34:55.118910+0000	nesessionmanager	racoon_trigger_phase2 sent ping, wrote 8
error	21:34:55.122901+0000	nesessionmanager	racoon_trigger_phase2 sent ping, wrote 8
error	21:34:55.123006+0000	nesessionmanager	racoon_trigger_phase2 sent ping, wrote 8
error	21:34:55.123106+0000	nesessionmanager	racoon_trigger_phase2 sent ping, wrote 8
error	21:34:55.124222+0000	nesessionmanager	racoon_trigger_phase2 sent ping, wrote 8
default	21:34:55.126157+0000	racoon	New Phase 2
default	21:34:55.126333+0000	racoon	state changed to: IKEv1 quick I start
default	21:34:55.128417+0000	racoon	Begin QUICK mode.
default	21:34:55.128767+0000	racoon	initiate new phase 2 negotiation: 192.168.1.195[0]<=>82.100.127.28[0]
default	21:34:55.128818+0000	racoon	state changed to: IKEv1 quick I start
default	21:34:55.128879+0000	racoon	IPSec Phase 2 started (Initiated by me).
default	21:34:55.129092+0000	racoon	state changed to: IKEv1 quick I getspi sent
default	21:34:55.129606+0000	racoon	>>>>> phase change status = Phase 2 started
default	21:34:55.129926+0000	racoon	state changed to: IKEv1 quick I getspi done
default	21:34:55.132379+0000	racoon	NAT detected -> UDP encapsulation
default	21:34:55.138092+0000	racoon	Resend Phase 2 packet 1fb94a2463735af6:d6298cdd04ca4025:00002f4e
default	21:34:55.138137+0000	racoon	state changed to: IKEv1 quick I msg1 sent
default	21:34:55.176954+0000	racoon	seen nptype=8(hash)
default	21:34:55.176964+0000	racoon	seen nptype=1(sa)
default	21:34:55.177021+0000	racoon	seen nptype=10(nonce)
default	21:34:55.177244+0000	racoon	seen nptype=5(id)
default	21:34:55.177396+0000	racoon	seen nptype=5(id)
default	21:34:55.177755+0000	racoon	seen nptype=2(prop)
default	21:34:55.178095+0000	racoon	seen nptype=3(trns)
default	21:34:55.178179+0000	racoon	seen nptype=3(trns)
default	21:34:55.178255+0000	racoon	seen nptype=3(trns)
default	21:34:55.178379+0000	racoon	seen nptype=3(trns)
default	21:34:55.178482+0000	racoon	seen nptype=3(trns)
default	21:34:55.178544+0000	racoon	seen nptype=3(trns)
default	21:34:55.178617+0000	racoon	seen nptype=3(trns)
default	21:34:55.178715+0000	racoon	seen nptype=3(trns)
default	21:34:55.178774+0000	racoon	seen nptype=3(trns)
default	21:34:55.193062+0000	racoon	seen nptype=2(prop)
default	21:34:55.193775+0000	racoon	seen nptype=3(trns)
default	21:34:55.199320+0000	racoon	Adjusting my encmode UDP-Tunnel(3)->Tunnel(1)
default	21:34:55.199405+0000	racoon	Adjusting peer's encmode UDP-Tunnel(3)->Tunnel(1)
default	21:34:55.199688+0000	racoon	state changed to: IKEv1 quick I msg2 rcvd
default	21:34:55.204262+0000	racoon	state changed to: IKEv1 quick I addsa
default	21:34:55.205425+0000	racoon	IPsec-SA established (update): satype=3 spi=0x9ea6032 mode=2
default	21:34:55.205663+0000	racoon	state changed to: Phase 2 established
default	21:34:55.205771+0000	racoon	ike_session_ph2_established: ph2 established, spid 11
default	21:34:55.205847+0000	racoon	IPSec Phase 2 established (Initiated by me).
default	21:34:55.206046+0000	racoon	IPsec-SA established (add): satype=3 spi=0xc6d27b64 mode=2
default	21:34:55.206274+0000	racoon	>>>>> phase change status = Phase 2 established
default	21:34:58.220181+0000	racoon	new SA: dir 1....
default	21:34:58.220258+0000	racoon	ike_session_monitor_idle: restart idle-timeout because peer sent data. monitoring dir 0. idle timer 0 s
default	21:34:58.220324+0000	racoon	new SA: dir 2....
default	21:34:58.220356+0000	racoon	ike_session_monitor_idle: restart idle-timeout because i sent data. monitoring dir 0. idle times 0 s
default	21:35:01.420221+0000	racoon	ike_session_monitor_idle: restart idle-timeout because peer sent data. monitoring dir 0. idle timer 0 s
default	21:35:01.420334+0000	racoon	ike_session_monitor_idle: restart idle-timeout because i sent data. monitoring dir 0. idle times 0 s
default	21:35:04.607371+0000	racoon	ike_session_monitor_idle: restart idle-timeout because peer sent data. monitoring dir 0. idle timer 0 s
default	21:35:04.607472+0000	racoon	ike_session_monitor_idle: restart idle-timeout because i sent data. monitoring dir 0. idle times 0 s
default	21:35:07.807082+0000	racoon	ike_session_monitor_idle: restart idle-timeout because peer sent data. monitoring dir 0. idle timer 0 s
default	21:35:07.807204+0000	racoon	ike_session_monitor_idle: restart idle-timeout because i sent data. monitoring dir 0. idle times 0 s

```

if it helps, log events filtering ipsec: 

```
default	21:34:54.957602+0000	racoon	IPSec Extended Authentication requested.
default	21:34:54.976855+0000	racoon	received xauth info command vpn control socket.
default	21:34:54.976950+0000	racoon	New Phase 2
default	21:34:54.976973+0000	racoon	state changed to: IKEv1 info
default	21:34:54.977019+0000	racoon	MODE_CFG packet to send
default	21:34:54.978343+0000	racoon	sendto mode config attr.
default	21:34:54.978486+0000	racoon	IPSec Extended Authentication sent.
default	21:34:55.017046+0000	racoon	MODE_CFG packet
default	21:34:55.017340+0000	racoon	Configuration exchange type mode config SET
default	21:34:55.017483+0000	racoon	IPSec Extended Authentication Passed.
default	21:34:55.017554+0000	racoon	Sending MODE_CFG ACK
default	21:34:55.017630+0000	racoon	New Phase 2
default	21:34:55.017699+0000	racoon	state changed to: IKEv1 info
default	21:34:55.017855+0000	racoon	MODE_CFG packet to send
default	21:34:55.018827+0000	racoon	sendto mode config attr.
default	21:34:55.018874+0000	racoon	Sending MODE_CFG REQUEST
default	21:34:55.018930+0000	racoon	New Phase 2
default	21:34:55.018997+0000	racoon	state changed to: IKEv1 info
default	21:34:55.019454+0000	racoon	MODE_CFG packet to send
default	21:34:55.020581+0000	racoon	Resend Phase 2 packet 1fb94a2463735af6:d6298cdd04ca4025:00008b03
default	21:34:55.020629+0000	racoon	IPSec Network Configuration requested.
default	21:34:55.059803+0000	racoon	MODE_CFG packet
default	21:34:55.060261+0000	racoon	Configuration exchange type mode config REPLY
default	21:34:55.060328+0000	racoon	IPSec Network Configuration established.
default	21:34:55.060450+0000	racoon	>>>>> phase change status = Phase 1 established
default	21:34:55.115767+0000	racoon	192.168.20.5[500] used as isakmp port (fd=30)
default	21:34:55.115843+0000	racoon	192.168.20.5[4500] used as isakmp port (fd=31)
default	21:34:55.118398+0000	nesessionmanager	IPSec Controller: sending START_PH2 to racoon control socket


```



@wmasilva thanks, now to try to figure out what in the packet is different.   With full debugging enabled, can you capture everything between:

```
Jan 22 09:44:27 sol1 pluto[1313774]: "tunnel8"[4] 6.149.27.119 #5: modecfg_inR0(STF_OK)
Jan 22 09:44:27 sol1 pluto[1313774]: "tunnel8"[4] 6.149.27.119 #5: sent ModeCfg reply, expecting Ack {auth=PRESHARED_KEY cipher=AES_CBC_256 integ=HMAC_SHA2_256 group=MODP2048}
```

@wmasilva does Apple's version of racoon have log-levels?   Starting the daemon with 6 `-d`s.

I believe the packet was successfully decrypted.  At least if apple's sources aren't too far from the original racoon.

The inbound packet is decrypted and then recorded:
```
isakmp_cfg_r(iph1, msg)
...
	dmsg = oakley_do_decrypt(iph1, msg, ivm->iv, ivm->ive);
	if (dmsg == NULL) {
		plog(LLV_ERROR, LOCATION, NULL, 
		    "failed to decrypt message\n");
		return;
	}
...
	plog(LLV_DEBUG, LOCATION, NULL, "MODE_CFG packet\n");
	plogdump(LLV_DEBUG, dmsg->v, dmsg->l);
	/* Now work with the decrypted packet */
```
logging:
```
default	09:46:17.563252+0000	racoon	MODE_CFG packet
```
it then continues through:
```
		case ISAKMP_NPTYPE_ATTR: {
			struct isakmp_pl_attr *attrpl;

			attrpl = (struct isakmp_pl_attr *)ph;
			isakmp_cfg_attr_r(iph1, packet->msgid, attrpl);

			break;
		}
...
int
isakmp_cfg_attr_r(iph1, msgid, attrpl) 
...
	plog(LLV_DEBUG, LOCATION, NULL,
	     "Configuration exchange type %s\n", s_isakmp_cfg_ptype(type));
```
logging:
```
default	09:46:17.563502+0000	racoon	Configuration exchange type mode config REPLY
```
it then continues through:
```
	case ISAKMP_CFG_REPLY:
		return isakmp_cfg_reply(iph1, attrpl);
		break;
...
isakmp_cfg_reply(iph1, attrpl)
```
and logs:
```
error	09:46:17.563756+0000	racoon	isakmp_cfg_reply invalid length of isakmp data, expected 4 actual 2
```
but unfortunately I can't find that in the original source.

My hunch is one of the attributes with:
```
		type = ntohs(attr->type);
		alen = ntohs(attr->lorv);

		/* Check that the attribute fit in the packet */
		if (tlen < alen) {
			plog(LLV_ERROR, LOCATION, NULL,
			     "Short attribute %s\n",
			     s_isakmp_cfg_type(type));
			return -1;
		}
```
where `tlen` is the remaining bytes in the payload, and `alen` is the current attribute's length within that payload.

I guess the other possibility is this:
```
	tlen = ntohs(attrpl->h.len);
	attr = (struct isakmp_data *)(attrpl + 1);
	tlen -= sizeof(*attrpl);
```
which, in my sources, is not even checked!

Apple's code was hiding in plain [sight](https://github.com/apple-oss-distributions/ipsec)
```
int
isakmp_cfg_reply(iph1, attrpl)
	phase1_handle_t *iph1;
	struct isakmp_pl_attr *attrpl;
{
	struct isakmp_data *attr;
	int tlen;
	size_t alen;
	char *npp;
	int type;
	int error;

	if (iph1->mode_cfg->flags & ISAKMP_CFG_GOT_REPLY)
		return 0;	/* already received this - duplicate packet */
		
	tlen = ntohs(attrpl->h.len);
	attr = (struct isakmp_data *)(attrpl + 1);
	tlen -= sizeof(*attrpl);

	while (tlen > 0) {
		if (tlen < sizeof(struct isakmp_data)) {
			plog(ASL_LEVEL_ERR,
				 "isakmp_cfg_reply invalid length of isakmp data, expected %zu actual %d\n",
				 sizeof(struct isakmp_data), tlen);
			return -1;
		}
		type = ntohs(attr->type);
```


Hi,

I couldn't find a option to increase debug in mac client.. i'm investigating if i can get more info. 
Compile a new git version, here it is result with full log when connecting

ERROR: when setting leftsubnet=192.168.20.0/24
[libreswan_5.1_racoon_KO.txt](https://github.com/user-attachments/files/18672382/libreswan_5.1_racoon_KO.txt)

SUCCESS: when setting leftsubnet=0.0.0.0/24
[libreswan_5.1_racoon_OK.txt](https://github.com/user-attachments/files/18672381/libreswan_5.1_racoon_OK.txt)

Thanks, 

Here's the difference:

With 0.0.0.0 (aka good), it skips CISCO_SPLIT_INC, which means it can skip padding:

```
Feb 05 13:34:06 sol1 pluto[669730]: | We are 0.0.0.0/0 so not sending CISCO_SPLIT_INC
Feb 05 13:34:06 sol1 pluto[669730]: | no IKEv1 message padding required
Feb 05 13:34:06 sol1 pluto[669730]: | emitting length of ISAKMP Mode Attribute: 24
```

but with /24 (aka bad), it sends CISCO_SPLIT_INC, which means it needs padding:

```
Feb 05 13:28:13 sol1 pluto[617151]: | We are sending our subnet as CISCO_SPLIT_INC
Feb 05 13:28:13 sol1 pluto[617151]: | ****emit ISAKMP ModeCfg attribute:
Feb 05 13:28:13 sol1 pluto[617151]: |    ModeCfg attr type: CISCO_SPLIT_INC (0x7004)
Feb 05 13:28:13 sol1 pluto[617151]: | *****emit CISCO split item:
Feb 05 13:28:13 sol1 pluto[617151]: |    IPv4 address: c0 a8 14 00
Feb 05 13:28:13 sol1 pluto[617151]: |    IPv4 mask: ff ff ff 00
Feb 05 13:28:13 sol1 pluto[617151]: | emitting length of ISAKMP ModeCfg attribute: 14
Feb 05 13:28:13 sol1 pluto[617151]: | padding IKEv1 message with 2 bytes
Feb 05 13:28:13 sol1 pluto[617151]: | emitting 2 zero bytes of message padding into ISAKMP Mode Attribute
Feb 05 13:28:13 sol1 pluto[617151]: | emitting length of ISAKMP Mode Attribute: 44
```



> SUCCESS: when setting leftsubnet=0.0.0.0/24

not sure if relevant, by mistake i copy/past  and introduce the /24, in the conf is leftsubnet=0.0.0.0/0 . 

Grepping:
```
 grep -e 'emitting 2 zero bytes of message padding into ISAKMP Mode Attribute' -e 'We are sending our subnet as CISCO_SPLIT_INC' testing/pluto/*/OUTPUT/*.pluto.log
```
turns up plenty of tests, such as `ikev1-hostpair-01`, that add the padding.  Looking at libreswan's code.  The termination check is:
```
	lset_t resp = LEMPTY;
	while (pbs_left(attrs) >= isakmp_xauth_attribute_desc.size) {
		struct isakmp_attribute attr;
		struct pbs_in strattr;
```
(isakmp_xauth_attribute_desc.size is 4) 

where as apple,  [4 years ago](https://github.com/apple-oss-distributions/ipsec/commit/adf38ee1be135510167c62f0a965a61f45ce4836#diff-9f32697ff959d0edc867e10590c1a1c9fc3de598be7e2cff3ad6cc87908c2ecd) , added to `isakmp_cfg.c` the rough equivalent:
```
		if (tlen < sizeof(struct isakmp_data)) {
			plog(ASL_LEVEL_ERR,
				 "isakmp_cfg_reply invalid length of isakmp data, expected %zu actual %d\n",
				 sizeof(struct isakmp_data), tlen);
			return -1;
		}
```
but treated it as an error.

So this might have been there for some time, but only by recently testing `leftsubnet=192.168.20.0/24` has it been discovered.

I need to go back to #1857 and resolve the _is subnet=.../24_ needed question.


btw, v4.x also has tests emitting the 2-byte padding

@wmasilva you could try adding `ikepad=no` to the config

ref ab763468da8d8f33d5c7ac3d7281f704d60aed7d

The padding code has this comment
```
 * In IKEv1, some implementations (including freeswan/openswan/libreswan)
 * interpreted the RFC that the whole IKE message must padded to a multiple
 * of 4 octets, but other implementations (i.e. Checkpoint in Aggressive Mode)
 * drop padded IKE packets. Some of the text on this topic can be found in the
 * IKEv1 RFC 2408 section 3.6 Transform Payload.
```
the relevant text seems to be:

_If the SA Attributes are not aligned on 4-byte boundaries, then subsequent payloads will not be aligned and any padding will be added at the end of the message to make the message 4-octet aligned._

but libreswan v4_maint and v5.x are also padding the MODE_CFG payload.



> [@wmasilva](https://github.com/wmasilva) you could try adding `ikepad=no` to the config

It connects. 
But with this setup only traffic to 192.168.20.0/24 is send over the tunnel.


v3.32 libreswan also pads the MODE_CFG payload.  So libreswan's broken padding is pretty old.

> v3.32 libreswan also pads the MODE_CFG payload. So libreswan's broken padding is pretty old.

Actually, v3.32 (when ikev1_xauth.c appeared) padded:

- modecfg_resp()
- xauth_send_request()
- xauth_send_status()
- xauth_client_ackstatus()

but not:

- xauth_client_resp()
it has the comment `/* do not PAD here, */`

and this is unchanged.